﻿<!--<div data-bind="css: symbol, attr: { 'class': status }"></div>-->
<div>
    <div class="bs-sensor-container">
        <div class="bs-sensor" data-bind="click: openDialog">
            <div class="bs-sensor-wrapper">
                <div class="bs-sensor-stiel" data-bind="style: { height: stiellaenge + 'px', transform: 'rotate(' + winkel + 'deg)', '-webkit-transform': 'rotate(' + winkel + 'deg)', '-moz-transform': 'rotate(' + winkel + 'deg)' }"></div>
            </div>
            <div class="bs-waechter-kopf" data-bind="text: sensortyp, css: status"></div>
        </div>
    </div>
</div>