﻿<div class="wf-alarm-viewer" data-bind="if: hasAuthorization, style: { height: height() ? height() + 'px' : 'auto' }">
    <div class="wf-panel" data-bind="css: panelBarCssClass">
        <!-- ko if: headerVisibility -->
        <div class="panel-heading">
            <div class="pull-right wf-panel-toolbar">
                
                <!-- ko if: ackButtonVisibility -->
                <wf-alarm-ack-dialog-button params="isModalDialogsDraggable: isModalDialogsDraggable, buttonCss: buttonBarCssClass, onlineAlarms: onlineAlarms"></wf-alarm-ack-dialog-button>
                <!-- /ko -->

                <!-- ko if: configurationButtonVisibility -->
                <wf-configuration params="controlType: controlType,
                                  getConfiguration: function(){ return getConfig(); },
                                  loadConfiguration: function(content){ loadConfig(content); },
                                  namespace : configurationNamespace,
                                  buttonBarCssClass: buttonBarCssClass,
                                  buttonBarIconClass: configurationButtonIconClass,
                                  isModalDialogsDraggable: isModalDialogsDraggable,
                                  showOnlyOwnConfigurations: showOnlyOwnConfigurations" />
                <!-- /ko-->

                <!--<div class="btn-group">-->
                <!-- ko ifnot: onlineAlarmsMode -->
                <button type="button" data-bind="css: buttonBarCssClass, click: applyFilterSettings" title="{{connector.translate('I4SCADA_Refresh')()}}">
                    <i class="wf wf-arrow-refresh-right"></i>
                </button>
                <!-- /ko-->
                <!-- ko if: settingsButtonVisibility -->
                <button type="button" data-bind="css: settingsButtonBarCssClass, click: showSettings" title="{{connector.translate('I4SCADA_Settings')()}}">
                    <span class="wf wf-filter"></span>
                </button>
                <!-- /ko -->
                <!--</div>-->



                <!-- ko if: templateSwitchVisibility -->
                <button class="btn btn-default inline" type="button" data-bind="css: buttonBarCssClass, checkbox: tableView" title="{{connector.translate('I4SCADA_Switch_View_Between_Tiles_And_Table')()}}">
                    <i class="wf" data-bind="css: { 'wf-menu': tableView, 'wf-thumbs': !tableView() }"></i>
                </button>
                <!-- /ko -->
            </div>
            <h3 class="panel-title overflow-x-ellipsis p-r-md" data-part="panelHeader" data-bind="css: {'pull-left':  newChunkOfflineAlarmsLoading}">
                <span data-bind="text: titleText"></span> &nbsp;
                <span class="label label-black">
                    <span data-bind="text: onlineAlarms().length"></span>
                </span>
                &nbsp;
                <span class="label label-info" data-bind="visible: showFilterActivLabel">
                    <i class="wf wf-filter-o"></i>
                    <span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Filter_active' }"></span>
                </span>

                <!-- ko ifnot: onlineAlarmsMode -->
                &nbsp;
                <span class="label label-info">
                    <i class="wf wf-database"></i>
                    Offline
                </span>
                <!-- /ko -->
            </h3>
            <!-- ko if: newChunkOfflineAlarmsLoading-->
            <div class="spinner m-a-0" style="width:20px;height:20px;" />
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko ifnot: busyContext.active -->
        <div class="spinner"><span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Loading...' }"></span></div>
        <!-- /ko -->
        <!-- ko if: busyContext.active -->
        <div class="relative">
            <div class="panel-body p-a-0">
                <div class="overflow-y-scroll p-a-md" data-bind="style: {height: panelBodyHeight() ? panelBodyHeight() + 'px' : 'auto' },
                     infiniteScroll: { endScrollCallback: function() { getNewChunkAlarms(); }, selectorOfInnerWithoutScrollObject: panelBodyHeight() ? (tableView() ? 'table' : '.wf-alarm-viewer-cards') : '' },
                     attr: {id: 'wrap_' + ID() }  ">

                    <!-- ko ifnot: tableView -->
                    <div data-bind="tmplAlarmList: { alarms: onlineAlarms, selectAlarm: function(data) { selectAlarm(data, $data) }, fields:  fields, dateTimeFormat: dateTimeFormat }"></div>
                    <!-- /ko -->
                    <!-- ko if: tableView -->
                    <div class="row">
                        <div data-bind="tmplAlarmTable: { alarms: onlineAlarms, sortingData: sortingData, selectAlarm: function(data) { selectAlarm(data, $data) }, columns:  columns, columnsHeaderVisibility: columnsHeaderVisibility, rowNumberVisibility: rowNumberVisibility, tableWrapperID: 'wrap_' + ID(), dateTimeFormat: dateTimeFormat}"></div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div data-bind="attr: { id: 'modal-settings-back-container-' + ID() }">
        <div class="modal fade wf-panel-settings wf-component-configuration-dialog" tabindex="-1" role="dialog" data-bind="modalDialog: {show: showDialog, draggable: isModalDialogsDraggable}, attr: { id: 'modal-settings-' + ID() }"
            style="display: none;">
            <div class="modal-dialog modal-top">
                <div class="modal-content">
                    <div class="modal-header modal-primary">
                        <button style="color: rgb(255,255,255)" type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: closeSettings">&times;</button>
                        <h4 class="modal-title">
                            <span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Settings' }"></span>
                        </h4>
                    </div>

                    <div class="modal-body wf-panel-settings">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5>{{ connector.translate('I4SCADA_Mode')()}}</h5>
                            </div>
                        </div>
                        <div class="row m-b-sm">
                            <div class="col-sm-6">
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group">
                                        <button type="button" class="btn" data-bind="css: {'btn-primary': isOnlineMode(), 'btn-default': !isOnlineMode()}, click: function() { isOnlineMode(true); } ">
                                        <i class="wf wf-warning-reload"></i>
                                        <span>Online</span>
                                    </button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn" data-bind="css: {'btn-primary': !isOnlineMode(), 'btn-default': isOnlineMode()}, click: function() { isOnlineMode(false); } ">
                                        <i class="wf wf-database"></i>
                                        <span>Offline</span>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row p-t">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <h5><span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_From' }"></span> </h5>
                                    <div class='input-group date' id="fromDate" data-bind="datepicker: filter.startDate, datepickerOptions: { locale: 'de', maxDate: filter.endDate }">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                        <span class="wf wf-clock"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- ko if: !onlineAlarmsMode() -->
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <h5><span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_To' }"></span> </h5>
                                    <div class='input-group date' id="toDate" data-bind="datepicker: filter.endDate, datepickerOptions: { locale: 'de', minDate: filter.startDate }">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                        <span class="wf wf-clock"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->

                            <div class="col-sm-6">
                                <h5><span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Maximum_number_of_records' }"></span></h5>
                                <input class="form-control" type="number" data-bind="value: filter.maxRowCount, valueUpdate: 'afterkeydown', event:{ change: filtersChanged}"
                                />
                            </div>

                        </div>

                        <div class="row p-b">
                            <!-- ko if: groupFilterVisibility -->
                            <div class="col-sm-6 form-group">
                                <h5><span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Alarm_groups' }"></span></h5>

                                <div class="dropdown">
                                    <button class="btn btn-default form-control" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Alarm_groups' }"></span>
                                    <span class="caret"></span>
                                </button>
                                    <ul class="dropdown-menu" data-bind="foreach: alarmGroups">
                                        <li>
                                            <a class="small"><input type="checkbox" data-bind="checked: $parent.selectedAlarmGroups, checkedValue: SymbolicTextName, event:{ change: $parent.filtersChanged }"
                                                />{{SymbolicTextTranslation}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: stateFilterVisibility -->
                            <div class="col-sm-6 form-group">
                                <h5><span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Alarm_status' }"></span></h5>
                                <select class="form-control" data-bind="options: availableAlarmStates, selectedOptions: filter.alarmStatusFilter, optionsText: 'Description', optionsValue: 'Number', value: filter.alarmStatusFilter, event:{ change: filtersChanged}"></select>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: typeFilterVisibility -->
                            <div class="col-sm-6 form-group">
                                <h5><span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Alarm_typ' }"></span></h5>

                                <div class="dropdown">
                                    <button type="button" class="btn btn-default form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Alarm_typ' }"></span>
                                    <span class="caret"></span>
                            </button>
                                    <ul class="dropdown-menu" data-bind="foreach: alarmTypes">
                                        <li>
                                            <a class="small"><input type="checkbox" data-bind="checked: $parent.selectedAlarmTypes, checkedValue: SymbolicTextName, event:{ change: $parent.filtersChanged }"
                                                />{{SymbolicTextTranslation}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: priorityFilterVisibility-->
                            <div class="col-sm-6 form-group">
                                <h5><span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Alarm_priority' }"></span></h5>
                                <select class="form-control" data-bind="options: alarmPrioritys, optionsCaption: '*', optionsValue: $data, value: tempSelectedAlarm, event:{ change: filtersChanged}"></select>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: columnFilterVisibility-->
                            <div class="col-sm-6 form-group">
                                <h5><span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Alarm_column' }"></span></h5>
                                <select class="form-control" data-bind="options: availableColumnFilters,
                                                                optionsText: 'name',
                                                                optionsValue: 'id',
                                                                value: filter.column,
                                                                event:{ change: filtersChanged}"></select>
                            </div>

                            <div class="col-sm-6 form-group">
                                <h5><span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Alarm_column_filter_pattern' }"></span></h5>
                                <input class="form-control" type="text" data-bind="value: columnFilters, event:{ change: filtersChanged}, disable: filter.column() === 0"
                                />
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="btn-group">
                            <button class="btn btn-success" data-bind="click: handleApplyFilterSettings, enable: filtersChanged">
                            <i class="wf-lg wf-check"></i>
                            <span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Apply' }"></span>
                        </button>
                            <button class="btn btn-default" data-bind="click: closeSettings">
                            <i class="wf wf-close-round-o"></i>
                            {{connector.translate('I4SCADA_Close')()}}
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>