﻿<style>
    .modal {
        z-index: 1055;
    }
</style>
<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-primary normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Zustand und Handbetrieb -->
                <div class="row">
                    <div class="modal-content-title">
                        <span class="col-sm-4 bs_widget_beschriftungen">Zustand:</span><span class="col-sm-7" data-bind="text: zustand, style: { color: textFarbe }"></span><span class="wf wf-hand bs_handfarbe fa-2x col-sm-1" data-bind="style: { visibility: handbetrieb }"></span>
                    </div>
                </div>
                <!-- Zustand Hardwareschalter wenn vorhanden -->
                <div class="row">
                    <div class="modal-content-title" data-bind="style: { display: hws }">
                        <span class="col-sm-4 bs_widget_beschriftungen">Zustand Hardwareschalter:</span><span class="col-sm-8" data-bind="text: zustandHws, style: { color: textFarbe }"></span>
                    </div>
                </div>
                    <!-- Betriebswahl -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-4 bs_widget_beschriftungen">Anlage Betriebswahl:</div>
                        <div class="col-lg-8 pull-right">
                            <select class="bs_select_betrwahl pull-right" data-bind="options: options, optionsText: 'name', optionsValue: 'wert', value: selectedOptionValue, event: { change: changed }"></select>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>