﻿<style>
    .modal {
        /*z-index: 1055;*/
    }
</style>

<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-sm-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogTitle"></span><button class="btn btn-xs btn-primary normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Zustand handling -->
                <div class="row">
                    <div class="col-sm-6 bs_widget_beschriftungen"><span>Zustand: </span><span data-bind="text: widget.getObjectZustandName()"></span></div>
                    <div class="col-sm-6">
                        <span class="wf wf-hand bs_handfarbe fa-2x pull-right" data-bind="style: { visibility: widget.handbetrieb }"></span>
                    </div>
                </div>
                <!-- ko if: widget.hasAuthorization -->
                <div class="row">
                    <div class="col-lg-2">
                        <input type="button" class="btn btn-xs btn-primary" value="Erweitert" data-bind="click: bedienung" />
                    </div>
                </div>
                <!-- /ko -->
                <div data-bind="style: { display: erweitert }">
                    <!-- Betriebswahl handling -->
                    <div class="row" style="margin-top:8px">
                        <div class="col-sm-8 bs_widget_beschriftungen"><span>Betriebswahl:</span></div>
                        <div class="col-sm-4">
                            <select class="form-control pull-right input-sm" data-bind="options: widget.betriebswahlOptions, optionsText: 'name', optionsValue: 'value', value: widget.plcBetriebswahlValue(), event: { change: changed }"></select>
                        </div>
                    </div>
                    <br>
                    <!-- SollwertEingabe handling -->
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Grenzwert Tag</th>
                                        <th>Grenzwert Nacht</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-nowrap vertical-middle">Ausschaltgrenze</td>
                                        <td data-bind="bsSollwertEingabe:{signalName: widget.plcHeizgrenzeTagSignalName, einheit: widget.einheit}"></td>
                                        <td data-bind="bsSollwertEingabe:{signalName: widget.plcHeizgrenzeNachtSignalName, einheit: widget.einheit}"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-nowrap vertical-middle">Hysterese</td>
                                        <td data-bind="bsSollwertEingabe:{signalName: widget.plcHystereseTagSignalName, einheit: 'K'}"></td>
                                        <td data-bind="bsSollwertEingabe:{signalName: widget.plcHystereseNachtSignalName, einheit: 'K'}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
