﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-primary normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="modal-content-title">
                        <span class="col-sm-2 bs_widget_beschriftungen">Zustand:</span><span class="col-sm-9" data-bind="text: zustand"></span><span class="wf wf-hand bs_handfarbe fa-2x col-sm-1" data-bind="style: { visibility: handbetrieb }"></span>
                    </div>
                </div>
                <!-- Betriebsstunden handling -->
                <!-- Stufe 1 -->
                <div data-bind="style: { display: visStufe1 }" class="row" style="margin-top: 16px;">
                    <div class="col-lg-4 bs_widget_beschriftungen">Betriebsstunden Stufe 1:</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.betrStdValue1()"></div><div class="col-lg-4 bs_widget_beschriftungen">Einschaltungen: Stufe 1</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.einschValue1()"></div><div class="pull-right col-lg-2"><button class="btn btn-xs btn-primary normal pull-right" type="button" data-bind="click: function() { widget.resetZaehler(1); }">Reset</button></div>
                </div>
                <!-- Stufe 2 -->
                <div data-bind="style: { display: visStufe2 }" class="row" style="margin-top: 4px;">
                    <div class="col-lg-4 bs_widget_beschriftungen">Betriebsstunden Stufe 2:</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.betrStdValue2()"></div><div class="col-lg-4 bs_widget_beschriftungen">Einschaltungen: Stufe 2</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.einschValue2()"></div><div class="pull-right col-lg-2"><button class="btn btn-xs btn-primary normal pull-right" type="button" data-bind="click: function() { widget.resetZaehler(1); }">Reset</button></div>
                </div>
                    <!-- Betriebswahlen -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-4 bs_widget_beschriftungen">Motor Betriebswahl:</div>
                        <div class="col-lg-8 pull-right">
                            <select class="bs_select_betrwahl pull-right" data-bind="options: options, optionsText: 'name', optionsValue: 'wert', value: selectedOptionValue, event: { change: changed }"></select>
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-lg-2">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>