﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-primary normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="modal-content-title">
                        <span class="col-sm-2 bs_widget_beschriftungen">Zustand:</span><span class="col-sm-9" data-bind="text: zustand, style: { color: textFarbe }"></span><span class="wf wf-hand bs_handfarbe fa-2x col-sm-1" data-bind="style: { visibility: handbetrieb }"></span>
                    </div>
                </div>
                <!-- Alarm handling -->
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-1 bs_widget_beschriftungen">Alarme:</div>
                    <div class="col-lg-10">
                        <ul data-bind="foreach: alarms">
                            <li class="bs_alarmliste"><div data-bind="text: alarm"></div></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top: 4px;">
                    <div class="col-lg-1">
                        <button type="button" data-bind="css: quitBtn, click: function() { widget.setAlarmQuit(31); }">Quittieren</button>
                    </div>
                </div>
                <!-- Betriebsstunden handling -->
                <!-- Stufe 1 -->
                <div data-bind="style: { display: visStufe1 }" class="row" style="margin-top: 16px;">
                    <div class="col-lg-4 bs_widget_beschriftungen">Betriebsstunden Stufe 1:</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.betrStd1stValue()"></div><div class="col-lg-4 bs_widget_beschriftungen">Einschaltungen: Stufe 1</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.einsch1StValue()"></div><div class="pull-right col-lg-2"><button class="btn btn-xs btn-primary normal pull-right" type="button" data-bind="click: function() { widget.resetZaehlerSt1(1); }">Reset</button></div>
                </div>
                <!-- Stufe 2 -->
                <div data-bind="style: { display: visStufe2 }" class="row" style="margin-top: 4px;">
                    <div class="col-lg-4 bs_widget_beschriftungen">Betriebsstunden Stufe 2:</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.betrStd2stValue()"></div><div class="col-lg-4 bs_widget_beschriftungen">Einschaltungen: Stufe 2</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.einsch2StValue()"></div><div class="pull-right col-lg-2"><button class="btn btn-xs btn-primary normal pull-right" type="button" data-bind="click: function() { widget.resetZaehlerSt2(1); }">Reset</button></div>
                </div>
                <!-- Stufe 3 -->
                <div data-bind="style: { display: visStufe2 }" class="row" style="margin-top: 4px;">
                    <div class="col-lg-4 bs_widget_beschriftungen">Betriebsstunden Stufe 3:</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.betrStd3stValue()"></div><div class="col-lg-4 bs_widget_beschriftungen">Einschaltungen: Stufe 3</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.einsch3StValue()"></div><div class="pull-right col-lg-2"><button class="btn btn-xs btn-primary normal pull-right" type="button" data-bind="click: function() { widget.resetZaehlerSt3(1); }">Reset</button></div>
                </div>
                <!-- Total -->
                <div class="row" style="margin-top: 4px;">
                    <div class="col-lg-4 bs_widget_beschriftungen">Betriebsstunden Total:</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.betrStdTotalValue()"></div><div class="col-lg-4 bs_widget_beschriftungen">Einschaltungen Total:</div><div class="col-lg-1 bs_betr_std" data-bind="text: widget.einschTotalValue()"></div>
                </div>
                <!-- Bereich der nur mit entsprechenden Berechtigungen zugänglich sein soll -->
                <!-- ko if: hasAuthorization -->
                <div class="row bs_row">
                    <div class="col-lg-2">
                        <input type="button" class="btn btn-xs btn-primary" value="Erweitert" data-bind="click: bedienung" />
                    </div>
                </div>
                <!-- /ko -->
                <div data-bind="style: { display: erweitert }">
                    <!-- Betriebswahlen -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-4 bs_widget_beschriftungen">Motor Betriebswahl:</div>
                        <div class="col-lg-8 pull-right">
                            <select class="bs_select_betrwahl pull-right" data-bind="options: options, optionsText: 'name', optionsValue: 'wert', value: selectedOptionValue, event: { change: changed }"></select>
                        </div>
                    </div>
                    <!-- Alarmunterdrückung -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-12">
                            <div><label class="bs_widget_beschriftungen">Alarmunterdrückung:<input class="bs_alarmunterdrueckung" type="checkbox" value="alarmunterdrueckung" data-bind="checked: alarmeunterdr, event: { change: changedAlarmeunterdr }" /></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-lg-2">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>