﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top bs-schmal bs-widget-wochenschaltuhr">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-primary normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Wochentag</th>
                            <th style="text-align:center">Ein</th>
                            <th style="text-align:center">Aus</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widget.days">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td class="switchtimeOn" data-bind="bsTimeInput: { signalName: onTime }, css: 'color-schaltuhr-zeit-ein'"></td>
                            <td class="switchtimeOff" data-bind="bsTimeInput: { signalName: offTime }, css: 'color-schaltuhr-zeit-aus'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>