﻿<style>
    .modal {
        z-index: 1055;
    }
</style>
<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-primary normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Zustand handling -->
                <div class="row">
                    <div class="modal-content-title">
                        <span class="col-sm-2 bs_widget_beschriftungen">Zustand:</span><span class="col-sm-9" data-bind="text: zustand, style: { color: textFarbe }"></span><span class="wf wf-hand bs_handfarbe fa-2x col-sm-1" data-bind="style: { visibility: handbetrieb }"></span>
                    </div>
                </div>
                <!-- Sollwerte -->
                <div class="row">
                    <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: 'Berechneter Sollwert: '"></div><div class="col-lg-2 pull-right" data-bind="bsAusgabefeld: { signalName: widget.modulname+'.W_rAktuellerWert', typ: 'berechnetersollwert', einheit: widget.unit }">???</div>
                </div>
                <!-- Alarm handling -->
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-1 bs_widget_beschriftungen">Alarme:</div>
                    <!--<textarea class="col-lg-10 col-lg-push-1 bs_dialog_alarmmeldungen" data-bind="text: alarms"></textarea>-->
                    <div class="col-lg-10">
                        <ul data-bind="foreach: alarms">
                            <li class="bs_alarmliste"><div data-bind="text: alarm"></div></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top: 4px;">
                    <div class="col-lg-1">
                        <button type="button" data-bind="css: quitBtn, click: function() { widget.setAlarmQuit(31); }">Quittieren</button>
                    </div>
                </div>
                <!-- Grafikbereich z.Z. nur statisch -->
                <div class="row">
                    <div class="bs-schiebungDiagramm"></div>
                </div>
                <!-- Bereich der nur mit entsprechenden Berechtigungen zugänglich sein soll -->
                <!-- ko if: hasAuthorization -->
                <div class="row" style="margin-top: 16px;">
                    <div class="col-lg-2">
                        <input type="button" class="btn btn-xs btn-primary" value="Erweitert" data-bind="click: bedienung" />
                    </div>
                </div>
                <!-- /ko -->
                <div data-bind="style: { display: erweitert }">
                    <!-- Betriebswahl -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-4 bs_widget_beschriftungen">Betriebswahl:</div>
                        <div class="col-lg-8 pull-right">
                            <select class="bs_select_betrwahl pull-right" data-bind="options: options, optionsText: 'name', optionsValue: 'wert', value: selectedOptionValue, event: { change: changed }"></select>
                        </div>
                    </div>
                    <!-- Sollwerte -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-3 bs_widget_beschriftungen">X-Punkt 1: [°C]</div><div class="col-lg-3"><div data-bind="bsSollwertEingabe:{signalName: widget.modulname+'.R_rX1', authorisierung: 'Administration' }"></div></div>
                        <div class="col-lg-3 bs_widget_beschriftungen">Y-Punkt 1: [°C]</div><div class="col-lg-3"><div data-bind="bsSollwertEingabe:{signalName: widget.modulname+'.R_rY1', authorisierung: 'Administration' }"></div></div>
                    </div>
                    <div class="row" style="margin-top: 4px;">
                        <div class="col-lg-3 bs_widget_beschriftungen">X-Punkt 2: [°C]</div><div class="col-lg-3"><div data-bind="bsSollwertEingabe:{signalName: widget.modulname+'.R_rX2', authorisierung: 'Administration' }"></div></div>
                        <div class="col-lg-3 bs_widget_beschriftungen">Y-Punkt 2: [°C]</div><div class="col-lg-3"><div data-bind="bsSollwertEingabe:{signalName: widget.modulname+'.R_rY2', authorisierung: 'Administration' }"></div></div>
                    </div>
                    <!-- Alarmunterdrückung -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-12">
                            <div><label class="bs_widget_beschriftungen">Alarmunterdrückung:<input class="bs_alarmunterdrueckung" type="checkbox" value="alarmunterdrueckung" data-bind="checked: alarmeunterdr, event: { change: changedAlarmeunterdr }" /></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
