﻿<style>
    .modal {
        z-index: 1055;
    }
</style>
<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-primary normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Zustand handling -->
                <div class="row">
                    <div class="modal-content-title">
                        <span class="col-sm-2 bs_widget_beschriftungen">Zustand:</span><span class="col-sm-9" data-bind="text: zustand, style: { color: textFarbe }"></span><span class="wf wf-hand bs_handfarbe fa-2x col-sm-1" data-bind="style: { visibility: handbetrieb }"></span>
                    </div>
                </div>
                <!-- Iswert -->
                <div class="row" style="margin-top: 16px;">
                    <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: 'Ist-Wert: '"></div><div class="col-lg-2 pull-right" data-bind="bsAusgabefeld: { signalName: widget.signalname, typ: 'istwert', einheit: widget.unit, dezimalstellen: 0 }">???</div>
                </div>
                <!-- Festwerteingabe -->
                <div class="row" style="margin-top: 16px;">
                    <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: 'Handwert ['+widget.unit+']:'"></div><div class="col-lg-2 pull-right" data-bind="bsSollwertEingabe:{signalName: widget.handwert_signalname}"></div>
                </div>
                <!-- Betriebswahl -->
                <div class="row" style="margin-top: 16px;">
                    <div class="col-lg-4 bs_widget_beschriftungen">Betriebswahl:</div>
                    <div class="col-lg-8 pull-right">
                        <select class="bs_select_betrwahl pull-right" data-bind="options: options, optionsText: 'name', optionsValue: 'wert', value: selectedOptionValue, event: { change: changed }"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>