﻿﻿<!-- ko addAuthorizationClass: hasNoAuthorization -->
<!-- ko if:hasAuthorization() && isVisible()-->
<div class="stretched" data-bind="css: {'wf-enabled-container': !isDisabled(),'wf-disabled-container': isDisabled()}">
    <div class="wf-modal-dialog-content stretched" data-bind="click: handleShowDialog">
        <!-- ko template: { nodes: $componentTemplateNodes} --><!-- /ko -->
    </div>
    <!-- ko if: isDisabled() -->
    <div class="wf-overlay stretched" data-bind="style: {backgroundColor: disableOverlayColor}" style="z-index: 100"></div>
    <!-- /ko -->
</div>

<div data-bind="attr: { id: 'modal-dialog-container-' + id() }">
    <div class="modal fade wf-panel-settings wf-component-configuration-dialog" tabindex="-1" role="dialog" data-bind="modalDialog: { show: show, draggable: draggable } , attr: { id: 'modal-dialog-' + id() }" style="display: none;">
        <div class="modal-dialog modal-top">
            <div class="modal-content">
                <div class="modal-header modal-primary">
                    <button style="color: rgb(255,255,255)" type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: close">&times;</button>
                    <div class="modal-title"><strong>{{connector.translate(title)()}}</strong></div>
                </div>

                <div class="modal-body wf-panel-settings" data-bind="css: modalBodyClass, component:{ name: componentName, params: { viewModel: viewModel, connector: connector}}">
                    <!-- This content will be load from view -->
                </div>

                <div class="modal-footer">
                    <!-- ko if: showApplyButton-->
                    <button class="btn btn-primary" data-bind="click: apply">
                        <i class="wf-lg wf-check"></i>
                        {{connector.translate('I4SCADA_Apply')()}}
                    </button>
                    <!-- /ko -->
                    <button class="btn btn-default" data-bind="click: close">
                        <i class="wf wf-close-round-o"></i>
                        {{connector.translate('I4SCADA_Close')()}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
<!-- /ko -->
