﻿<!-- ko addAuthorizationClass: hasNoAuthorization -->
<!-- ko if:hasAuthorization() && isVisible() -->
<div data-bind="attr : {title: tooltipText}">
    <!-- ko if: label -->
    <span class="wf-meter-label">{{connector.translate(label)()}}</span>
    <!-- /ko -->
    <div class="scaling-svg-container" style="padding-bottom: 23.5%;">

        <svg class="scaling-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 223 50" preserveAspectRatio="xMinYMin meet" width="100%" height="100%">
            <defs>
                <linearGradient x1="0%" y1="0%" x2="0%" y2="100%"  data-bind="attr: {id: id()}">
                    <stop offset="0" stop-color="#fff" stop-opacity="0" />
                    <stop offset=".5" stop-color="#fff" stop-opacity=".3" />
                    <stop offset=".5" stop-color="#fff" stop-opacity=".2" />
                    <stop offset="1" stop-opacity="0" />
                </linearGradient>
            </defs>

            <path class="wf-meter-background" d="M5.50893.00033c-.83328.0001-1.50876.7607-1.50884 1.699 0 0-4 15.42016-4 23.30067 0 7.8805 4 23.3007 4 23.3007 0 .93827.6755 1.69888 1.5088 1.69898H217.491c.83328-.0001 1.50876-.7607 1.50884-1.699 0 0 4-15.42017 4-23.30068 0-7.8805-4-23.30068-4-23.30068-.00008-.93828-.67556-1.6989-1.50884-1.699h-59.8988z" />
            <path class="wf-meter-slots-background" d="M7.79102 4.59375v40.8125h207.41796V4.59375H156.5996z" />

            <text class="wf-meter-value-decimals" data-bind="fadeInText: decimalNumbers" text-anchor="start" dx="0 7" x="164" y="32.4">00</text>
            <text class="wf-meter-value" data-bind="fadeInText: fullNumbers" text-anchor="start" dx="0 7 8 7 8 7 8 7 8 7" x="15" y="32.4">1234567</text>

            <path class="wf-meter-inner-stroke" d="M8.3731 3.69724c-.81075.00008-1.46798.6482-1.46806 1.44775v39.71c.00008.7995.6573 1.4476 1.46807 1.4477h206.2538c.8108-.0001 1.468-.6482 1.4681-1.4478V5.145c-.0001-.79955-.6573-1.44768-1.468-1.44776h-58.2802zm1.46808 2.8955h203.31765v36.81454H9.84118z" />
            <path class="wf-meter-value-background" d="M7.79048 4.59346v40.8131H156.6001V4.59346H7.7905zm11.1904 3.74198h4.57557c3.63998 0 6.56983 2.95625 6.56983 6.6284v20.0735c0 3.67215-2.92985 6.6284-6.56983 6.6284h-4.57558c-3.63997 0-6.571-2.95625-6.571-6.6284v-20.0735c0-3.67215 2.93103-6.6284 6.571-6.6284zm20.30925 0h4.57443c3.63998 0 6.57213 2.95625 6.57213 6.6284v20.0735c0 3.67215-2.9322 6.6284-6.5722 6.6284h-4.5744c-3.64 0-6.5699-2.95625-6.5699-6.6284v-20.0735c0-3.67215 2.9298-6.6284 6.5698-6.6284zm20.3081 0h4.57674c3.63998 0 6.56983 2.95625 6.56983 6.6284v20.0735c0 3.67215-2.92985 6.6284-6.56983 6.6284h-4.57673c-3.63998 0-6.56983-2.95625-6.56983-6.6284v-20.0735c0-3.67215 2.9299-6.6284 6.5699-6.6284zm20.31043 0h4.57443c3.6399 0 6.5698 2.95625 6.5698 6.6284v20.0735c0 3.67215-2.9299 6.6284-6.5698 6.6284h-4.5745c-3.64 0-6.5722-2.95625-6.5722-6.6284v-20.0735c0-3.67215 2.9321-6.6284 6.5721-6.6284zm20.3081 0h4.57443c3.6399 0 6.5721 2.95625 6.5721 6.6284v20.0735c0 3.67215-2.9322 6.6284-6.5722 6.6284h-4.5745c-3.64 0-6.5699-2.95625-6.5699-6.6284v-20.0735c0-3.67215 2.92985-6.6284 6.56983-6.6284zm20.3081 0h4.57675c3.64 0 6.5699 2.95625 6.5699 6.6284v20.0735c0 3.67215-2.9298 6.6284-6.5698 6.6284h-4.5767c-3.64 0-6.5698-2.95625-6.5698-6.6284v-20.0735c0-3.67215 2.9299-6.6284 6.5699-6.6284zm20.31043 0h4.5744c3.64 0 6.5698 2.95625 6.5698 6.6284v20.0735c0 3.67215-2.9299 6.6284-6.5699 6.6284h-4.5744c-3.64 0-6.5722-2.95625-6.5722-6.6284v-20.0735c0-3.67215 2.9321-6.6284 6.5721-6.6284z" />
            <path class="wf-meter-decimals-background" d="M156.6001 4.59346v40.8131h58.60943V4.59346H156.6001zm11.40378 3.74198h4.5756c3.63996 0 6.5698 2.95624 6.5698 6.6284v20.07233c0 3.67216-2.92984 6.6284-6.5698 6.6284h-4.5756c-3.63998 0-6.56983-2.95624-6.56983-6.6284V14.96384c0-3.67215 2.92985-6.6284 6.56983-6.6284zm19.984 0h4.57558c3.63998 0 6.56984 2.95624 6.56984 6.6284v20.07233c0 3.67216-2.92986 6.6284-6.56984 6.6284h-4.57558c-3.63997 0-6.56982-2.95624-6.56982-6.6284V14.96384c0-3.67215 2.92985-6.6284 6.56982-6.6284z" />
            <path class="wf-meter-scale" d="M202.6986 8.33526v1.19042h8.8582V8.33526h-8.8582zm4.724 4.0174v1.1904h4.1342v-1.1904h-4.1342zm0 4.01737v1.19042h4.1342v-1.19042h-4.1342zm0 4.01738v1.1905h4.1342v-1.1905h-4.1342zm-4.724 4.0174v1.1905h8.8582v-1.1905h-8.8582zm4.724 4.0174v1.1904h4.1342v-1.1904h-4.1342zm0 4.0174V33.63h4.1342v-1.19043h-4.1342zm0 4.0174v1.1904h4.1342V36.457h-4.1342zm-50.55587.8703a4.77678 4.8143 0 0 0-4.77708 4.8149 4.77678 4.8143 0 0 0 1.27304 3.265h7.0057a4.77678 4.8143 0 0 0 1.2753-3.265 4.77678 4.8143 0 0 0-4.7771-4.8148zm45.83186 3.1471v1.1905h8.8582v-1.1905h-8.8582z" />
            <path class="wf-meter-decimal-point-stroke" stroke-width="1.5" d="M156.73243 38.375c-2.03155.00043-3.68513 1.6698-3.68554 3.71094.002 1.6403 1.0088 2.90452 2.5195 3.38086-.2629 1.56447-.8859 2.67822-1.483 4.20748 1.692-.2681 3.221-1.8582 4.0884-2.85787.8258-.9597 2.2069-2.1631 2.248-4.7226v-.0078c-.0004-2.0416-1.6555-3.7112-3.6875-3.7109zm0 1c1.48582-.0002 2.68273 1.2038 2.68555 2.70703-.0374 2.2202-1.09248 3.02046-2.00586 4.08203-.40064.46566-1.03588.93708-1.5 1.3672.3037-.78985.91602-2.11915.916-2.11915l.16798-.5664-.58593-.0722c-1.3497-.165-2.3616-1.3113-2.36328-2.6875.0003-1.505 1.1985-2.7106 2.6855-2.7109z" />
            <path class="wf-meter-decimal-point" d="M156.7323 38.87512c-1.75927.00037-3.18537 1.43766-3.18573 3.21075.002 1.6228 1.24862 3.18478 2.80264 3.18478 0 0-.4093 1.70795-1.5934 3.77514 1.6145-.7928 2.1663-1.5448 3.0363-2.5559.87-1.0111 2.0888-2.0121 2.1272-4.4041-.0003-1.7736-1.4271-3.211-3.1868-3.2108z" />
            <path class="wf-meter-chrome" data-bind="attr: {fill: 'url(\'#' + id() + '\')'}" d="M5.5085 0C4.6752.0001 4.00007.76067 4 1.69895c0 0-4 15.42042-4 23.30105s4 23.30106 4 23.30106c.00008.93828.6752 1.69885 1.5085 1.69895h211.983c.83328-.0001 1.5084-.7606 1.5085-1.6989 0 0 4-15.4204 4-23.301S219 1.699 219 1.699c-.0001-.93834-.67522-1.6989-1.5085-1.699h-59.8988z" />
        </svg>

    </div>

    <!-- ko if: unitLabel -->
        <!-- ko if: staticUnitText -->
            <div class="wf-meter-unit-label" data-bind="text: staticUnitText, visible: staticUnitText"></div>
        <!-- /ko -->
        <!-- ko ifnot: staticUnitText -->
            <wf-signal-information class="wf-meter-unit-label block" params="signalName: signalName, propertyName: 'Unit'"></wf-signal-information>
        <!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->
<!-- /ko -->