﻿﻿<!-- ko addAuthorizationClass: hasNoAuthorization -->
<!-- ko if:hasAuthorization() && isVisible()-->
<div class="stretched" data-bind="css: {'wf-enabled-container': !isDisabled(),'wf-disabled-container': isDisabled()}">
    <div class="wf-popover-content stretched" data-bind="css: cssClass, bsPopover: {template: template,
                         options: {
                             container: container,
                             content: content,
                             title: title,
                             trigger: trigger,
                             singleMode: singleMode,
                             placement: position,
                             html: html,
                             closeButton: closeButton,
                             closeButtonCssClass: closeButtonCssClass,
                             headerCssClass: headerCssClass,
                             contentCssClass: contentCssClass,
                             width: width,
                             height: height
                        }
                     }">

        <!-- ko template: { nodes: $componentTemplateNodes} --><!-- /ko -->
    </div>
    <!-- ko if: isDisabled() -->
    <div class="wf-overlay stretched" data-bind="style: {backgroundColor: disableOverlayColor}" style="z-index: 100"></div>
    <!-- /ko -->
</div>

<script id="{{'wf-signal-information-popover-' + id()}}" type="text/html">
    <!-- ko component: { name: componentName, params: { viewModel: viewModel, connector: connector }} -->
    <!-- /ko -->
</script>
<!-- /ko -->
<!-- /ko -->
