﻿﻿<!-- ko addAuthorizationClass: hasNoAuthorization -->
<!-- ko if:hasAuthorization() && isVisible()-->
<div class="signal-information-popover-container">
    <wf-popover class="col-xs-1" params="viewName:'signal-information', viewModel: {popoverContent: popoverContent}, title:title, container: 'body',
            visibilitySignalName: settings.visibilitySignalName, visibilitySignalValue: settings.visibilitySignalValue, visibilityOperator: settings.visibilityOperator,
            enableSignalName: settings.enableSignalName, enableSignalValue: settings.enableSignalValue, enableOperator: settings.enableOperator, position:position">
        <span class="signal-information-popover" data-bind="css: $parent.iconClass"></span>
    </wf-popover>
    <span class="signal-information-popover-label"> {{connector.translate(label)()}} </span>
</div>
<!--/ko-->
<!--/ko-->