﻿<!-- ko addAuthorizationClass: hasNoAuthorization -->
<!-- ko if:hasAuthorization() && isVisible()-->
<div class="wf-state-container" data-bind="css: statusCssClass, attr : {title: tooltipText}">
    <div data-part="content">
        <!-- ko template: { nodes: $componentTemplateNodes, data: $data } --><!-- /ko -->
    </div>
</div>
<!-- /ko -->
<!-- /ko -->
