﻿<!-- ko addAuthorizationClass: hasNoAuthorization -->
<div class="wf-sensor-container" data-bind="if: hasAuthorization() && isVisible(), attr : {title: tooltipText}">
    <div class="wf-sensor" data-bind="css: statusCssClass">
        <div class="wf-sensor-pointer-wrapper">
            <div class="wf-sensor-pointer" data-bind="style: { height: pointerLength + 'px', transform: 'rotate(' + pointerRotation + 'deg)', '-webkit-transform': 'rotate(' + pointerRotation + 'deg)', '-moz-transform': 'rotate(' + pointerRotation + 'deg)' }"></div>
        </div>
        <div class="wf-sensor-label" data-bind="css: 'wf-sensor-' + sensorShape">
            <!-- ko if: (sensorShape === "pin") -->
            <svg class="svg absolute stretched" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <path class="wf-svg-path" d="M24 3c-8.75.01-17.228 3.035-24 8.568L24 45l24-33.432C41.228 6.036 32.75 3.008 24 3z"/>
            </svg>
            <!-- /ko -->

            <!-- ko template: { nodes: $componentTemplateNodes} --><!-- /ko -->

            {{connector.translate(sensorText)()}}
        </div>
    </div>
    <!-- ko if: signalName -->
    <div class="wf-sensor-value" data-bind="css: cssClass">
        <div class="inline-block" data-bind="css: {'b-r p-r-sm': setpointSignalName }">
            <span data-bind="text: signalValue"></span>
            <!-- ko if: (unitLabel && staticUnitText) -->
            <span data-bind="text: ' ' + staticUnitText"></span>
            <!-- /ko -->
            <!-- ko if: (unitLabel && !staticUnitText) -->
            <span data-bind="component: {name: 'wf-signal-information', params: { signalName:  signalName, propertyName: 'Unit'} }"></span>
            <!-- /ko -->
        </div>

        <!-- ko if: setpointSignalName -->
        <div class="p-l-sm inline-block">
            <span data-bind="text: setpointSignalValue"></span>
            <!-- ko if: (unitLabel && staticUnitText) -->
            <span data-bind="text: ' ' + staticUnitText"></span>
            <!-- /ko -->
            <!-- ko if: (unitLabel && !staticUnitText) -->
            <span data-bind="component: {name: 'wf-signal-information', params: { signalName:  setpointSignalName, propertyName: 'Unit'} }"></span>
            <!-- /ko -->
        </div>
        <!-- /ko -->

    </div>
    <!-- /ko -->
</div>
<!-- /ko -->