﻿<!-- ko addAuthorizationClass: hasNoAuthorization -->
<!-- ko if:hasAuthorization() && isVisible()-->
    <span data-bind="attr : {title: tooltipText}">
        <span data-bind="text: signalValue, css: cssClass"></span>
        <!-- ko if: unitLabel -->
            <!-- ko if: staticUnitText -->
            <span data-bind="text: staticUnitText"></span>
            <!-- /ko -->
            <!-- ko ifnot: staticUnitText -->
            <span>
                <wf-signal-information params="signalName: signalName, propertyName: 'Unit'"></wf-signal-information>
            </span>
            <!-- /ko -->
        <!-- /ko -->
    </span>
<!-- /ko -->
<!-- /ko -->