﻿<!-- ko addAuthorizationClass: hasNoAuthorization -->
<!-- ko if:hasAuthorization() && isVisible()-->
<div class="wf-watchdog" data-bind="css: statusCssClass, attr : {title: tooltipText}">
    <div data-part="content"></div>
</div>
<!--/ko-->
<!--/ko-->
