<!-- Fenster -->
<div class="bs-fenster">
    <div class="bs-fenster-1">
        <button class="btn-lg" data-bind="click: openDialog, css: btnColor, text:dialogTitle" style="width: 100%"></button>
    </div>
    <div id="handanzeige" class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: links, top: oben, position: 'absolute', visibility: handbetrieb }"></div>
    <div class="bs-beschriftung-medium bs-fenster-1" data-bind="text:anlagestatus"></div>
    <div class="bs-fenster-gesperrt">
        <div title="Gesperrt durch Windalarm" id="windalarm" class="wf-lg wf-wind fa-2x bs-fenster-wind" data-bind="style: { visibility: windalarm }"></div>
        <div class="fa-2x bs-fenster-schloss" data-bind="css: sperre"></div>
        <div title="Gesperrt durch Regen" id="regen" class="wf-lg wf-shower-rain fa-2x bs-fenster-regen" data-bind="style: { visibility: regen }"></div>
    </div>
</div>