﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Alarmübersicht</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive hidden-xs">
            <div>
                <!--
                <wf-alarm-viewer params="{
                                 onlineAlarmsMode: true,
                                 updateRate: 1000,
                                 titleText: 'Alarmübersicht',
                                 maxRowCount: 10000,
                                 tableView: true,
                                 alarmStatusFilter: 16,
                                 startOffset: 'days',
                                 startOffsetIntervall:'333',
                                 height: 700
                                 }" class="col-lg-12">
                </wf-alarm-viewer>
                -->
                <wf-alarm-viewer class="block" params="columnFilterVisibility: true, filterAlarmGroupsByUser: false, columnFilter:'', columnFilterPattern:'', height: 600, showOnlyOwnConfigurations: false, titleText: ' ' , onlineAlarmsMode: true, tableView: true, columns:['Priority','StatusText','Active','Group','Type','Text',], fields:['Priority','Type','Text','Active','Acknowledged','Gone',], alarmStatusFilter:'All', alarmGroups:[], alarmTypes:[], sortOrder: 'DateDescending' , maxRowCount: 100, minimumPriority: 0, maximumPriority: 100, buttonBarCssClass: 'btn btn-default' , panelBarCssClass: 'panel panel-default' , headerVisibility: true, columnsHeaderVisibility: true, rowNumberVisibility: true, ackButtonVisibility: true, settingsButtonVisibility: true, configurationButtonVisibility: true, templateSwitchVisibility: true, groupFilterVisibility: true, typeFilterVisibility: true, stateFilterVisibility: true, priorityFilterVisibility: true, projectAuthorization: '' , startOffset: 'days' , startOffsetIntervall:'999', acknowledgedAlarmBackground: '#E08F00' , acknowledgedAlarmForeground: '#FFFFFF' , acknowledgedAndGoneAlarmBackground: '#00CC66' , acknowledgedAndGoneAlarmForeground: '#FFFFFF' , activeAlarmBackground: '#990100' , activeAlarmForeground: '#FFFFFF' , inactiveAlarmBackground: '#0c9900' , inactiveAlarmForeground: '#FFFFFF' , initialConfiguration: '' , configurationNamespace: '' , updateRate: 2000, objectID: ''"></wf-alarm-viewer>
            </div>
        </div>
    </div>
</div>