﻿<div class="container-fluid">
    <header>
        <h1 class="page-header">WEBfactory i4SCADA App - HTML5/JS Demos</h1>
    </header>
    <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-3">

            <div id="wf-demo-production" class="wf-demo-image"></div>
            <h2>
                WEBfactory i4SCADA HTML5/JS Demo<br />
                Produktionsdaten für das Management
                <!--Production data for management-->
            </h2>
            <p>Ein Beispiel, wie Produktionsdaten, Maschinenzustände und KPI Daten online nahezu in Echtzeit plattform- und geräteunabhängig auch auf mobilen Geräten visualisiert werden können.</p>
            <br />
            <a class="btn btn-lg btn-block btn-success" href="#/production"><i class="fa fa-external-link-square"></i>&nbsp;Zur DEMO</a>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">

            <div id="wf-demo-hvac" class="wf-demo-image"></div>

            <h2>
                WEBfactory i4SCADA HTML5/JS Demo<br />
                Klassisches HVAC responsiv gedacht!
            </h2>
            <p>
                Ein Ausschnitt aus einer klassischen HVAC-Visualisierung - nur diesmal "responsive" umgesetzt.<br />
                Durch die Ansätze von responsive Design erreicht man auch im technischen Bereich hohe Benutzerfreundlichkeit als auch optimierte Prozessvisualisierung - plattform- und geräteübergreifend.
            </p>

            <br />
            <a class="btn btn-lg btn-block btn-primary" href="#/hvac"><i class="fa fa-external-link-square"></i>&nbsp;Zur DEMO</a>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">

            <div id="wf-demo-bhkw" class="wf-demo-image"></div>
            <h2>
                Blockheizkraftwerk (BHKW)
            </h2>
            <p>
                Prozess- und Energiefluss Visualisierung eines BHKW-Clusters.
            </p>

            <br />
            <a class="btn btn-lg btn-block btn-danger" href="#/bhkw"><i class="fa fa-external-link-square"></i>&nbsp;Zur DEMO</a>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div id="wf-demo-smarthome" class="wf-demo-image"></div>

            <h2>
                WEBfactory HTML5/JS Demo<br />
                Building automation Mobile
            </h2>
            <p>
                A demonstration in the field of building automation. <br />
                In addition to reusable controls for light switching this demo also includes status indicators and an exemplary temperature curve (trend).
            </p>
            <br />
            <a class="btn btn-lg btn-block btn-warning" href="#/building"><i class="fa fa-external-link-square"></i>&nbsp;Zur DEMO</a>
        </div>
    </div>
</div>