﻿<!--<div id="footer" class="navbar-fixed-bottom bs-footer_background">
    <div class="container-fluid">
        <div class="row" style="height: 115px; padding-top:15px">
            <div class="col-lg-2">
                <div title="Aussentemperatur" class="at" data-bind="bsAusgabefeld:{
                     signalName: 'Station_33_VK101_1_Bau900.Register_Allg_Witterung_temp',
                     einheit: ' °C',
                         breite: 90,
                     typ: 'istwert'
                     }"></div>
            </div>
                <div class="col-lg-10" data-bind="wfAlarmViewer: { height: 85, maxRowCount: 1, headerVisibility: false, tableView: true, alarmStatusFilter: 0 }"></div>
        </div>
    </div>
</div>-->
<!--<div class="container bs-footer_background navbar-fixed-bottom" style="width:100%; height: 115px; padding-top:15px">
    <div class="col-lg-12">
        <div class="">
            <div>
                <div class="col-lg-2">
                    <span>Aussentemperatur: </span>
                    <div title="Aussentemperatur" class="at" data-bind="bsAusgabefeld:{
                     signalName: 'Station_33_VK101_1_Bau900.Register_Allg_Witterung_temp',
                     einheit: ' °C',
                         breite: 60,
                     typ: 'istwert'
                     }"></div>
                        <span>Aussentemperatur 12h MW: </span>
                        <div title="Aussentemperatur" class="at" data-bind="bsAusgabefeld:{
                     signalName: 'Station_34_VK101_2_Bau900.Register_Allg_at_mw12h',
                     einheit: ' °C',
                         breite: 60,
                     typ: 'istwert'
                     }"></div>
                        <span>Aussentemperatur 24h MW: </span>
                        <div title="Aussentemperatur" class="at" data-bind="bsAusgabefeld:{
                     signalName: 'Station_34_VK101_2_Bau900.Register_Allg_at_mw24h',
                     einheit: ' °C',
                         breite: 60,
                     typ: 'istwert'
                     }"></div>
                </div>
                <div class="col-lg-10 " data-bind="wfAlarmViewer: { height: 85, maxRowCount: 1, headerVisibility: false, tableView: true, alarmStatusFilter: 0 }"></div>
            </div>
        </div>
    </div>
</div>-->
<div class="container bs-footer_background navbar-fixed-bottom" style="width:100%; height: 115px; padding-top:15px">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2" style="padding-left:6px">
            <div class="short-div">
                <span>Aussentemperatur: </span>
                <div title="Aussentemperatur" class="at" data-bind="bsAusgabefeld:{
                     signalName: 'Station_33_VK101_1_Bau900.Register_Allg_Witterung_temp',
                     einheit: ' °C',
                         breite: 60,
                     typ: 'istwert'
                     }"></div>
            </div>
            <div class="short-div" style="padding-top:6px">
                <span>Aussentemperatur 12h MW: </span>
                <div title="Aussentemperatur" class="at12mw" data-bind="bsAusgabefeld:{
                     signalName: 'Station_34_VK101_2_Bau900.Register_Allg_at_mw12h',
                     einheit: ' °C',
                         breite: 60,
                     typ: 'istwert'
                     }"></div>
            </div>
            <div class="short-div" style="padding-top:6px">
                <span>Aussentemperatur 24h MW: </span>
                <div title="Aussentemperatur" class="at24mw" data-bind="bsAusgabefeld:{
                     signalName: 'Station_34_VK101_2_Bau900.Register_Allg_at_mw24h',
                     einheit: ' °C',
                         breite: 60,
                     typ: 'istwert'
                     }"></div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-10" data-bind="wfAlarmViewer: { height: 85, maxRowCount: 1, headerVisibility: false, tableView: true, alarmStatusFilter: 0 }"></div>
    </div>
    </div>