﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="bs-page-header bs-header-mittig">Gebäudeleitsystem - Lista AG Erlen</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-home hidden-xs">
            <div>
                <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
                <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
            </div>
        </div>
    </div>
</div>