﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Logbuch</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive hidden-xs">
            <div>
                <wf-Logbook params="height: 700, 
                            titleText: 'Logbuch',
                            updateRate: 10000,
                            maxResults: 50"></wf-Logbook>
            </div>
        </div>
    </div>
</div>