﻿    <!--Main content area - essential part-->
<div id="main-wrapper" style="height: 100%">
    <nav class="navbar navbar-default container-fluid" style="position: fixed; z-index:1000; width: 100%">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!--<div class="col-lg-11">-->
            <span class="navbar-brand"></span>
            <ul class="nav navbar-nav navbar-nav-main">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- Menupunkt mit Untermenu für: 'Bau 610' -->
                <li class="nav-item dropdown clickable">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="wf-lg bs-150x wf-building">&nbsp;</span>Bau 610</a>
                    <ul style="padding:0px; margin:0px;" class="dropdown-menu bs-dialogsize-system" aria-labelledby="navbarDropdownMenuLink">
                        <li style="padding:0px; margin:0px;" class="dropdown-submenu">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="bs-150x wf-lg wf-heat bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Heizung</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#hza_gruppen">
                                        <span class="wf-lg bs-150x wf-heat bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Heizgruppen</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- /Menupunkt mit Untermenu für: 'Bau 610' -->

                <!-- Menupunkt mit Untermenu für: 'Bau 900' -->
                <li class="nav-item dropdown clickable">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="wf-lg bs-150x wf-building">&nbsp;</span>Bau 900</a>
                    <ul style="padding:0px; margin:0px;" class="dropdown-menu bs-dialogsize-system" aria-labelledby="navbarDropdownMenuLink">
                        <li style="padding:0px; margin:0px;" class="dropdown-submenu">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="bs-150x wf-lg wf-fan bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Lüftungen</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#bau900">
                                        <span class="wf-lg bs-150x wf-blower bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Bau 900</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#lueAnexbau">
                                        <span class="wf-lg bs-150x wf-blower bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Anexbau</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#lueFarblager">
                                        <span class="wf-lg bs-150x wf-blower bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Farblager</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#LueSpediSW">
                                        <span class="wf-lg bs-150x wf-blower bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Lüftung Rampe SW</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#LueSpediNW">
                                        <span class="wf-lg bs-150x wf-blower bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Lüftung Rampe NW</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#LueTlsNo">
                                        <span class="wf-lg bs-150x wf-blower bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Türluftschleier Eingang NO</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#LueTlsSw">
                                        <span class="wf-lg bs-150x wf-blower bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Türluftschleier Eingang SW</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#LueAchse3">
                                        <span class="wf-lg bs-150x wf-blower bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Lüftung Achse 3</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#LueAchse6">
                                        <span class="wf-lg bs-150x wf-blower bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Lüftung Achse 6</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#LueAchse9">
                                        <span class="wf-lg bs-150x wf-blower bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Lüftung Achse 9</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#LueAchse12">
                                        <span class="wf-lg bs-150x wf-blower bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Lüftung Achse 12</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li style="padding:0px; margin:0px;" class="dropdown-submenu">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="bs-150x wf-lg wf-window-opened bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Fenster</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#fenster_eg">
                                        <span class="bs-150x wf-lg wf-window-opened bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Bau 900 EG</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#fenster_og">
                                        <span class="bs-150x wf-lg wf-window-opened bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Bau 900 OG</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- /Menupunkt mit Untermenu für: 'Bau 900' -->

                <!-- Menupunkt mit Untermenu für: 'System' -->
                <li class="nav-item dropdown clickable">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="bs-150x wf-lg wf-cogs-o">&nbsp;</span>
                        System
                    </a>
                    <ul style="padding:0px; margin:0px;" class="dropdown-menu bs-dialogsize-system" aria-labelledby="navbarDropdownMenuLink">
                        <li><a href="#lastabwurf"><span class="wf-lg bs-150x wf-atmospheric-pressure bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Lastabwurf</span></a></li>
                        <li><a href="#logbook"><span class="wf-lg bs-150x wf-book-opened-o bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Logbuch</span></a></li>
                        <li>
                            <a href="#alarme">
                                <span class="wf-lg bs-150x wf-lg wf-alarm bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Alarmübersicht</span>
                            </a>
                        </li>
                        <!--<li style="padding:0px; margin:0px;" class="dropdown-submenu">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="wf-lg bs-150x wf-lg wf-bell-o bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Alarme</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#trend">
                                        <span class="wf-lg bs-150x wf-book-opened-o bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Trending</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost/_SERVICES/MessengerPro/">
                                        <span class="wf-lg bs-150x wf-lg wf-bell-o bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Messenger</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>-->
                        <li style="padding:0px; margin:0px;">
                            <a href="#trend">
                                <span class="wf-lg bs-150x wf-lg wf-lg wf-chart-curve bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Trend</span>
                            </a>
                        </li>
                        <li style="padding:0px; margin:0px;">
                            <!--<a href="App\src\views\lista\schematas.aspx" target="_blank">-->
                            <a href="#schemata">
                                <span class="wf-lg bs-150x wf-lg wf-tree-structure_5 bs-nav-symbol bs-verticaldivider"></span><span class="bs-menu-entry">Schemas</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- /Menupunkt mit Untermenu für: 'System' schemata -->
            </ul>
            <div class="pull-right" style="margin-right:10px;">
                <div data-bind="bsSystemZeit: { farbe: '#ffffff' }" style="margin-top:0px; font-size: 1.6em; font-weight:600; width: 130px;"></div>
            </div>
            <div class="pull-right">
                <span class="login_head pull-right" data-bind="wfUserLogin: { iconClass: 'wf-lg wf-login' }"></span>
            </div>
        </div>
    </nav>
    <!--Main content area - essential part-->
    <div class="page-host">
        <section id="content" class="main" data-bind="router: { transition: 'entrance' }"></section>
    </div>
    <!-- Content below is not essential for the application and can be replaced or removed -->
    <div class="loader" data-bind="css: { active: router.isNavigating }" style="margin-right:190px;"></div>
    <div>
        <!--ko compose: 'src/viewModels/footer' --><!--/ko-->
        <!--Collapsible content boxes will be placed below -->
    </div>
</div>