﻿<div class="container bs_content_container" style="width:90%">
    <header>
        <h1 class="page-header">Lüftungsanlage - Klassisches HVAC mal "responsiv"</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-sm-12">
        <div class="wf-demo-air-handling hidden-xs">
            <div class="stretch">
                <!-- ko. if:hasAuthorization -->
                <div class="row bs_row">
                    <div class="col-lg-2">
                        <input type="button" class="btn btn-xs btn-primary" value="Erweitert" data-bind="click: bedienung" />
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

