<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">L001 - Technikräume</h1>
        <!--
            BUILDING CONTROL

            Um Widgets einfach platzieren zu können, kann im data-bind="draggable: {}" benutzt werden. Damit lassen sich Widgets mit drag and drop verschieben und
            eine Anzeige erscheint, mit den x- und y-Koordinaten die im CSS eingetragen werden müssen, damit die Änderung bestand hat.

        -->
    </header>
	<div class="col-lg-12">
		<div class="bs-responsive bs-testsite hidden-xs">
			<div>
				<div class="m113" data-bind="bsMotorStufen: {
                     signalName: 'PLC1.IrgendwasAusGCPro',
                     motorAusrichtung: 'oben',
                     motortyp: 'pumpe',
                     handLinks: '20',
                     handOben: '10',
                     stufe: '3',
                     dialogTitle: 'LE Pumpe 113M1',
                     authorisierung: 'Administration'
                     }"></div>
				<div class="m114" data-bind="bsMotorStufen: {
                     signalName: 'PLC1.IrgendwasAusGCPro',
                     motorAusrichtung: 'unten',
                     motortyp: 'pumpe',
                     handLinks: '20',
                     handOben: '10',
                     stufe: '0',
                     dialogTitle: 'WRG Pumpe 114M1',
                     authorisierung: 'Administration'
                     }">
				</div>
				<div class="m100" data-bind="bsMotorFU: {
                     signalName: 'PLC1.IrgendwasAusGCPro',
                     motorAusrichtung: 'rechts',
                     handLinks: '30',
                     handOben: '10',
                     motortyp: 'pumpe',
                     fu: 'ja',
                     fuOben: '40',
                     fuLinks: '-20',
                     signalNameFu: 'PLC1.IrgendwasAusGCProFU',
                     einheit: '%',
                     handLinksFu: '65',
                     handObenFu: '5',
                     fuTyp: 'FU',
                     dialogTitle: 'ZUL Ventilator 100M1',
                     trendConfig: 'myTrend1',
                     authorisierung: 'Administration'
                     }"></div>
				<div class="m101" data-bind="bsMotorFU: {
                     signalName: 'PLC1.IrgendwasAusGCPro',
                     motorAusrichtung: 'links',
                     handLinks: '30',
                     handOben: '10',
                     motortyp: 'ventilator',
                     fu: 'ja',
                     fuOben: '40',
                     fuLinks: '-20',
                     signalNameFu: 'PLC1.IrgendwasAusGCProFU',
                     einheit: '%',
                     handLinksFu: '65',
                     handObenFu: '5',
                     fuTyp: 'FU',
                     trendConfig: 'myTrend2',
                     dialogTitle: 'ZUL Ventilator 101M1',
                     authorisierung: 'Administration'
                     }"></div>
				<div class="bs-schaltuhr" data-bind="bsSchaltuhr: { signalName: 'PLC1.SchaltuhrAusGCPro', dialogTitle: 'Schaltuhr zu ZUL Ventilator 101M1' }"></div>
				<div data-bind="bsTPHSensor: {
                     stiellaenge: '35',
                     winkel: '0',
                     sensortyp: 'T',
                     signalName: 'PLC1.IrgendwasAusGCProFU',
                     handLinks: '12',
                     handOben: '2',
                     dialogtitle: 'FOL Temperatur 845B1',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration'
                     }" class="b835"></div>
				<div data-bind="bsTPHSensor: {
                     stiellaenge: '35',
                     winkel: '45',
                     sensortyp: 'P',
                     signalName: 'PLC1.IrgendwasAusGCProFU',
                     handLinks: '12',
                     handOben: '2',
                     dialogtitle: 'FOL Temperatur 845B1',
                     einheit: 'Pa',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration'
                     }" class="b833"></div>
				<div class="ausgabe" data-bind="bsAusgabefeld: { signalName:'PLC1.IrgendwasAusGCProFU.W_rAktuellerWert', typ: 'istwert' } "></div>
				<div class="eingabe" data-bind="bsSollwertEingabe:{signalName:'PLC1.IrgendwasAusGCProFU.W_rAktuellerWert', authorisierung: 'Administration', einheit: '%' }"></div>
				<div class="bswausgabe" data-bind="bsAusgabefeld: { signalName:'PLC1.IrgendwasAusGCProFU.W_rAktuellerWert', typ: 'berechnetersollwert' } "></div>
				<div class="vav" data-bind="bsKlappe: {
                     symbol:'bs bs-vav',
                     dialogtitle: 'ABL VAV',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: 'm³/h',
                     anzeigefeldLinks: '-10',
                     anzeigefeldOben: '-24',
                     winkel: '0',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'PLC1.IrgendwasAusGCPro'
                     }"></div>
				<div class="y720" data-bind="bsKlappe: {
                     symbol:'bs bs-klappe-fahrend',
                     dialogtitle: 'UML Klappe',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: '%',
                     anzeigefeldLinks: '42',
                     anzeigefeldOben: '10',
                     winkel: '-45',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'PLC1.IrgendwasAusGCPro'
                     }"></div>
				<div class="y721" data-bind="bsKlappe: {
                     symbol:'bs bs-bsk-fahrend',
                     dialogtitle: 'ZUL BSK',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: '%',
                     anzeigefeldLinks: '-10',
                     anzeigefeldOben: '-23',
                     winkel: '0',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     typ: 'digital',
                     signalName: 'PLC1.IrgendwasAusGCPro'
                     }"></div>
				<div class="bs-sollwertfenster" data-bind="bsSollwertFenster: {
                     dialogTitle: 'L001 Sollwerte',
                     authorisierung: 'Administration',
                     signals: [
                     { label: 'Cosinus 2', signalname: 'Cosinus 2', untergrenze: 'Sinus 1', obergrenze: 'Sinus 2' },
                     { label: 'Rand 1', signalname: 'Rand 1', untergrenze: 'Sinus 1', obergrenze: 'Sinus 2' },
                     { label: 'Rand 2', signalname: 'Rand 2', untergrenze: 'Sinus 1', obergrenze: 'Sinus 2' },
                     { label: 'Rand 3', signalname: 'Rand 3', untergrenze: 'Sinus 1', obergrenze: 'Sinus 2' },
                     { label: 'Rand 4', signalname: 'Rand 4', untergrenze: 'Sinus 1', obergrenze: 'Sinus 2' },
                     { label: 'Vorlauftemperatur', signalname: 'PLC1.IrgendwasAusGCPro.R_dwBetriebswahl', untergrenze: 'Sinus 1', obergrenze: 'Sinus 2' },
                     { label: 'Cosinus 1', signalname: 'Cosinus 1', untergrenze: 'Sinus 1', obergrenze: 'Sinus 2' },
                      ]}"></div>
				<div class="bs-anlageschalter" data-bind="bsAnlageschalter: {
                     dialogTitle: 'Anlageschalter L001',
                     signalName: 'PLC1.IrgendwasAusGCPro',
                     signalNameHws: 'PLC1.IrgendwasAusGCPro',
                     authorisierung: 'Administration',
                     }">
				</div>

				<div class="bs-schiebung" data-bind="bsSchiebung: {
                     dialogTitle: 'ZUL Schiebung',
                     signalName: 'PLC1.plcObject',
                     authorisierung: 'Administration',
                     }">
				</div>

				<div class="le-ventil" data-bind="bsVentil:{
                     symbol:'bs bs-ventil3',
                     dialogtitle: 'LE Ventil',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: '%',
                     anzeigefeldLinks: '-62',
                     anzeigefeldOben: '10',
                     winkel: '0',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'PLC1.IrgendwasAusGCPro'
                }"></div>
				<div class="filter305b1" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     winkel: '0',
                     sensortyp: '/',
                     signalName: 'PLC1.IrgendwasAusGCProFU',
                     dialogtitle: 'FOL Temperatur 845B1',
                     einheit: 'Pa',
                     authorisierung: 'Administration'
                     }"></div>
				<div class="filter315b1" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     winkel: '0',
                     sensortyp: '/',
                     signalName: 'PLC1.IrgendwasAusGCProFU',
                     dialogtitle: 'FOL Temperatur 845B1',
                     einheit: 'Pa',
                     authorisierung: 'Administration'
                     }"></div>
				<div class="frostschutz" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '35',
                     winkel: '0',
                     sensortyp: 'F',
                     signalName: 'PLC1.IrgendwasAusGCProFU',
                     dialogtitle: 'Frostschutzüberwachung',
                     einheit: 'Pa',
                     authorisierung: 'Administration'
                     }"></div>
				<div class="bs bs-bsk-offen fa-3x filter"></div>
				<div class="bs bs-klappe-fahrend filter" style="font-size:3em; left: 80px"></div>
				<div class="bs bs-klappe-offen filter" style="font-size:3em; left: 120px"></div>
				<div class="bs bs-klappe-zu filter" style="font-size:3em; left: 160px"></div>
				<div class="aul_nav_pfeil"></div>
				<div class="fol_nav_pfeil wf-w"></div>
				<div class="zul_nav_pfeil"></div>
				<div class="abl_nav_pfeil wf-w"></div>
                <div class="bs-heizgrenze" data-bind="bsHeizgrenze: {
						 				dialogTitle: 'Heizgrenze',
						 				authorisierung: 'Administration',
						 				modulName: 'PLC1.IrgendwasAusGCPro',
						 				}">
                </div>

				<!-- Widgets SK / JS ***************************************************************************- -->
				<div class="bs-anlage-anforderung" data-bind="bsAnforderung: {
                     dialogTitle: 'Anforderung Lüftung Büro',
                     authorisierung: 'Administration',
										 modulName: 'PLC1.plcObject',
										 anforderungen: [
										 { bitNummer: '0', text: 'BitNummer 0'},
										 { bitNummer: '1', text: 'BitNummer 1'},
										 { bitNummer: '2', text: 'BitNummer 2'},
										 ]
                     }">
				</div>

				<div class="bs-bedarfsmeldungen" data-bind="bsBedarfsmeldungen: {
										 dialogTitle: 'Bedarfsmeldungen',
										 authorisierung: 'Administration',
										 signale: [
										 { signalName: 'PLC1.plcObject.W_dwZustand', text: 'Bedarfsmeldung 1.OG'},
										 { signalName: 'PLC1.IrgendNochwasAusGCPro.W_dwZustand', text: 'Bedarfsmeldung 2.OG'},
										 { signalName: 'PLC1.plcObject.W_dwZustand', text: 'Bedarfsmeldung 3.OG'},
										 ],
										 zustaende: [
										 { vergleichswert: '0', farbe: 'color-aus'},
										 { vergleichswert: '4', farbe: 'color-fehler'},
										 { vergleichswert: '16', farbe: 'color-service'},
										 { vergleichswert: '32', farbe: 'color-ein'},
										 ]
										 }">
				</div>

				<div class="bs-zustandsanzeige" data-bind="bsZustandsanzeige: {
										 authorisierung: 'Administration',
										 modulName: 'PLC1.plcObject',
										 hintergrundTransparent: 'false',
										 zustaende: [
										 { vergleichswert: '0', farbe: 'color-aus',  text: 'Zustand Grau'},
										 { vergleichswert: '4', farbe: 'color-fehler',  text: 'Zustand Rot'},
										 { vergleichswert: '16', farbe: 'color-service',  text: 'Zustand Blau'},
										 { vergleichswert: '32', farbe: 'color-ein',  text: 'Zustand Grün'},
										 ]
										 }">
				</div>

				<div class="bs-zustandsanzeige-digital" data-bind="bsZustandsanzeigeDigital: {
										 authorisierung: 'Administration',
										 modulName: 'PLC1.plcObject',
										 hintergrundTransparent: 'false',
										 text_0: 'Betriebsart Aus',
										 textNot_0: 'Betriebsart Ein ',
										 farbe_0: 'color-aus',
										 farbeNot_0: 'color-ein',
										 }">
				</div>
                 
                <!-- /Widgets SK / JS ***************************************************************************- -->

				<div class="bs-heizkurve" data-bind="bsHeizkurve: {
						 				dialogTitle: 'Heizkurve',
						 				authorisierung: 'Administration',
						 				modulName: 'PLC1.IrgendwasAusGCPro',
						 				sollwertText: 'Sollwert ZUL 1',
						 				}">
				</div>
                <div class="bs-heizbetrieb" data-bind="bsHeizbetrieb: {
                     dialogTitle: 'Heizbetrieb',
                     modulName: 'PLC1.IrgendwasAusGCPro',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
					 sollwertText: 'Aussentemperatur:',
                     zeitraumMittelwertBildung: 'Aussentemperatur 12h Mittelwert:'
                     }"></div>
                <div class="" data-bind="bsZaehler: {
                     dialogTitle: 'Energiezähler'
                     }"></div>
				<!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
				<wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
			</div>
		</div>
	</div>
</div>
