﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Trending</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive hidden-xs">
            <div>
                <div data-bind="wfLogTagTrend: { title: 'History', chartHeight: 600, autoUpdate: true } " class="col-lg-12"></div>
            </div>
        </div>
    </div>
</div>