﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfUserLogin</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-user-login</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row m-b-md">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfUserLogin_Widget_Header")()}}</h4>            
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div data-bind="wfUserLogin: { }"></div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint">
&lt;div data-bind=&quot;wfUserLogin: { }&quot;&gt;&lt;/div&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row m-b-md">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfUserLogin_Component_Header")()}}</h4>
                        </div>
                        <div class="col-md-4">
                            <wf-user-login></wf-user-login>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <pre class="prettyprint">
&lt;wf-user-login params=&quot;&quot;&gt;&lt;/wf-user-login&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                        <th>{{connector.translate("I4SCADA_Type")()}}</th>
                        <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                        <th>{{connector.translate("I4SCADA_Description")()}}</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                    <tr>
                        <td data-bind="text: name"></td>
                        <td data-bind="text: type"></td>
                        <td data-bind="text: defaultValue"></td>
                        <!-- ko if: $parent.selectedLanguageId() === 7-->
                        <td data-bind="text: description"></td>
                        <!-- /ko -->
                        <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                        <td data-bind="text: descriptionEN"></td>
                        <!-- /ko -->
                    </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                    <h5 class="panel-title">{{connector.translate("I4SCADA_Characteristics")()}}</h5>
                    <div data-bind="foreach: userProperties">
                        <span class="label label-black inline-block m-b-sm" data-bind="text: $data"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="inline-block" data-bind="wfUserLogin: { iconClass: 'wf-lg wf-user', cssClass: 'btn btn-danger', userProperties: ['FirstName', 'LastName'] }"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="inline-block" data-bind="wfUserLogin: {loggedInRoute: '#security', userProperties: ['FirstName', 'LastName'], labelOrientation: 'vertical', cssClass: 'btn btn-success' }"></div>
                </div>
            </div>
        </div>


    </div>
</div>