﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <!--<li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfEnableContainer</span></a></li>-->
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-rotation-container</span></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfRotationContainer_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-4" style="z-index:2">

                            <wf-rotation-container class="block" params="signalName: 'Setpoint 1'">
                                <div class="text-center b-a">
                                  <wf-button class="inline-block" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: '+1', cssClass: 'btn-primary', incrementMode:true"></wf-button>
                                  <wf-button class="inline-block" params="signalName: 'Setpoint 1', writeValue: 0, buttonText: 'Reset', cssClass: 'btn-danger'"></wf-button>
                                  <wf-button class="inline-block" params="signalName: 'Setpoint 1', writeValue: -1, buttonText: '-1', cssClass: 'btn-primary', incrementMode:true"></wf-button>
                                </div>
                            </wf-rotation-container>

                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint m-b">
&lt;wf-rotation-container class=&quot;block&quot; params=&quot;signalName: 'Setpoint 1'&quot;&gt; 
    &lt;wf-button class=&quot;inline-block&quot; params=&quot;signalName: 'Setpoint 1', writeValue: 1, buttonText: '+1', cssClass: 'btn-primary', incrementMode:true&quot;&gt;&lt;/wf-button&gt;
    &lt;wf-button class=&quot;inline-block&quot; params=&quot;signalName: 'Setpoint 1', writeValue: 0, buttonText: 'Reset', cssClass: 'btn-danger'&quot;&gt;&lt;/wf-button&gt;
    &lt;wf-button class=&quot;inline-block&quot; params=&quot;signalName: 'Setpoint 1', writeValue: -1, buttonText: '-1', cssClass: 'btn-primary', incrementMode:true&quot;&gt;&lt;/wf-button&gt;
&lt;/wf-rotation-container&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td>
                                <!-- ko if: defaultValue.indexOf('#') !== -1 -->
                                <span class="wf-1x inline-block round" style="transform: translateY(3px)" data-bind="style: {'background-color': defaultValue} "></span>
                                <!-- /ko -->
                            </td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>