﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory, selectedCategory: widgetCategory}"></div>

        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-modal-dialog</span></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfModalDialog_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-6">
                            <wf-modal-dialog class="block marker marker-blue" params="viewName: 'raumDialog', viewModel: {signalName:'Setpoint ', objectId: 1}, title: 'RAUM 1', draggable: false">
                                <div class="pulse pulse-blue"></div>
                                <div class="touchpoint"></div>
                                <i class="marker-icon" data-bind="css: 'fa fa-lightbulb-o'"></i>
                            </wf-modal-dialog>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <pre class="prettyprint">
&lt;wf-modal-dialog class=&quot;block marker marker-blue&quot; params=&quot;viewName: &#39;raumDialog&#39;, viewModel: {signalName: &#39;Setpoint &#39;, objectId: 1}, title: &#39;RAUM 1&#39;, draggable: false&quot;&gt;
    &lt;div class=&quot;pulse pulse-blue&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;touchpoint&quot; &gt;&lt;/div&gt;
    &lt;i class=&quot;marker-icon&quot; data-bind=&quot;css: &#39;fa fa-lightbulb-o&#39;&quot;&gt;&lt;/i&gt;
&lt;/wf-modal-dialog&gt;</pre>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>