﻿<span data-bind="if: hasAuthorization() && isVisible()">
    <span class="signal-information" data-bind="text: output, attr : {title: tooltipText}"></span>
</span>
    <!--<pre data-bind="text: ko.toJSON(signalDefinitions(), null, 2)"></pre>-->