﻿<div data-bind="if: hasAuthorization() && isVisible()">
    <div class="basic-gauge" data-bind="style: { marginBottom: marginBottom(), width: width + 'px', height: width + 'px' }, attr : {title: tooltipText}">

        <div class="basic-gauge-arc" data-bind="drawArc: 'background-arc', arcOptions: { width: width, height: width, arcFillColor: backgroundFillColor, innerRadius: innerRadius, startAngle: startAngle, endAngle: endAngle }"></div>
        <div class="basic-gauge-arc" data-bind="drawArc: 'high-arc', arcOptions: { width: width, height: width, arcFillColor: highRangeFillColor, innerRadius: innerRadius, startAngle: highRangeStartAngle, endAngle: highRangeEndAngle }"></div>
        <div class="basic-gauge-arc" data-bind="drawArc: 'low-arc', arcOptions: { width: width, height: width, arcFillColor: lowRangeFillColor, innerRadius: innerRadius, startAngle: lowRangeStartAngle, endAngle: lowRangeEndAngle }"></div>


        <div>
            <!-- ko foreach: minorTicksArray -->
            <div class="basic-gauge-minortick-container" data-bind="style: { '-webkit-transform': 'rotate(' + $data + 'deg)', '-o-transform': 'rotate(' + $data + 'deg)', 'transform': 'rotate(' + $data + 'deg)', '-moz-transform': 'rotate(' + $data + 'deg)' }">
                <div class="basic-gauge-minortick"></div>
            </div>
            <!-- /ko -->
        </div>
        <div>
            <!-- ko foreach: majorTicksArray -->
            <div class="basic-gauge-majortick-container" data-bind="style: { '-webkit-transform': 'rotate(' + $data + 'deg)', '-o-transform': 'rotate(' + $data + 'deg)', 'transform': 'rotate(' + $data + 'deg)', '-moz-transform': 'rotate(' + $data + 'deg)'}">
                <div class="basic-gauge-majortick"></div>
            </div>
            <!-- /ko -->
        </div>

        <div class="basic-gauge-needle" data-bind="style: { '-webkit-transform': needleAngle(), '-o-transform': needleAngle(), 'transform': needleAngle(), '-moz-transform': needleAngle() }">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 16 100" style="width: 100%; height: 100%; position: relative;">
                <path d="m 8,0 8,100 c 0,8 -16,8 -16,0 z" stroke-width="0" data-bind="attr: { fill: needleFillColor}" />
            </svg>
        </div>

        <div class="basic-gauge-icon-overlay" data-bind="style: { background: iconBackgroundColor }">           
            <i data-bind="css: iconClass, attr: {style:  'color:' + iconColor +';' + iconStyle}"></i>
        </div>

        <!-- ko if: minValueVioliation -->
        <div class="basic-gauge-low-over">
            <i class="wf wf-alarm"></i>
        </div>
        <!-- /ko -->
        <div class="basic-gauge-min" data-bind="text: minRangeValue"></div>

        <div class="basic-gauge-max" data-bind="text: maxRangeValue"></div>

        <!-- ko if: maxValueVioliation -->
        <div class="basic-gauge-high-over">
            <i class="wf wf-alarm"></i>
        </div>
        <!-- /ko -->
        <!-- ko if: showValueLabel -->
        <div class="basic-gauge-value">
            <span data-bind="text: formattedSignalValue"></span> <span class="basic-gauge-unit" data-bind="wfSignalInformation: { signalName: settings.signalName, propertyName: 'Unit' }"></span>

        </div>
        <!-- /ko -->
    </div>
</div>