﻿
<div class="row wf-alarm-viewer-cards" data-bind="foreach: {data: settings.alarms, as: 'alarm'}">
    <div class="col-lg-4 col-md-6">

        <div class="panel" data-bind="css: { 'panel-danger active': DateOn, 'panel-success gone': DateOff, 'panel-warning acknowledged': DateAck }, click: $parent.selectAlarm">
            <div class="panel-heading" data-bind="style: { color: foreground, background-color: background }">
                <h3 class="panel-title">
                    <!-- ko if: $parent.isShowPriority -->
                    <span class="label label-default pull-right wf-alarm-priority" data-bind="text: Priority" title="{{$parent.connector.translate('I4SCADA_Alarm_priority')()}}"></span>
                    <!-- /ko -->
                    <!-- ko if: $parent.isShowAlarmTypeSymbolicTextTranslation -->
                    <span data-bind="text: AlarmTypeSymbolicTextTranslation, style: { color: foreground }"></span>
                    <!-- /ko -->
                </h3>
            </div>
            <div class="panel-body">
                <div class="panel-body-inner">
                    <div class="wf-panel-state-element"></div>
                    <div class="panel-content">
                        <div class="panel-content-inner" data-part="columns">

                            <!-- ko foreach: $parent.settings.fields.data -->

                                <!-- ko if: $data === 'AlarmSymbolicTextTranslation' -->
                                <h3 class="wf-panel-content-title" data-bind="text: alarm[$data]"></h3>
                                <!-- /ko -->

                                <!-- ko ifnot: $data === 'AlarmSymbolicTextTranslation' || $data === 'Priority' || $data === 'AlarmTypeSymbolicTextTranslation'-->
                                <div class="row timestamp-box">
                                    <!-- ko if: alarm[$data] -->
                                    <div class="col-sm-3">
                                        <span class="label-timestamp">
                                            <!-- ko if: $data === 'DateOn'-->
                                            <i class="wf wf-megaphone"></i>
                                            <!-- /ko -->
                                            <!-- ko if: $data === 'DateOff'-->
                                            <i class="wf wf-service"></i>
                                            <!-- /ko -->
                                            <!-- ko if: $data === 'DateAck'-->
                                            <i class="wf wf-eye"></i>
                                            <!-- /ko -->
                                            {{$parentContext.$parent.connector.translate($parentContext.$parent.settings.fields.headers()[$index()])()}}
                                        </span>
                                    </div>
                                    <div class="col-sm-9">
                                        <!-- ko if: $data === 'AcknowledgedWithComment' -->
                                        <span class="wf wf wf-check" data-bind="attr: { title: alarm['AckText'] }, visible: alarm[$data]"></span>
                                        <!-- /ko -->
                                        <!-- ko if:  $parents[1].isDateField($data) -->
                                        <span class="timestamp" data-bind="formattedDate: { value: alarm[$data], format: $parents[1].dateTimeFormat }"></span>
                                        <!-- /ko -->
                                        <!-- ko ifnot:  $parents[1].isDateField($data) ||  $data === 'AcknowledgedWithComment'-->
                                        <span data-bind="text: alarm[$data]"></span>
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                </div>
                                <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>