<!-- Zustandsanzeige -->
<div>
    <span class="label bs-zustandsanzeige-label" data-bind="css: hintergrundfarbe"><i class="fa fa-circle" data-bind="css: zustandsfarbe"></i> <span data-bind="text: zustandstext, css: textfarbe"></span></span>
</div>
