﻿<!-- ko addAuthorizationClass: hasNoAuthorization -->
<!-- ko if:hasAuthorization() && isVisible()-->
<button class="relative btn" type="button" data-bind="disable: isDisabled, css: displayClassNames() + ' ' + statusCssClass(), event: { mousedown: writeMouseDownValue, mouseup: writeMouseUpValue }, attr: {style: buttonStyle, title: tooltipText }">
    <div class="wf-button-content">
        <!-- ko template: { nodes: $componentTemplateNodes} --><!-- /ko -->
    </div>
    <i data-bind="css: iconClass, attr: {style: iconStyle}"></i>
    <span data-bind="attr: {style: textStyle}">{{connector.translate(buttonText)()}}</span>
</button>
<!-- ko if: writeSecure -->
<wf-write-secure-signal params="show: showWriteSecure,
                               signalName: signalName,
                               signalValue: writeSecureValue,
                               draggable: isModalDialogsDraggable"></wf-write-secure-signal>


<!-- /ko -->
<!-- /ko -->
<!-- /ko -->