﻿@font-face {
  font-family: 'BSGlyph';
  src:  url('fonts/BSFonts/BSGlyph.eot?leo5a7');
  src:  url('fonts/BSFonts/BSGlyph.eot?leo5a7#iefix') format('embedded-opentype'),
    url('fonts/BSFonts/BSGlyph.ttf?leo5a7') format('truetype'),
    url('fonts/BSFonts/BSGlyph.woff?leo5a7') format('woff'),
    url('fonts/BSFonts/BSGlyph.svg?leo5a7#BSGlyph') format('svg');
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

.bs
{
    font-family: 'BSGlyph';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: relative;
}

.bs:before {
    position:absolute;
    left: 0;
    top: 0;
}

.bs:after
{
    color:#999; 
    z-index: -1;
}
.bs-gasbrenner:before {
  content: "\e906";
}
.bs-gasbrenner_hgr:before {
  content: "\e907";
}
.bs-ion:before {
  content: "\e908";
}
.bs-ion_hgr:before {
  content: "\e909";
}
.bs-motor:before {
  content: "\e919";
}
.bs-motor:after {
  content: "\e91c";
}
.bs-pumpe:before {
  content: "\e91b";
}
.bs-pumpe:after {
  content: "\e91c";
}
.bs-filterwaechter:before{
    content: "\e904";
}
.bs-filterwaechter:after{
    content: "\e905";
}
.bs-klappe-fahrend:before{
    content: "\e90a";
}
.bs-klappe-fahrend:after{
    content: "\e901";
}
.bs-klappe-offen:before{
    content: "\e90b";
}
.bs-klappe-offen:after{
    content: "\e901";
}
.bs-klappe-zu:before{
    content: "\e912";
}
.bs-klappe-zu:after{
    content: "\e901";
}
.bs-bsk-fahrend:before{
    content: "\e900";
}
.bs-bsk-fahrend:after{
    content: "\e901";
}
.bs-bsk-offen:before{
    content: "\e902";
}
.bs-bsk-offen:after{
    content: "\e901";
}
.bs-bsk-zu:before{
    content: "\e903";
}
.bs-bsk-zu:after{
    content: "\e901";
}
.bs-ventil:before{
    content: "\e91f";
}
.bs-ventil:after{
    content: "\e920";
}
.bs-ventil3:before{
    content: "\e921";
}
.bs-ventil3:after{
    content: "\e922";
}
.bs-vav:before{
    content: "\e91d";
}
.bs-vav:after{
    content: "\e91e";
}
.bs-ventilator:before {
  content: "\e923";
}
.bs-ventilator:after {
  content: "\e924";
}
.bs-zaehler:before{
    content: "\e925"
}
.bs-zaehler:after{
    content: "\e926"
}
/*
.bs-gasbrenner:before {
  content: "\e900";
}
.bs-gasbrenner_hgr:before {
  content: "\e901";
}
.bs-ion:before {
  content: "\e903";
}
.bs-ion_hgr:before {
  content: "\e904";
}
.bs-motor:before {
  content: "\e905";
}
.bs-motor_hgr:before {
  content: "\e906";
}
.bs-pumpe:before {
  content: "\e907";
}
.bs-pumpe:after {
  content: "\e908";
}
.bs-filterwaechter:before{
    content: "\e911";
}
.bs-filterwaechter:after{
    content: "\e912";
}
.bs-klappe-fahrend:before{
    content: "\e915";
}
.bs-klappe-fahrend:after{
    content: "\e91e";
}
.bs-klappe-offen:before{
    content: "\e916";
}
.bs-klappe-offen:after{
    content: "\e917";
}
.bs-klappe-zu:before{
    content: "\e91d";
}
.bs-klappe-zu:after{
    content: "\e91e";
}
.bs-bsk-fahrend:before{
    content: "\e913";
}
.bs-bsk-fahrend:after{
    content: "\e914";
}
.bs-bsk-offen:before{
    content: "\e926";
}
.bs-bsk-offen:after{
    content: "\e914";
}
.bs-bsk-zu:before{
    content: "\e927";
}
.bs-bsk-zu:after{
    content: "\e914";
}
.bs-ventil:before{
    content: "\e924";
}
.bs-ventil:after{
    content: "\e92b";
}
.bs-ventil3:before{
    content: "\e902";
}
.bs-ventil3:after{
    content: "\e925";
}
.bs-vav:before{
    content: "\e909";
}
.bs-vav:after{
    content: "\e90a";
}
.bs-ventilator:before {
  content: "\e90f";
}
.bs-ventilator:after {
  content: "\e910";
}
    */