
/*--------------------------------------------------------------------------------------------------
 *  WEBfactory HVAC Symbols - Icon Font Version 2.2.0 by WEBfactory GmbH - http://webfactory-world.de
 *  Copyright  WEBfactory GmbH - http://webfactory-world.de
 *--------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: 'WFHVACSymbolsFont';
  src:  url('fonts/WFHVACSymbolsFont.eot?wdzxz4');
  src:  url('fonts/WFHVACSymbolsFont.eot?wdzxz4#iefix') format('embedded-opentype'),
    url('fonts/WFHVACSymbolsFont.ttf?wdzxz4') format('truetype'),
    url('fonts/WFHVACSymbolsFont.woff?wdzxz4') format('woff'),
    url('fonts/WFHVACSymbolsFont.svg?wdzxz4#WFHVACSymbolsFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wf-hvac
{
    font-family: 'WFHVACSymbolsFont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: relative;
}

.wf-hvac:after {
    position:absolute;
    left: 0;
    top: 0;
}

.wf-hvac:before {
    color:lightgrey; 
    z-index:-1;
}



/* ICONS
 * -------------------------- */


.wf-hvac.wf-3-way-control-motor-part:before {
    content: "\e600";
}
.wf-hvac.wf-3-way-control-motor-part:after {
    content: "\e601";
}
.wf-hvac.wf-3-way-control-valve-part-bottom:before {
    content: "\e602";
}
.wf-hvac.wf-3-way-control-valve-part-bottom:after {
    content: "\e603";
}
.wf-hvac.wf-3-way-control-valve-part-left:before {
    content: "\e604";
}
.wf-hvac.wf-3-way-control-valve-part-left:after {
    content: "\e605";
}
.wf-hvac.wf-3-way-control-valve-part-right:before {
    content: "\e606";
}
.wf-hvac.wf-3-way-control-valve-part-right:after {
    content: "\e607";
}
.wf-hvac.wf-3-way-control-valve-part:before {
    content: "\e608";
}
.wf-hvac.wf-3-way-control-valve-part:after {
    content: "\e609";
}
.wf-hvac.wf-3-way-control-valve:before {
    content: "\e60a";
}
.wf-hvac.wf-3-way-control-valve:after {
    content: "\e60b";
}
.wf-hvac.wf-air-cooler-water:before {
    content: "\e60c";
}
.wf-hvac.wf-air-cooler-water:after {
    content: "\e60d";
}
.wf-hvac.wf-air-heater-electric:before {
    content: "\e60e";
}
.wf-hvac.wf-air-heater-electric:after {
    content: "\e60f";
}
.wf-hvac.wf-air-heater-fire:before {
    content: "\e610";
}
.wf-hvac.wf-air-heater-fire:after {
    content: "\e611";
}
.wf-hvac.wf-air-heater-steam:before {
    content: "\e612";
}
.wf-hvac.wf-air-heater-steam:after {
    content: "\e613";
}
.wf-hvac.wf-air-heater-water:before {
    content: "\e614";
}
.wf-hvac.wf-air-heater-water:after {
    content: "\e615";
}
.wf-hvac.wf-air-humidifier:before {
    content: "\e616";
}
.wf-hvac.wf-air-humidifier:after {
    content: "\e617";
}
.wf-hvac.wf-air-inlet:before {
    content: "\e618";
}
.wf-hvac.wf-air-inlet:after {
    content: "\e619";
}
.wf-hvac.wf-air-outlet:before {
    content: "\e61a";
}
.wf-hvac.wf-air-outlet:after {
    content: "\e61b";
}
.wf-hvac.wf-blower-simple:after {
    content: "\e61c";
}
.wf-hvac.wf-blower:before {
    content: "\e61d";
}
.wf-hvac.wf-blower:after {
    content: "\e61e";
}
.wf-hvac.wf-cap-valve:before {
    content: "\e61f";
}
.wf-hvac.wf-cap-valve:after {
    content: "\e620";
}
.wf-hvac.wf-compensator:before {
    content: "\e621";
}
.wf-hvac.wf-compensator:after {
    content: "\e622";
}
.wf-hvac.wf-cooling-tower:before {
    content: "\e623";
}
.wf-hvac.wf-cooling-tower:after {
    content: "\e624";
}
.wf-hvac.wf-dirt-trap:before {
    content: "\e625";
}
.wf-hvac.wf-dirt-trap:after {
    content: "\e626";
}
.wf-hvac.wf-distribution-chamber:before {
    content: "\e627";
}
.wf-hvac.wf-distribution-chamber:after {
    content: "\e628";
}
.wf-hvac.wf-droplet-separator:before {
    content: "\e629";
}
.wf-hvac.wf-droplet-separator:after {
    content: "\e62a";
}
.wf-hvac.wf-expansion-tank:before {
    content: "\e62b";
}
.wf-hvac.wf-expansion-tank:after {
    content: "\e62c";
}
.wf-hvac.wf-fan-axial:before {
    content: "\e62d";
}
.wf-hvac.wf-fan-axial:after {
    content: "\e62e";
}
.wf-hvac.wf-fan-coil-unit:before {
    content: "\e62f";
}
.wf-hvac.wf-fan-coil-unit:after {
    content: "\e630";
}
.wf-hvac.wf-fan-radial:before {
    content: "\e631";
}
.wf-hvac.wf-fan-radial:after {
    content: "\e632";
}
.wf-hvac.wf-fan:before {
    content: "\e633";
}
.wf-hvac.wf-fan:after {
    content: "\e634";
}
.wf-hvac.wf-filter:before {
    content: "\e635";
}
.wf-hvac.wf-filter:after {
    content: "\e636";
}
.wf-hvac.wf-fire-damper:before {
    content: "\e637";
}
.wf-hvac.wf-fire-damper:after {
    content: "\e638";
}
.wf-hvac.wf-flow-conditioner:before {
    content: "\e639";
}
.wf-hvac.wf-flow-conditioner:after {
    content: "\e63a";
}
.wf-hvac.wf-globe-control-motor-part:before {
    content: "\e63b";
}
.wf-hvac.wf-globe-control-motor-part:after {
    content: "\e63c";
}
.wf-hvac.wf-globe-control-valve-part:before {
    content: "\e63d";
}
.wf-hvac.wf-globe-control-valve-part:after {
    content: "\e63e";
}
.wf-hvac.wf-globe-control-valve:before {
    content: "\e63f";
}
.wf-hvac.wf-globe-control-valve:after {
    content: "\e640";
}
.wf-hvac.wf-heat-exchanger:before {
    content: "\e641";
}
.wf-hvac.wf-heat-exchanger:after {
    content: "\e642";
}
.wf-hvac.wf-mixing-chamber:before {
    content: "\e643";
}
.wf-hvac.wf-mixing-chamber:after {
    content: "\e644";
}
.wf-hvac.wf-protective-grating:before {
    content: "\e645";
}
.wf-hvac.wf-protective-grating:after {
    content: "\e646";
}
.wf-hvac.wf-regulator-block-valve:before {
    content: "\e647";
}
.wf-hvac.wf-regulator-block-valve:after {
    content: "\e648";
}
.wf-hvac.wf-separator:before {
    content: "\e649";
}
.wf-hvac.wf-separator:after {
    content: "\e64a";
}
.wf-hvac.wf-smoke-damper:before {
    content: "\e64b";
}
.wf-hvac.wf-smoke-damper:after {
    content: "\e64c";
}
.wf-hvac.wf-volume-flow-controller:before {
    content: "\e64d";
}
.wf-hvac.wf-volume-flow-controller:after {
    content: "\e64e";
}
.wf-hvac.wf-water-meter:before {
    content: "\e64f";
}
.wf-hvac.wf-water-meter:after {
    content: "\e650";
}
.wf-hvac.wf-blower-simple:before {
    content: "\e651";
}
.wf-hvac.wf-filter-roller:before {
    content: "\e652";
}
.wf-hvac.wf-filter-roller:after {
    content: "\e653";
}
.wf-hvac.wf-heat-exchanger-1:before {
    content: "\e654";
}
.wf-hvac.wf-heat-exchanger-1:after {
    content: "\e655";
}
.wf-hvac.wf-plate-cross-flow-heat-exchanger:before {
    content: "\e656";
}
.wf-hvac.wf-plate-cross-flow-heat-exchanger:after {
    content: "\e657";
}
.wf-hvac.wf-circulating-heat-exchanger:before {
    content: "\e658";
}
.wf-hvac.wf-circulating-heat-exchanger:after {
    content: "\e659";
}
.wf-hvac.wf-air-humidifier-spray:before {
    content: "\e65a";
}
.wf-hvac.wf-air-humidifier-spray:after {
    content: "\e65b";
}
.wf-hvac.wf-air-humidifier-rotary:before {
    content: "\e65c";
}
.wf-hvac.wf-air-humidifier-rotary:after {
    content: "\e65d";
}
.wf-hvac.wf-air-humidifier-oscilating:before {
    content: "\e65e";
}
.wf-hvac.wf-air-humidifier-oscilating:after {
    content: "\e65f";
}
.wf-hvac.wf-air-humidifier-centrifugal:before {
    content: "\e660";
}
.wf-hvac.wf-air-humidifier-centrifugal:after {
    content: "\e661";
}
.wf-hvac.wf-air-humidifier-with-electric-steam-generator:before {
    content: "\e662";
}
.wf-hvac.wf-air-humidifier-with-electric-steam-generator:after {
    content: "\e663";
}
.wf-hvac.wf-trickle-humidifier:before {
    content: "\e664";
}
.wf-hvac.wf-trickle-humidifier:after {
    content: "\e665";
}
.wf-hvac.wf-steam-generator:before {
    content: "\e666";
}
.wf-hvac.wf-steam-generator:after {
    content: "\e667";
}
.wf-hvac.wf-water-steam-convector:before {
    content: "\e668";
}
.wf-hvac.wf-water-steam-convector:after {
    content: "\e669";
}
.wf-hvac.wf-heating-refrigeration-machine:before {
    content: "\e66a";
}
.wf-hvac.wf-heating-refrigeration-machine:after {
    content: "\e66b";
}
.wf-hvac.wf-compression-refrigeration-heating-machine:before {
    content: "\e66c";
}
.wf-hvac.wf-compression-refrigeration-heating-machine:after {
    content: "\e66d";
}
.wf-hvac.wf-compression-refrigeration-machine-block:before {
    content: "\e66e";
}
.wf-hvac.wf-compression-refrigeration-machine-block:after {
    content: "\e66f";
}
.wf-hvac.wf-compression-refrigeration-machine-split:before {
    content: "\e670";
}
.wf-hvac.wf-compression-refrigeration-machine-split:after {
    content: "\e671";
}
.wf-hvac.wf-cooling-tower-with-ventilator:before {
    content: "\e672";
}
.wf-hvac.wf-cooling-tower-with-ventilator:after {
    content: "\e673";
}
.wf-hvac.wf-fan-coil-downstream-regulated-two-pipes:before {
    content: "\e674";
}
.wf-hvac.wf-fan-coil-downstream-regulated-two-pipes:after {
    content: "\e675";
}
.wf-hvac.wf-fan-coil-upstream-regulated-two-pipes:before {
    content: "\e676";
}
.wf-hvac.wf-fan-coil-upstream-regulated-two-pipes:after {
    content: "\e677";
}
.wf-hvac.wf-fan-coil-upstream-regulated-four-pipes:before {
    content: "\e678";
}
.wf-hvac.wf-fan-coil-upstream-regulated-four-pipes:after {
    content: "\e679";
}
.wf-hvac.wf-fan-coil-downstream-regulated-four-pipes:before {
    content: "\e67a";
}
.wf-hvac.wf-fan-coil-downstream-regulated-four-pipes:after {
    content: "\e67b";
}
.wf-hvac.wf-induction-unit:before {
    content: "\e67c";
}
.wf-hvac.wf-induction-unit:after {
    content: "\e67d";
}
.wf-hvac.wf-induction-unit-downstream-regulated-two-pipes:before {
    content: "\e67e";
}
.wf-hvac.wf-induction-unit-downstream-regulated-two-pipes:after {
    content: "\e67f";
}
.wf-hvac.wf-induction-unit-upstream-regulated-two-pipes:before {
    content: "\e680";
}
.wf-hvac.wf-induction-unit-upstream-regulated-two-pipes:after {
    content: "\e681";
}
.wf-hvac.wf-induction-unit-downstream-regulated-four-pipes:before {
    content: "\e682";
}
.wf-hvac.wf-induction-unit-downstream-regulated-four-pipes:after {
    content: "\e683";
}
.wf-hvac.wf-induction-unit-upstream-regulated-four-pipes:before {
    content: "\e684";
}
.wf-hvac.wf-induction-unit-upstream-regulated-four-pipes:after {
    content: "\e685";
}
.wf-hvac.wf-induction-unit-upstream-regulated-by-variable-volume-flow-two-pipes:before {
    content: "\e686";
}
.wf-hvac.wf-induction-unit-upstream-regulated-by-variable-volume-flow-two-pipes:after {
    content: "\e687";
}
.wf-hvac.wf-constant-volume-flow-controller:before {
    content: "\e688";
}
.wf-hvac.wf-constant-volume-flow-controller:after {
    content: "\e689";
}
.wf-hvac.wf-variable-volume-flow-controller:before {
    content: "\e68a";
}
.wf-hvac.wf-variable-volume-flow-controller:after {
    content: "\e68b";
}
.wf-hvac.wf-flow-regulator:before {
    content: "\e68c";
}
.wf-hvac.wf-flow-regulator:after {
    content: "\e68d";
}
.wf-hvac.wf-constant-volume-flow-controller-auxiliary-energy:before {
    content: "\e68e";
}
.wf-hvac.wf-constant-volume-flow-controller-auxiliary-energy:after {
    content: "\e68f";
}
.wf-hvac.wf-variable-volume-flow-controller-auxiliary-energy:before {
    content: "\e690";
}
.wf-hvac.wf-variable-volume-flow-controller-auxiliary-energy:after {
    content: "\e691";
}
.wf-hvac.wf-volume-flow-regulator-auxiliary-energy:before {
    content: "\e692";
}
.wf-hvac.wf-volume-flow-regulator-auxiliary-energy:after {
    content: "\e693";
}
.wf-hvac.wf-mixing-regulator-auxiliary-energy-1-actuator:before {
    content: "\e694";
}
.wf-hvac.wf-mixing-regulator-auxiliary-energy-1-actuator:after {
    content: "\e695";
}
.wf-hvac.wf-mixer-controller:before {
    content: "\e696";
}
.wf-hvac.wf-mixer-controller:after {
    content: "\e697";
}
.wf-hvac.wf-mixer-controller-constant-flow-rate:before {
    content: "\e698";
}
.wf-hvac.wf-mixer-controller-constant-flow-rate:after {
    content: "\e699";
}
.wf-hvac.wf-mixer-controller-variable-flow-rate:before {
    content: "\e69a";
}
.wf-hvac.wf-mixer-controller-variable-flow-rate:after {
    content: "\e69b";
}
.wf-hvac.wf-mixing-controller-auxiliary-energy-constant-1-actuator:before {
    content: "\e69c";
}
.wf-hvac.wf-mixing-controller-auxiliary-energy-constant-1-actuator:after {
    content: "\e69d";
}
.wf-hvac.wf-mixing-controller-auxiliary-energy-variable-1-actuator:before {
    content: "\e69e";
}
.wf-hvac.wf-mixing-controller-auxiliary-energy-variable-1-actuator:after {
    content: "\e69f";
}
.wf-hvac.wf-mixing-controller-no-auxiliary-energy-constant-1-actuator:before {
    content: "\e6a0";
}
.wf-hvac.wf-mixing-controller-no-auxiliary-energy-constant-1-actuator:after {
    content: "\e6a1";
}
.wf-hvac.wf-mixing-controller-no-auxiliary-energy-variable-1-actuator:before {
    content: "\e6a2";
}
.wf-hvac.wf-mixing-controller-no-auxiliary-energy-variable-1-actuator:after {
    content: "\e6a3";
}
.wf-hvac.wf-mixer-controller-constant-flow-rate-2-actuators:before {
    content: "\e6a4";
}
.wf-hvac.wf-mixer-controller-constant-flow-rate-2-actuators:after {
    content: "\e6a5";
}
.wf-hvac.wf-mixing-chamber-with-power-flaps:before {
    content: "\e6a6";
}
.wf-hvac.wf-mixing-chamber-with-power-flaps:after {
    content: "\e6a7";
}
.wf-hvac.wf-mixing-chamber-with-power-flaps-and-mixing-tube:before {
    content: "\e6a8";
}
.wf-hvac.wf-mixing-chamber-with-power-flaps-and-mixing-tube:after {
    content: "\e6a9";
}
.wf-hvac.wf-distribution-chamber-with-flaps:before {
    content: "\e6aa";
}
.wf-hvac.wf-distribution-chamber-with-flaps:after {
    content: "\e6ab";
}
.wf-hvac.wf-sound-suppressor:before {
    content: "\e6ac";
}
.wf-hvac.wf-sound-suppressor:after {
    content: "\e6ad";
}
.wf-hvac.wf-flap:before {
    content: "\e6ae";
}
.wf-hvac.wf-flap:after {
    content: "\e6af";
}
.wf-hvac.wf-double-flap-1:before {
  content: "\e6b0";
}
.wf-hvac.wf-double-flap-1:after {
  content: "\e6b1";
}
.wf-hvac.wf-double-flap-2:before {
  content: "\e6b2";
}
.wf-hvac.wf-double-flap-2:after {
  content: "\e6b3";
}
.wf-hvac.wf-double-flap-3:before {
  content: "\e6b4";
}
.wf-hvac.wf-double-flap-3:after {
  content: "\e6b5";
}
.wf-hvac.wf-double-flap-border-1:before {
  content: "\e6b6";
}
.wf-hvac.wf-double-flap-border-1:after {
  content: "\e6b7";
}
.wf-hvac.wf-double-flap-border-2:before {
  content: "\e6b8";
}
.wf-hvac.wf-double-flap-border-2:after {
  content: "\e6b9";
}
.wf-hvac.wf-double-flap-border-3:before {
  content: "\e6ba";
}
.wf-hvac.wf-double-flap-border-3:after {
  content: "\e6bb";
}
.wf-hvac.wf-double-flap-border-4:before {
  content: "\e6bc";
}
.wf-hvac.wf-double-flap-border-4:after {
  content: "\e6bd";
}
.wf-hvac.wf-heat-exchanger:before {
  content: "\e6be";
}
.wf-hvac.wf-heat-exchanger:after {
  content: "\e6bf";
}
.wf-hvac.wf-diode:before {
  content: "\e6c0";
}
.wf-hvac.wf-diode:after {
  content: "\e6c1";
}
.wf-hvac.wf-circuit-braker:before {
  content: "\e6c2";
}
.wf-hvac.wf-circuit-braker:after {
  content: "\e6c3";
}
.wf-hvac.wf-blow-down-valve:before {
  content: "\e6c4";
}
.wf-hvac.wf-blow-down-valve:after {
  content: "\e6c5";
}
.wf-hvac.wf-ceiling-diffuser:before {
  content: "\e6c6";
}
.wf-hvac.wf-ceiling-diffuser:after {
  content: "\e6c7";
}
.wf-hvac.wf-heat-recovery-unit:before {
  content: "\e6c8";
}
.wf-hvac.wf-heat-recovery-unit:after {
  content: "\e6c9";
}
.wf-hvac.wf-cooling-unit:before {
  content: "\e6ca";
}
.wf-hvac.wf-cooling-unit:after {
  content: "\e6cb";
}
.wf-hvac.wf-buffer:before {
  content: "\e6cc";
}
.wf-hvac.wf-buffer:after {
  content: "\e6cd";
}
.wf-hvac.wf-expansion-tank:before {
  content: "\e6ce";
}
.wf-hvac.wf-expansion-tank:after {
  content: "\e6cf";
}
.wf-hvac.wf-heat-exchanger-2-color:before {
  content: "\e6d0";
}
.wf-hvac.wf-heat-exchanger-2-color:after {
  content: "\e6d1";
}