﻿/* Ab Zeile 324 löschen, wenn bereit */
.m113 {
  position: absolute;
  left: 1221px;
  top: 442px;
}
.m114 {
  position: absolute;
  left: 1248px;
  top: 521px;
}
.m100 {
  position: absolute;
  left: 1474px;
  top: 365px;
}
.m101 {
  position: absolute;
  left: 390px;
  top: 365px;
}
.istwert {
  width: 75px;
}
.b830 {
  position: absolute;
  left: 895px;
  top: 225px;
}
.b835 {
  position: absolute;
  left: 222px;
  top: 335px;
}
.b833 {
  position: absolute;
  left: 810px;
  top: 88px;
}
.y720 {
  position: absolute;
  left: 1016px;
  top: 213px;
}
.y721 {
  position: absolute;
  left: 1575px;
  top: 365px;
}
.ausgabe {
  position: absolute;
  left: 870px;
  top: 235px;
}
.bswausgabe {
  position: absolute;
  left: 870px;
  top: 210px;
}
.eingabe {
  position: absolute;
  left: 870px;
  top: 260px;
}
.auf {
  position: absolute;
  left: 120px;
  top: 100px;
}
.ab {
  position: absolute;
  left: 120px;
  top: 130px;
}
.bs-schaltuhr {
  position: absolute;
  left: 1700px;
  top: 615px;
}
.bs-sollwertfenster {
  position: absolute;
  left: 1650px;
  top: 615px;
}
.bs-anlageschalter {
  position: absolute;
  left: 1600px;
  top: 615px;
}
.bs-schiebung {
  position: absolute;
  left: 1550px;
  top: 615px;
}
.bs-bedarfsmeldungen {
  position: absolute;
  left: 1500px;
  top: 615px;
}
.bs-header-mittig {
  text-align: center;
}
.zul_nav_pfeil {
  background: url("../svg/pfeil_rot.svg") no-repeat;
  position: absolute;
  left: 1659px;
  top: 373px;
  height: 24px;
  width: 24px;
}
.abl_nav_pfeil {
  background: url("../svg/pfeil_gelb.svg") no-repeat;
  position: absolute;
  left: 1659px;
  top: 73px;
  height: 24px;
  width: 24px;
}
.fol_nav_pfeil {
  background: url("../svg/pfeil_blau.svg") no-repeat;
  position: absolute;
  left: 117px;
  top: 373px;
  height: 24px;
  width: 24px;
}
.aul_nav_pfeil {
  background: url("../svg/pfeil_gruen.svg") no-repeat;
  position: absolute;
  left: 117px;
  top: 73px;
  height: 24px;
  width: 24px;
}
.bs-testsite {
  background: #fff url("../svg/lueftung.svg") no-repeat;

  height: 710px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.bs-testsite > div > * {
  position: absolute;
}
.bs-schema {
  background: #fff;

  height: 710px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.bs-schema > div > * {
  position: absolute;
}
.le-ventil {
  position: absolute;
  left: 1216px;
  top: 488px;
}
.filter305b1 {
  position: absolute;
  left: 1484px;
  top: 311px;
}
.filter315b1 {
  position: absolute;
  left: 400px;
  top: 311px;
}
.frostschutz {
  position: absolute;
  left: 1350px;
  top: 335px;
}
.vav {
  position: absolute;
  left: 1450px;
  top: 65px;
}
.filter:after {
  color: lawngreen;
}
.bs-anlage-anforderung {
  position: absolute;
  left: 1450px;
  top: 615px;
}

.bs-zustandsanzeige {
  position: absolute;
  left: 500px;
  top: 615px;
}

.bs-zustandsanzeige-digital {
  position: absolute;
  left: 650px;
  top: 615px;
}

.bs-heizkurve {
  position: absolute;
  left: 1400px;
  top: 615px;
}
.bs-heizgrenze {
  position: absolute;
  left: 1350px;
  top: 615px;
}
.bs-heizbetrieb {
  position: absolute;
  left: 1300px;
  top: 615px;
}
/* Lista Erlen */
.bs-home {
  background: #fff url("../svg/hallen_uebersicht.svg") no-repeat center top;
  height: 690px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.bs-page-header {
  margin: 20px 0;
}

.lista-hza-gruppen {
  background: #fff url("../svg/lista_heizung.svg") no-repeat;
  height: 690px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.lista-lue-rampen {
  background: #fff url("../svg/Rampe.svg") no-repeat;
  height: 690px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.lista-lue-lta-og {
  background: #fff url("../svg/lue_lta_og.svg") no-repeat;
  height: 690px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.lista-lue-bau900 {
  background: #fff url("../svg/Lista_Bau_900_Grundriss.svg") no-repeat;
  height: 720px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.lista-lue-anexbau {
  background: #fff url("../svg/LUE_Anexbau.svg") no-repeat;
  height: 690px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.lista-lue-farblager {
  background: #fff url("../svg/lue_farblager.svg") no-repeat;
  height: 690px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.lista-lue-tls {
  background: #fff url("../svg/tls.svg") no-repeat;
  height: 690px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.lista-lue-achsen {
  background: #fff url("../svg/lha_achsen.svg") no-repeat;
  height: 690px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.lista-lue-bau900-fenster {
  background: #fff url("../svg/Lista_Bau_900_Grundriss_fenster.svg") no-repeat;
  height: 720px;
  width: 1850px;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.h01-text {
  position: absolute;
  left: 490px;
  top: 30px;
}
.h02-text {
  position: absolute;
  left: 850px;
  top: 30px;
}
.h03-text {
  position: absolute;
  left: 1570px;
  top: 30px;
}
.txt-druckluft {
  position: absolute;
  left: 105px;
  top: 470px;
}
.ls-y11482 {
  position: absolute;
  left: 72px;
  top: 315px;
}
.ls-y11462 {
  position: absolute;
  left: 1677px;
  top: 495px;
}
.ls-y11456 {
  position: absolute;
  left: 957px;
  top: 495px;
}
.ls-y11452 {
  position: absolute;
  left: 597px;
  top: 495px;
}
.ls-y11492 {
  position: absolute;
  left: 486px;
  top: 315px;
}
.bs-sensor11605 {
  position: absolute;
  left: 1729px;
  top: 265px;
}
.bs-sensor11604 {
  position: absolute;
  left: 1010px;
  top: 265px;
}
.bs-sensor11603 {
  position: absolute;
  left: 650px;
  top: 265px;
}
.bs-sensor11612 {
  position: absolute;
  left: 539px;
  top: 265px;
}
.bs-sensor11622 {
  position: absolute;
  left: 459px;
  top: 531px;
}
.bs-pump11072 {
  position: absolute;
  left: 838px;
  top: 230px;
  z-index: 10;
}
.divAnforderungen {
  border: 1px solid #404040;
  border-radius: 5px;
  position: absolute;
  left: 1300px;
  top: 14px;
  background-color: #cdcdcd;
}
.divAnforderungenH01 {
  border: 1px solid #404040;
  border-radius: 5px;
  position: absolute;
  left: 250px;
  top: 14px;
  background-color: #cdcdcd;
}
.widgetAnforderung {
  margin: 15px 5px 15px 5px;
}
.btnAnforderung {
  position: absolute;
  left: 1676px;
  top: 168px;
}
.btnAnforderungH01 {
  position: absolute;
  left: 596px;
  top: 168px;
}
.pumpeM11052 {
  position: absolute;
  left: 604px;
  top: 320px;
}
.pumpeM11062 {
  position: absolute;
  left: 964px;
  top: 320px;
}
.pumpeM11072 {
  position: absolute;
  left: 1684px;
  top: 320px;
}
.bSwB11603 {
  position: absolute;
  left: 628px;
  top: 215px;
}
.bSwB11604 {
  position: absolute;
  left: 988px;
  top: 215px;
}
.bSwB11605 {
  position: absolute;
  left: 1707px;
  top: 215px;
}
.energiezaehler {
  position: absolute;
  left: 125px;
  top: 267px;
}
.aktuelleLeistung {
  position: absolute;
  left: 125px;
  top: 240px;
}
.vlTemp {
  position: absolute;
  left: 226px;
  top: 422px;
}
.rlTemp {
  position: absolute;
  left: 226px;
  top: 231px;
}
.anlageschalterH1 {
  position: absolute;
  left: 490px;
  top: 168px;
}
.anlageschalterH2 {
  position: absolute;
  left: 850px;
  top: 168px;
}
.anlageschalterH3 {
  position: absolute;
  left: 1570px;
  top: 168px;
}
.swH01 {
  position: absolute;
  left: 1623px;
  top: 168px;
}
.swH02 {
  position: absolute;
  left: 903px;
  top: 168px;
}
.swH03 {
  position: absolute;
  left: 543px;
  top: 168px;
}
.swHeizbetrieb {
  position: absolute;
  left: 1800px;
  top: 638px;
}
.suH02 {
  position: absolute;
  left: 956px;
  top: 168px;
}
.txt-rampe-nw {
  position: absolute;
  left: 1644px;
  top: 13px;
}
.txt-le {
  position: absolute;
  left: 1233px;
  top: 449px;
}
.ventilator-m10063 {
  position: absolute;
  left: 918px;
  top: 472px;
}
.klappe-AUL-Y10492 {
  position: absolute;
  left: 350px;
  top: 472px;
}
.klappe-UML-Y10482 {
  position: absolute;
  left: 675px;
  top: 113px;
}
.klappe-ZUL-Y10486 {
  position: absolute;
  left: 1460px;
  top: 472px;
}
.bs-sensor-B10604 {
  position: absolute;
  left: 1420px;
  top: 443px;
}
.bs-sensor-B10605 {
  position: absolute;
  left: 1570px;
  top: 320px;
}
.frostschutz-B10604 {
  position: absolute;
  left: 1370px;
  top: 443px;
}
.filter-B10532 {
  position: absolute;
  left: 1058px;
  top: 424px;
}
.le-Y10456 {
  position: absolute;
  left: 1214px;
  top: 550px;
}
.lue-nw-anlageschalter-l02 {
  position: absolute;
  left: 1799px;
  top: 624px;
}
.lue-nw-sollwerte-l02 {
  position: absolute;
  left: 1749px;
  top: 624px;
}
.lue-nw-su-l02 {
  position: absolute;
  left: 1699px;
  top: 624px;
}
.lue-su-farblager {
  position: absolute;
  left: 1749px;
  top: 624px;
}
.lue-sw-aussenlicht-l01 {
  position: absolute;
  left: 1649px;
  top: 624px;
}
.ventilator-m8052 {
  position: absolute;
  left: 1391px;
  top: 431px;
}
.ventilator-m8072 {
  position: absolute;
  left: 1262px;
  top: 431px;
}
.ventilator-m8092 {
  position: absolute;
  left: 1133px;
  top: 431px;
}
.ventilator-m8112 {
  position: absolute;
  left: 1004px;
  top: 431px;
}
.ventilator-m8083 {
  position: absolute;
  left: 1513px;
  top: 588px;
}
.ventilator-m8103 {
  position: absolute;
  left: 1433px;
  top: 589px;
}
.ventilator-m8123 {
  position: absolute;
  left: 1042px;
  top: 69px;
}
.ventilator-m4112 {
  position: absolute;
  left: 298px;
  top: 163px;
}
.ventilator-m4092 {
  position: absolute;
  left: 298px;
  top: 289px;
}
.ventilator-m4072 {
  position: absolute;
  left: 427px;
  top: 289px;
}
.ventilator-m4052 {
  position: absolute;
  left: 556px;
  top: 289px;
}
.ventilator-m4102 {
  position: absolute;
  left: 444px;
  top: 69px;
}
.ventilator-m4062 {
  position: absolute;
  left: 670px;
  top: 69px;
}
.ventilator-m4122 {
  position: absolute;
  left: 442px;
  top: 589px;
}
.ventilator-m4082 {
  position: absolute;
  left: 670px;
  top: 589px;
}

.klappe-Y8302 {
  position: absolute;
  left: 1392px;
  top: 461px;
}
.klappe-Y8321 {
  position: absolute;
  left: 1263px;
  top: 461px;
}
.klappe-Y8322 {
  position: absolute;
  left: 1134px;
  top: 461px;
}
.klappe-Y8332 {
  position: absolute;
  left: 1005px;
  top: 461px;
}

.klappe-Y8315 {
  position: absolute;
  left: 1514px;
  top: 621px;
}
.klappe-Y8325 {
  position: absolute;
  left: 1434px;
  top: 621px;
}
.klappe-Y8335 {
  position: absolute;
  left: 1041px;
  top: 28px;
}
.klappe-Y4332 {
  position: absolute;
  left: 298px;
  top: 193px;
}
.klappe-Y4322 {
  position: absolute;
  left: 298px;
  top: 319px;
}
.klappe-Y4312 {
  position: absolute;
  left: 427px;
  top: 319px;
}
.klappe-Y4302 {
  position: absolute;
  left: 557px;
  top: 319px;
}
.klappe-Y4325 {
  position: absolute;
  left: 444px;
  top: 28px;
}
.klappe-Y4305 {
  position: absolute;
  left: 670px;
  top: 28px;
}
.klappe-Y4335 {
  position: absolute;
  left: 442px;
  top: 621px;
}
.klappe-Y4315 {
  position: absolute;
  left: 670px;
  top: 621px;
}

.filter-B8552 {
  position: absolute;
  left: 1162px;
  top: 255px;
}
.filter-B8553 {
  position: absolute;
  left: 1162px;
  top: 376px;
}
.filter-B8554 {
  position: absolute;
  left: 1162px;
  top: 499px;
}
.bs-sensor-B8601 {
  position: absolute;
  left: 1630px;
  top: 592px;
}
.bs-sensor-B8603 {
  position: absolute;
  left: 1394px;
  top: 592px;
}
.bs-sensor-B8604 {
  position: absolute;
  left: 1218px;
  top: 592px;
}
.bs-sensor-B8606 {
  position: absolute;
  left: 1050px;
  top: 592px;
}

.bs-sensor-B4601 {
  position: absolute;
  left: 548px;
  top: 82px;
}
.bs-sensor-B4603 {
  position: absolute;
  left: 548px;
  top: 592px;
}
.bs-sensor-B4604 {
  position: absolute;
  left: 408px;
  top: 82px;
}
.bs-sensor-B4606 {
  position: absolute;
  left: 261px;
  top: 592px;
}
.bs-sensor-B5152 {
  position: absolute;
  left: 431px;
  top: 370px;
}
.bs-sensor-B5155 {
  position: absolute;
  left: 1084px;
  top: 370px;
}

.bs-fenster-control-1 {
  position: absolute;
  left: 344px;
  top: 214px;
}

.bs-fenster-control-2 {
  position: absolute;
  left: 1287px;
  top: 214px;
}

.bs-fenster-control-3 {
  position: absolute;
  left: 344px;
  top: 511px;
}

.bs-fenster-control-4 {
  position: absolute;
  left: 1287px;
  top: 511px;
}

.bs-fenster-control-5 {
  position: absolute;
  left: 230px;
  top: 0px;
}

.bs-fenster-control-6 {
  position: absolute;
  left: 1405px;
  top: 0px;
}

.bs-fenster-control-7 {
  position: absolute;
  left: 546px;
  top: 0px;
}

.bs-fenster-control-8 {
  position: absolute;
  left: 1092px;
  top: 0px;
}

.lue-og-anlageschalter {
  position: absolute;
  left: 1799px;
  top: 694px;
}
.lue-og-sollwerte {
  position: absolute;
  left: 1749px;
  top: 694px;
}
.lue-og-schiebung {
  position: absolute;
  left: 1699px;
  top: 694px;
}
.lue-og-nk {
  position: absolute;
  left: 1649px;
  top: 694px;
}
.lue-og-su {
  position: absolute;
  left: 1599px;
  top: 694px;
}
.txt-eingang-no {
  position: absolute;
  left: 1630px;
  top: 13px;
}
.lue-tls-m5062 {
  position: absolute;
  left: 915px;
  top: 474px;
}
.bs-sensor-B5604 {
  position: absolute;
  left: 1420px;
  top: 444px;
}
.bs-sensor-B5605 {
  position: absolute;
  left: 1600px;
  top: 310px;
}
.le-Y5456 {
  position: absolute;
  left: 1214px;
  top: 555px;
}
.txt-achse-3-og {
  position: absolute;
  left: 1630px;
  top: 13px;
}
.txt-le-achsen {
  position: absolute;
  left: 1222px;
  top: 203px;
}
.txt-achse-3-eg {
  position: absolute;
  left: 1630px;
  top: 215px;
}
.bs-achsen-sensor-rt {
  position: absolute;
  left: 1600px;
  top: 410px;
}
.bs-achsen-sensor-zul {
  position: absolute;
  left: 1420px;
  top: 194px;
}
.frostschutz-achsen {
  position: absolute;
  left: 1370px;
  top: 194px;
}
.filter-achsen {
  position: absolute;
  left: 1049px;
  top: 176px;
}
.venti-ueberwacher-achsen {
  position: absolute;
  left: 912px;
  top: 176px;
}
.venti-achsen {
  position: absolute;
  left: 903px;
  top: 223px;
}
.pumpe-achsen {
  position: absolute;
  left: 1211px;
  top: 298px;
}
.ventil-achsen {
  position: absolute;
  left: 1204px;
  top: 360px;
}
.klappe-UML-OG-achsen {
  position: absolute;
  left: 1409px;
  top: 12px;
}
.klappe-UML-EG-achsen {
  position: absolute;
  left: 1409px;
  top: 574px;
}
.klappe-AUL-achsen {
  position: absolute;
  left: 337px;
  top: 223px;
}
.at {
  position: absolute;
  left: 170px;
  top: 0px;
}
.at12mw {
  position: absolute;
  left: 170px;
  top: 24px;
}
.at24mw {
  position: absolute;
  left: 170px;
  top: 48px;
}
.bs-tls-no-berSw {
  position: absolute;
  left: 1398px;
  top: 394px;
}
.bs-achsen-berSw {
  position: absolute;
  left: 1398px;
  top: 144px;
}
.bs-achsen-berSw-rt {
  position: absolute;
  left: 1578px;
  top: 360px;
}
.bs-achsen-UML-oben {
  position: absolute;
  left: 1400px;
  top: -13px;
}
.bs-achsen-UML-unten {
  position: absolute;
  left: 1400px;
  top: 550px;
}
.bs-achsen-AUL {
  position: absolute;
  left: 330px;
  top: 200px;
}
.lue-achsen-hk-zul {
  position: absolute;
  left: 1700px;
  top: 624px;
}
.lue-achsen-hk-rt {
  position: absolute;
  left: 1650px;
  top: 624px;
}
.bs-achsen-Sw-rt {
  position: absolute;
  left: 1600px;
  top: 75px;
}
.bs-lastabwurf-zeile {
  padding-top: 12px;
  padding-bottom: 12px;
}
.bs-lastabwurf-zeilen-hoehe {
  height: 44px;
}
.bs-lastabwurf-leistung-gauge {
  position: absolute;
  left: 975px;
  top: 595px;
}
.bs-lastabwurf-periode-gauge {
  position: absolute;
  left: 1200px;
  top: 595px;
}

.bs-beschriftung-medium {
  font-size: 16px;
  font-weight: normal;
  color: #4d4d4d;
  text-align: center;
  font-family: "Century Gothic", Segoe UI, Arial, Helvetica;
}

.bs-fenster {
  background: linear-gradient(
    rgb(255, 255, 255) -35%,
    rgb(241, 241, 241) 24%,
    rgb(225, 225, 225) 51%,
    #cccccc 100%
  );
  border: solid;
  border-radius: 5px;
  border-color: gray;
  border-width: thin;
  padding: 0px;
  margin: 10px 0px 10px 0px;
  width: 210px;
}

.bs-fenster-1 {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  align-content: center;
  justify-content: center;
}

.bs-fenster-gesperrt {
  padding-top: 5px;
  padding-left: 49px;
  padding-right: 49px;
  padding-bottom: 5px;
  align-content: center;
  justify-content: center;
}

.bs-fenster-wind {
  padding-left: 8px;
}

.bs-fenster-schloss {
  padding-left: 4px;
  padding-right: 4px;
}

.bs-fenster-regen {
  padding-right: 8px;
}
