﻿
/*------------------------------*/
/* Modifiers styles */
/*------------------------------*/

.hidden {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.draggable {
    cursor: move;
}

.dragging.draggable {
    cursor: move;
    display: inherit;
    background-color: rgba(34, 116, 172,.95);
    color: #ffffff;
    opacity: .9;
    -moz-animation: pulse 1s infinite;
    -o-animation: pulse 1s infinite;
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
}

.text-bold {
    font-weight: bold;
}

.text-bolder {
    font-weight: bolder;
}

.line-heigh-1 {
    line-height: 1;
}

.cursor-hand {
    cursor: pointer;
}

.no-after-content:after {
    content: none !important;
}

.no-before-content:before {
    content: none !important;
}

.background-cover {
    background-size: cover !important;
    background-position: center center;
}

.background-contain {
    background-size: contain !important;
    background-position: center center;
}

.background-no-repeat {
    background-repeat: no-repeat;
}

.background-x-repeat {
    background-repeat: repeat-x;
}

.background-y-repeat {
    background-repeat: repeat-y;
}

/*----------------------------------*/
/* Positioning and alignment styles */
/*----------------------------------*/

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.block {
    display: block !important;
}

.fluid {
    width: 100% !important;
}

.inline {
    display: inline !important;
}

.inline-block,
.inlineblock {
    display: inline-block !important;
}


.center-horizontal {
    margin: 0 auto;
}

.center-vertical,
.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.v-orientation > *{
    display: block;
}

.h-orientation > *{
    display: inline-block;
}

.h-centered,
.centered {
    margin: 0 auto;
}

.absolute.h-centered,
.absolute.centered {
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.v-centered {
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.scroll-x {
    overflow-x: auto;
    max-width: 100%;
}

.scroll-y {
    overflow-y: auto;
    max-width: 100%;
}

/*------------------------------*/
/* Borders styles                */
/*------------------------------*/

.has-border,
.b-a {
    border: 1px solid #ccc;
}

.has-border-bottom,
.b-b {
    border-bottom: 1px solid #ccc;
}

.has-border-top,
.b-t {
    border-top: 1px solid #ccc;
}

.transparent {
    background-color: transparent;
}

.b-l {
    border-left: 1px solid #ccc;
}

.b-r {
    border-right: 1px solid #ccc;
}

.b-a-0 {
    border: none !important;
    box-shadow: none !important;
}

.border-radius-round {
    border-radius: 50%;
}

.stretched,
.wf-embed-stretch {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-visible {
    overflow: visible !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-scroll {
    overflow: scroll !important;
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}

.overflow-y-scroll {
    overflow-y: auto !important;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

.overflow-x-ellipsis {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
}

.text-overflow {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.word-wrap-break-word {
   word-wrap: break-word; 
}


.nowrap {
    white-space: nowrap;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.has-shadow {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.clickable {
    cursor: pointer;
}

/* Panel layout specific modifier class names*/
.has-head {
}

.has-subtitle {
}

.has-footer {
}

.has-hover-icon {
}

/* Flexbox modifiers */
/* Great flexbox explanations: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.flexbox {
    display: flex !important;
}

.flexbox-row {
    flex-direction: row;
}

.flexbox-row-reverse {
    flex-direction: row-reverse;
}

.flexbox-column {
    flex-direction: column;
}

.flexbox-column-reverse {
    flex-direction: column-reverse;
}

.flexbox-row-reverse {
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flexbox-direction {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flexbox-column-reverse {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.flexbox-wrap {
    flex-wrap: wrap;
}

.flexbox-h-start {
    justify-content: flex-start;
}

.flexbox-h-end {
    justify-content: flex-end;
}

.flexbox-h-center {
    justify-content: center;
}

.flexbox-h-justified {
    justify-content: space-between;
}

.flexbox-v-start {
    align-items: flex-start;
}

.flexbox-v-end {
    align-items: flex-end;
}

.flexbox-v-center {
    align-items: center;
}

.flexbox-v-stretched {
    align-items: stretch;
}

/* Lets the item size be dependent to its width and height but also to stretch it over available space in its parent container */
.flex-auto {
   flex: 1 1 auto; 
}

/* To be used for orientation related symbols like arrows */

.invert-x {
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.invert-y {
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

/* Extra Small sized paddings */
.p-a-xs {
    padding: 5px !important;
}

.p-t-xs {
    padding-top: 5px !important;
}

.p-r-xs {
    padding-right: 5px !important;
}

.p-b-xs {
    padding-bottom: 5px !important;
}

.p-l-xs {
    padding-left: 5px !important;
}

.p-x-xs {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.p-y-xs {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

/* Small sized paddings */

.p-a-sm {
    padding: 5px !important;
}

.p-t-sm {
    padding-top: 5px !important;
}

.p-r-sm {
    padding-right: 5px !important;
}

.p-b-sm {
    padding-bottom: 5px !important;
}

.p-l-sm {
    padding-left: 5px !important;
}

.p-x-sm {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.p-y-sm {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

/* Large sized paddings */
.p-a-lg {
    padding: 30px !important;
}

.p-t-lg {
    padding-top: 30px !important;
}

.p-r-lg {
    padding-right: 30px !important;
}

.p-b-lg {
    padding-bottom: 30px !important;
}

.p-l-lg {
    padding-left: 30px !important;
}

.p-x-lg {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.p-y-lg {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

/* XLarge sized paddings */
.p-a-xlg {
    padding: 45px !important;
}

.p-t-xlg {
    padding-top: 45px !important;
}

.p-r-xlg {
    padding-right: 45px !important;
}

.p-b-xlg {
    padding-bottom: 45px !important;
}

.p-l-xlg {
    padding-left: 45px !important;
}

.p-x-xlg {
    padding-right: 45px !important;
    padding-left: 45px !important;
}

.p-y-xlg {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}

/* XXLarge sized paddings */
.p-a-xxlg {
    padding: 60px !important;
}

.p-t-xxlg {
    padding-top: 60px !important;
}

.p-r-xxlg {
    padding-right: 60px !important;
}

.p-b-xxlg {
    padding-bottom: 60px !important;
}

.p-l-xxlg {
    padding-left: 60px !important;
}

.p-x-xxlg {
    padding-right: 60px !important;
    padding-left: 60px !important;
}

.p-y-xxlg {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

/* 3XLarge sized paddings */
.p-a-3xlg {
    padding: 75px !important;
}

.p-t-3xlg {
    padding-top: 75px !important;
}

.p-r-3xlg {
    padding-right: 75px !important;
}

.p-b-3xlg {
    padding-bottom: 75px !important;
}

.p-l-3xlg {
    padding-left: 75px !important;
}

.p-x-3xlg {
    padding-right: 75px !important;
    padding-left: 75px !important;
}

.p-y-3xlg {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
}


/* Default sized paddings */
.p-a {
    padding: 10px !important;
}

.p-t {
    padding-top: 10px !important;
}

.p-r {
    padding-right: 10px !important;
}

.p-b {
    padding-bottom: 10px !important;
}

.p-l {
    padding-left: 10px !important;
}

.p-x {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.p-y {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

/* Medium sized paddings */
.p-a-md {
    padding: 15px !important;
}

.p-t-md {
    padding-top: 15px !important;
}

.p-r-md {
    padding-right: 15px !important;
}

.p-b-md {
    padding-bottom: 15px !important;
}

.p-l-md {
    padding-left: 15px !important;
}

.p-x-md {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.p-y-md {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

/* Spacing modifiers - Padding */
.p-a-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


/* Small sized Margins */
.m-a-sm {
    margin: 5px !important;
}

.m-t-sm {
    margin-top: 5px !important;
}

.m-r-sm {
    margin-right: 5px !important;
}

.m-b-sm {
    margin-bottom: 5px !important;
}

.m-l-sm {
    margin-left: 5px !important;
}

.m-x-sm {
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.m-y-sm {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

/* Default sized Margins */
.m-a {
    margin: 10px !important;
}

.m-t {
    margin-top: 10px !important;
}

.m-r {
    margin-right: 10px !important;
}

.m-b {
    margin-bottom: 10px !important;
}

.m-l {
    margin-left: 10px !important;
}

.m-x {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.m-y {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/* Medium sized Margins */
.m-a-md {
    margin: 15px !important;
}

.m-t-md {
    margin-top: 15px !important;
}

.m-r-md {
    margin-right: 15px !important;
}

.m-b-md {
    margin-bottom: 15px !important;
}

.m-l-md {
    margin-left: 15px !important;
}

.m-x-md {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.m-y-md {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

/* Large sized margin */
.m-a-lg {
    margin: 30px !important;
}

.m-t-lg {
    margin-top: 30px !important;
}

.m-r-lg {
    margin-right: 30px !important;
}

.m-b-lg {
    margin-bottom: 30px !important;
}

.m-l-lg {
    margin-left: 30px !important;
}

.m-x-lg {
    margin-right: 30px !important;
    margin-left: 30px !important;
}

.m-y-lg {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

/* XLarge sized margin */
.m-a-xlg {
    margin: 45px !important;
}

.m-t-xlg {
    margin-top: 45px !important;
}

.m-r-xlg {
    margin-right: 45px !important;
}

.m-b-xlg {
    margin-bottom: 45px !important;
}

.m-l-xlg {
    margin-left: 45px !important;
}

.m-x-xlg {
    margin-right: 45px !important;
    margin-left: 60px !important;
}

.m-y-xlg {
    margin-top: 45px !important;
    margin-bottom: 60px !important;
}

/* XXLarge sized margin */
.m-a-xxlg {
    margin: 60px !important;
}

.m-t-xxlg {
    margin-top: 60px !important;
}

.m-r-xxlg {
    margin-right: 60px !important;
}

.m-b-xxlg {
    margin-bottom: 60px !important;
}

.m-l-xxlg {
    margin-left: 60px !important;
}

.m-x-xxlg {
    margin-right: 60px !important;
    margin-left: 60px !important;
}

.m-y-xxlg {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

/* 3XLarge sized margin */
.m-a-3xlg {
    margin: 75px !important;
}

.m-t-3xlg {
    margin-top: 75px !important;
}

.m-r-3xlg {
    margin-right: 75px !important;
}

.m-b-3xlg {
    margin-bottom: 75px !important;
}

.m-l-3xlg {
    margin-left: 75px !important;
}

.m-x-3xlg {
    margin-right: 75px !important;
    margin-left: 60px !important;
}

.m-y-3xlg {
    margin-top: 75px !important;
    margin-bottom: 60px !important;
}


/* Spacing modifiers - Margins */
.m-a-0 {
    margin: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-x-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Spacing modifiers - auto margins */

.m-l-auto {
    margin-left: auto;
}
.m-r-auto {
    margin-right: auto;
}

/*---------------------------------------------------------------------- 
    Direction related classes - primary for fix sizing symbols and icons 
----------------------------------------------------------------------*/

.wf-n {
    display: inline-block;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.wf-s {
    display: inline-block;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.wf-w {
    display: inline-block;
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.wf-ne {
    display: inline-block;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.wf-se {
    display: inline-block;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wf-nw {
    display: inline-block;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.wf-sw {
    display: inline-block;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

/*---------------------------------------------------------------------- 
    Size related classes - primary for fix sizing symbols and icons 
----------------------------------------------------------------------*/

.wf-1x {
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 14px;
}

.wf-2x {
    font-size: 28px;
    width: 28px;
    height: 28px;
    line-height: 28px;
}

.wf-3x {
    font-size: 42px;
    width: 42px;
    height: 42px;
    line-height: 42px;
}

.wf-4x {
    font-size: 56px;
    width: 56px;
    height: 56px;
    line-height: 56px;
}

.wf-5x {
    font-size: 70px;
    width: 70px;
    height: 70px;
    line-height: 70px;
}

.wf-6x {
    font-size: 84px;
    width: 84px;
    height: 84px;
    line-height: 84px;
}

/*---------------------------------------------------------------------- 
    Width related classes
----------------------------------------------------------------------*/

.wf-width-xs {
    width: 120px;
}

.wf-width-sm {
    width: 185px
}

.wf-width-md {
    width: 250px;
}

.wf-width-lg {
    width: 380px;
}

.wf-width-xlg {
    height:510px;
}

.wf-width-2xlg,
.wf-width-xxlg {
    height:640px;
}

.wf-width-3xlg {
    height:770px;
}


/*---------------------------------------------------------------------- 
    Maximum Width related classes
----------------------------------------------------------------------*/

.wf-max-width-xs {
    width: 120px;
}

.wf-max-width-sm {
    width: 185px
}

.wf-max-width-md {
    width: 250px;
}


.wf-max-width-lg {
    width: 380px;
}

.wf-max-width-xlg {
    height:510px;
}

.wf-width-2xlg,
.wf-width-xxlg {
    height:640px;
}

.wf-max-width-3xlg {
    height:770px;
}

/*------
    Custom for BHKW icons
*/
.wf-2x-bhkw {
    font-size: 23px;
    width: 28px;
    height: 16px;
    line-height: 29px;
}

/* [DEPRECATED CLASS] 
   Use stretched instead
*/
.stretch {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

/* [DEPRECATED CLASS] 
   Use m-... class set instead
*/
.margin-right {
    margin-right: 20px !important;
}

.margin-left {
    margin-left: 20px !important;
}

.margin-top {
    margin-top: 20px !important;
}

.margin-bottom {
    margin-bottom: 20px !important;
}

.v-margin {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.h-margin {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

/* [DEPRECATED CLASS] 
   Use b-... class set instead
*/

.borderless {
    border: none !important;
    box-shadow: none !important;
}

.has-no-authorization {
    pointer-events: none;
}