﻿<div class="btn-group  btn-group-justified">
    <a class="btn" data-bind="css: settings.cssClass1, event: { mousedown: writeDownValue1, mouseup: writeUpValue1 }">
        <i data-bind="css: settings.iconClass1"></i>
        <span data-bind="text: settings.buttonText1"></span>
    </a>

    <a class="btn" data-bind="css: settings.cssClass2, event: { mousedown: writeDownValue2, mouseup: writeUpValue2 }">
        <i data-bind="css: settings.iconClass2"></i>
        <span data-bind="text: settings.buttonText2"></span>
    </a>
</div>
