﻿<span data-bind="if: hasAuthorization">
    <span class="user-information" data-bind="text: output, attr : {title: tooltipText}"></span>
</span>
<!--<pre data-bind="text: ko.toJSON(userDetails(), null, 2)"></pre>-->