﻿<div class="marker marker-blue" 
    data-bind="bsPopover: { template: ID() , options: { title: settings.popoverTitle, placement: settings.popoverPlacement }, data: { id:  ID() }}">
    <div class="pulse pulse-blue"></div>
    <div class="touchpoint" style=""></div>
    <i class="marker-icon" data-bind="css: settings.iconClass"></i>
</div>

<script type="text/html" data-bind="attr: {id: ID()}">
    <div class="light-popover-content">

        <div class="row ">
            <div class="col-xs-12">
                <h5>LIGHTING CONTROL 1</h5>
                <div data-bind="demoSignalWriteButtonGroup2: { signalName1: signalPrefix + signalName1 + objectID, writeValue1: writeValue1, writeUpValue1: writeUpValue1, buttonText1: 'AN', cssClass1: 'btn-warning', iconClass1: 'fa fa-lightbulb-o', signalName2: signalPrefix + signalName2 + objectID, writeValue2: writeValue2, writeUpValue2: writeUpValue2, buttonText2: 'AUS', isTipModeEnabled: isTipModeEnabled, writeUpDelay: writeUpDelay, cssClass2: 'btn-default', iconClass2: 'fa fa-lightbulb-o' }"></div>
            </div>
        </div>
    </div>
</script>