﻿<div data-bind="if: hasAuthorization() && isVisible()">
    <div class="wf-switch-3-states relative" data-bind="css: cssClass + ' ' + statusCssClass(), attr : {title: tooltipText}">
        <button class="btn wf-switch-button" type="button" data-bind="disable: isDisabled, event: { mousedown: function () {writeInputValue(onValue)}}">
            <i class="wf-switch-3-states-icon" data-bind="css: onIconClass"></i>
            <span class="wf-switch-3-states-label">{{connector.translate(onText)()}}</span>
        </button>
        <button class="btn wf-switch-button" type="button" data-bind="disable: isDisabled, event: { mousedown: function () {writeInputValue(neutralValue)}}">
            <i class="wf-switch-3-states-icon" data-bind="css: neutralIconClass"></i>
            <span class="wf-switch-3-states-label">{{connector.translate(neutralText)()}}</span>
        </button>
        <button class="btn wf-switch-button" type="button" data-bind="disable: isDisabled, event: { mousedown: function () {writeInputValue(offValue)}}">
            <i class="wf-switch-3-states-icon" data-bind="css: offIconClass"></i>
            <span class="wf-switch-3-states-label">{{connector.translate(offText)()}}</span>
        </button>
    </div>
    <!-- ko if: writeSecure -->
    <wf-write-secure-signal params="show: showWriteSecure,
                               signalName: signalName,
                               signalValue: writeSecureValue,
                               draggable: isModalDialogsDraggable"></wf-write-secure-signal>
    <!-- /ko -->
</div>