﻿<table class="table table-striped wf-table-alarms table-hover" data-bind="fixTableHeader:{ wrapperId: settings.tableWrapperID}, sortTable: {sortFunction: function(index, asc) { settings.sortingData({ index: index-1, asc: asc }); }, iconCssClass: 'm-l-sm', excludeColumnIndexs: [0]}">
    <thead data-part="header">
        <!-- ko if: settings.columnsHeaderVisibility-->
        <tr>
            <!-- ko if: settings.rowNumberVisibility-->
            <th>#</th>
            <!-- /ko -->
            <!-- ko foreach: settings.columns.headers -->
            <th><span data-bind="wfSymbolicText: { symbolicText: $data }"></span></th>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
    </thead>
    <tbody data-part="rows" data-bind="foreach: {data: settings.alarms, as: 'alarm'}">
        <tr data-bind="css: { 'on': DateOn, 'gone': DateOff, 'acknowledged': DateAck }, style: { color: background() } ">
            <!-- ko if:$parent.settings.rowNumberVisibility-->
            <td data-bind="text: $index() + 1" class="index" />
            <!-- /ko -->
            <!-- ko foreach: $parent.settings.columns.data -->
                <!-- ko if: $data === 'AcknowledgedWithComment' -->
                <td><span class="wf wf wf-check" data-bind="attr: { title: alarm['AckText'] }, visible: alarm[$data], click: function(data, event) { $parents[1].selectAlarm($parent, event) }"></span></td>
                <!-- /ko -->
                <!-- ko if: $data === 'AlarmLinkURL' -->
                <td data-bind="click: alarm[$data] ? null : function(data, event) { $parents[1].selectAlarm($parent, event) }">
                    <a data-bind="attr: { title: alarm['AlarmLinkURL'], href:  alarm[$data]}, visible: alarm[$data]" target="_blank">
                        <i class="wf wf wf-link"></i>
                    </a>
                </td>
                <!-- /ko -->
                <!-- ko if: $parents[1].isDateField($data) -->
                <td data-bind="formattedDate: { value: alarm[$data], format: $parents[1].dateTimeFormat }, click: function(data, event) { $parents[1].selectAlarm($parent, event) }" />
                <!-- /ko -->
                <!-- ko ifnot: $parents[1].isDateField($data) ||  $data === 'AcknowledgedWithComment' ||  $data === 'AlarmLinkURL'-->
                <td data-bind="text: alarm[$data], click: function(data, event) { $parents[1].selectAlarm($parent, event) }" />
                <!-- /ko -->
            <!-- /ko -->
        </tr>
    </tbody>
</table>