﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Lastabwurf</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 table-header txt-ueberschrift-4 bs-center" style="padding-top: 7px; padding-bottom: 7px;">Bezeichnung</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 table-header txt-ueberschrift-4 bs-center" style="padding-top: 7px; padding-bottom: 7px;">Leistung [kW]</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 table-header txt-ueberschrift-4 bs-center" style="padding-top: 7px; padding-bottom: 7px;">Priorität</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 table-header txt-ueberschrift-4 bs-center" style="padding-top: 7px; padding-bottom: 7px;">Aktiv / Inaktiv</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 table-header txt-ueberschrift-4 bs-center" style="padding-top: 7px; padding-bottom: 7px;">Zustand Lastabwurf</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe">Reserve</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile" data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Leistung_1' }"></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Prio_1' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Active_1', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'inaktiv'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'aktiv' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Zustand_1', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'gesperrt'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'normalzustand' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe">Reserve</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell" data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Leistung_2' }"></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell" data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Prio_2' }"></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe" data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Active_2', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'inaktiv'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'aktiv' }] }"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe" data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Zustand_2', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'gesperrt'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'normalzustand' }] }"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe">Generator</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile" data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Leistung_3' }"></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile" data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Prio_3' }"></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe" data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Active_3', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'inaktiv'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'aktiv' }] }"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe" data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Zustand_3', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'gesperrt'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'normalzustand' }] }"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe">Umwälzpumpe Lüftung</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Leistung_4' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Prio_4' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Active_4', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'inaktiv'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'aktiv' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Zustand_4', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'gesperrt'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'normalzustand' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe">Reserve</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Leistung_5' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Prio_5' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Active_5', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'inaktiv'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'aktiv' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Zustand_5', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'gesperrt'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'normalzustand' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe">Kühlkompressor</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Leistung_6' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Prio_6' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Active_6', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'inaktiv'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'aktiv' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Zustand_6', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'gesperrt'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'normalzustand' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe">Schweissrauchventilator</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Leistung_7' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Prio_7' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Active_7', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'inaktiv'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'aktiv' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Zustand_7', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'gesperrt'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'normalzustand' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe">Luftbefeuchter</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Leistung_8' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Prio_8' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Active_8', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'inaktiv'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'aktiv' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Zustand_8', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'gesperrt'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'normalzustand' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe">Heizung EPV</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Leistung_9' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Prio_9' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Active_9', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'inaktiv'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'aktiv' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Zustand_9', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'gesperrt'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'normalzustand' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe">Boiler</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Leistung_10' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell"><div data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Prio_10' }"></div></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Active_10', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'inaktiv'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'aktiv' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bs-center bs-lastabwurf-zeile background-color-hell bs-lastabwurf-zeilen-hoehe"><div data-bind="bsZustandsanzeige:{ modulName: 'Station_33_VK101_1_Bau900.Flag_Zustand_10', hintergrundTransparent: 'true', zustaende: [ { vergleichswert: '0', farbe: 'color-aus',  text: 'gesperrt'}, { vergleichswert: '-1', farbe: 'color-ein',  text: 'normalzustand' }] }"></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
        </div>
    </div>
    <div class="col-lg-offset-2 col-lg-3" style="margin-top:15px">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-4 col-xs-4 table-header txt-ueberschrift-4 bs-center" style="padding-top: 4px; margin-bottom:4px;">Ist / Sollwerte</div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-3 col-sm-3 col-xs-3 " style="padding-top: 4px; margin-bottom:4px;">Maximal zulässige Energie innert 15 Minuten [kWh]</div><div style="margin-top: 4px; margin-bottom:4px;" class="col-lg-1 col-md-1 col-sm-1 col-xs-1" data-bind="bsSollwertEingabe:{ signalName: 'Station_33_VK101_1_Bau900.Register_Max_Energie_15', breite:'75' }"></div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-3 col-sm-3 col-xs-3 " style="padding-top: 4px; margin-bottom:4px;">Letzte Messperiode</div><div style="margin-top: 4px; margin-bottom:4px;" class="col-lg-1 col-md-1 col-sm-1 col-xs-1" data-bind="bsAusgabefeld:{ signalName: 'Station_33_VK101_1_Bau900.Register_letzte_Messperiode', einheit: 'kWh', breite:'75' }"></div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-3 col-sm-3 col-xs-3 " style="padding-top: 4px; margin-bottom:4px;">Aktuelle Energie</div><div style="margin-top: 4px; margin-bottom:4px;" class="col-lg-1 col-md-1 col-sm-1 col-xs-1" data-bind="bsAusgabefeld:{ signalName: 'Station_33_VK101_1_Bau900.Register_aktuelle_Energie', einheit: 'kWh', breite:'75' }"></div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-3 col-sm-3 col-xs-3 " style="padding-top: 14px; margin-bottom:4px;">Aktuelle Leistung</div><div style="margin-top: 14px; margin-bottom:4px;" class="col-lg-1 col-md-1 col-sm-1 col-xs-1" data-bind="bsAusgabefeld:{ signalName: 'Station_33_VK101_1_Bau900.Register_aktuelle_Leistung', einheit: 'kW', breite:'75' }"></div>
        </div>
    </div>
    <div style="margin-top:15px" class="col-lg-1 txt-ueberschrift-4 bs-right">Energie:</div>
    <div class="row">
        <div style="margin-top:15px" class="col-lg-2 barGraph progress-striped">
            <div data-bind="wfValueBarGraph: {
                signalName: 'Station_33_VK101_1_Bau900.Register_letzte_Messperiode',
                minRange: '0',
                maxRange: '1450',
                valueLabel: true,
                unitLabel: true,
                showTickLabels: false,
                progressBarSize: 'progress-xs',
                cssClass: 'progress-bar-warning'
          }">
            </div>
            <div data-bind="wfValueBarGraph: {
                signalName: 'Station_33_VK101_1_Bau900.Register_aktuelle_Energie',
                minRange: '0',
                maxRange: '1450',
                valueLabel: false,
                unitLabel: false,
                showTickLabels: true,
                cssClass: 'progress-bar-success'
          }">
            </div>
        </div>
    </div>
    <!--<div  style="margin-top:15px" class="col-lg-2" data-bind="wfValueGauge: {
         signalName: 'Station_33_VK101_1_Bau900.Register_letzte_Messperiode',
         iconClass: 'wf-lg wf-flash bs-150x',
         minRange: '0',
         maxRange: '1450',
         lowRangeFillColor: '#f0ad4e',
         highRangeFillColor: '#d9534f',
         backgroundFillColor: '#5cb85c'
         }"></div>-->
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>