﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Bau 900 Fenster OG</h1>
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive lista-lue-bau900-fenster hidden-xs">
            <!-- Beschriftungen -->
            <div style="position:absolute; left:899px; top:560px; color:#0000ff">Achse 12</div>

            <div title="Oblicht Halle Axe 12-17" class="bs-fenster-control-1" data-bind="bsFenster: {
            dialogTitle: 'Oblicht Halle Axe 12-17',
            masterName: 'Station_36_VK108_1_Bau900',
            fensterNr : 'E03'
        }"></div>
            <div title="Oblicht Halle Axe 01-12" class="bs-fenster-control-2" data-bind="bsFenster: {
            dialogTitle: 'Oblicht Halle Axe 01-12',
            masterName: 'Station_36_VK108_1_Bau900',
            fensterNr : 'E01'
        }"></div>
            <div title="Oblicht Treppenhaus Axe 12-17" class="bs-fenster-control-3" data-bind="bsFenster: {
            dialogTitle: 'Oblicht Treppenhaus Axe 12-17',
            masterName: 'Station_36_VK108_1_Bau900',
            fensterNr : 'E04'
        }"></div>
            <div title="Oblicht Treppenhaus Axe 01-12" class="bs-fenster-control-4" data-bind="bsFenster: {
            dialogTitle: 'Oblicht Treppenhaus Axe 01-12',
            masterName: 'Station_36_VK108_1_Bau900',
            fensterNr : 'E02'
        }"></div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>