<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Heizgruppen Lüftung Bau 900, Heizung Bau 900 und Bau 610, 634</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive lista-hza-gruppen hidden-xs">
            <div>
                <!-- Beschriftungen -->
                <div class="h03-text">H03 Gruppe Bau 610 +<br />Bau 634 EG</div>
                <div class="h02-text">H02 Gruppe Heizung<br />Bau 900</div>
                <div class="h01-text">H01 Gruppe Lüftung<br />Bau 900</div>
                <div class="txt-druckluft">Austritt Druckluftkompressor</div>
                <!-- /Beschriftungen -->
                <!-- Ventile -->
                <div class="ls-y11482" data-bind="bsVentil:{
                     symbol:'bs bs-ventil',
                     dialogtitle: 'Ventil Y11482',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: '%',
                     anzeigefeldLinks: '-62',
                     anzeigefeldOben: '10',
                     winkel: '0',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'Station_34_VK101_2_Bau900',
                     projectType: 'SAIA',
                     pfad: 'H01',
                     bmk: 'Y11482'
                }"></div>
                <div class="ls-y11462" data-bind="bsVentil:{
                     symbol:'bs bs-ventil',
                     dialogtitle: 'Ventil Y11462',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: '%',
                     anzeigefeldLinks: '-62',
                     anzeigefeldOben: '10',
                     winkel: '0',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'Station_34_VK101_2_Bau900',
                     projectType: 'SAIA',
                     pfad: 'H03',
                     bmk: 'Y11462'
                }"></div>
                <div class="ls-y11456" data-bind="bsVentil:{
                     symbol:'bs bs-ventil',
                     dialogtitle: 'Ventil Y11456',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: '%',
                     anzeigefeldLinks: '-62',
                     anzeigefeldOben: '10',
                     winkel: '0',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'Station_34_VK101_2_Bau900',
                     projectType: 'SAIA',
                     pfad: 'H02',
                     bmk: 'Y11456'
                }"></div>
                <div class="ls-y11452" data-bind="bsVentil:{
                     symbol:'bs bs-ventil',
                     dialogtitle: 'Ventil Y11452',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: '%',
                     anzeigefeldLinks: '-62',
                     anzeigefeldOben: '10',
                     winkel: '0',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'Station_34_VK101_2_Bau900',
                     projectType: 'SAIA',
                     pfad: 'H01',
                     bmk: 'Y11452'
                }"></div>
                <div class="ls-y11492" data-bind="bsVentil:{
                     symbol:'bs bs-ventil',
                     dialogtitle: 'Ventil Y11492',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: '%',
                     anzeigefeldLinks: '-62',
                     anzeigefeldOben: '10',
                     winkel: '0',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'Station_34_VK101_2_Bau900',
                     projectType: 'SAIA',
                     pfad: 'H01',
                     bmk: 'Y11492'
                }"></div>
                <!-- /Ventile -->
                <!-- Temperaturen -->
                <div title="B11604" class="bs-sensor11604" data-bind="bsTPHSensor:{
                     signalName: 'Station_34_VK101_2_Bau900.Register_H02_B11604_ist',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 90,
                     sensortyp: 'T',
                     stiellaenge: 35
                     }"></div>
                <div title="B11603" class="bs-sensor11603" data-bind="bsTPHSensor:{
                     signalName: 'Station_34_VK101_2_Bau900.Register_H01_B11603_ist',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 90,
                     sensortyp: 'T',
                     stiellaenge: 35
                     }"></div>
                <div title="B11612" class="bs-sensor11612" data-bind="bsTPHSensor:{
                     signalName: 'Station_34_VK101_2_Bau900.Register_H01_B11612_ist',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 90,
                     sensortyp: 'T',
                     stiellaenge: 35
                     }"></div>
                <div title="B11622" class="bs-sensor11622" data-bind="bsTPHSensor:{
                     signalName: 'Station_34_VK101_2_Bau900.Register_H01_B11622_ist',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 270,
                     sensortyp: 'T',
                     stiellaenge: 35
                     }"></div>
                <div title="B11605" class="bs-sensor11605" data-bind="bsTPHSensor:{
                     signalName: 'Station_34_VK101_2_Bau900.Register_H03_B11605_ist',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 90,
                     sensortyp: 'T',
                     stiellaenge: 35
                     }"></div>
                <div title="VL" class="vlTemp" data-bind="bsTPHSensor:{
                     signalName: 'Station_34_VK101_2_Bau900.Register_H01_ez_VL_Temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 180,
                     sensortyp: 'T',
                     stiellaenge: 35,
                     anzeigefeldOben: 24
                     }"></div>
                <div title="RL" class="rlTemp" data-bind="bsTPHSensor:{
                     signalName: 'Station_34_VK101_2_Bau900.Register_H01_ez_RL_Temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: 35
                     }"></div>
                <!-- /Temperaturen -->
                <!-- Temperatursollwerte -->
                <div class="bSwB11603" data-bind="bsAusgabefeld: {
                     typ: 'berechnetersollwert',
                     dezimalstellen: 1,
                     signalName: 'Station_34_VK101_2_Bau900.Register_H01_Y11452_sw'
                     }"></div>
                <div class="bSwB11604" data-bind="bsAusgabefeld: {
                     typ: 'berechnetersollwert',
                     dezimalstellen: 1,
                     signalName: 'Station_34_VK101_2_Bau900.Register_H02_Y11456_sw'
                     }"></div>
                <div class="bSwB11605" data-bind="bsAusgabefeld: {
                     typ: 'berechnetersollwert',
                     dezimalstellen: 1,
                     signalName: 'Station_34_VK101_2_Bau900.Register_H03_Y11462_sw'
                     }"></div>
                <!-- /Temperaturen -->
                <!-- Pumpen -->
                <div class="pumpeM11052" data-bind="bsMotorStufen:{
                     signalName: 'Station_34_VK101_2_Bau900',
                     pfad: 'M11052',
                     gruppe: 'H01',
                     dialogTitle: 'Pumpe M11052',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'oben',
                     projectType: 'SAIA',
                     motortyp: 'pumpe'
                     }"></div>
                <div class="pumpeM11062" data-bind="bsMotorStufen:{
                     signalName: 'Station_34_VK101_2_Bau900',
                     pfad: 'M11062',
                     gruppe: 'H02',
                     dialogTitle: 'Pumpe M11062',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'oben',
                     projectType: 'SAIA',
                     motortyp: 'pumpe'
                     }"></div>
                <div class="pumpeM11072" data-bind="bsMotorStufen:{
                     signalName: 'Station_34_VK101_2_Bau900',
                     pfad: 'M11072',
                     gruppe: 'H03',
                     dialogTitle: 'Pumpe M11072',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'oben',
                     projectType: 'SAIA',
                     motortyp: 'pumpe'
                     }"></div>
                <!-- /Pumpen -->
                <!-- Anforderungen -->
                <div class="btnAnforderung">
                    <div class="wf-lg wf-signal-types btn bs-btn bs-button-aus" data-bind="click: bedienung"></div>
                </div>
                <div class="divAnforderungen" data-bind="style: { display: anforderungen, z-index: '100' }, draggable: { showCoordinates: false }">
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_Allg_Anf_VK101_1',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: Anforderung von VK101'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: Anforderung von VK101'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_Allg_Anf_VK105_1',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: Anforderung von VK105'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: Anforderung von VK105'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_Allg_Anf_VK109_1',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: Anforderung von VK109'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: Anforderung von VK109'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_1_1',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'LHA 1 Stufe 1'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'LHA 1 Stufe 1'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_1_2',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'LHA 1 Stufe 2'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'LHA 1 Stufe 2'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_2_1',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'LHA 2 Stufe 1'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'LHA 2 Stufe 1'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_2_2',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'LHA 2 Stufe 2'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'LHA 2 Stufe 2'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_3_1',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'LHA 3 Stufe 1'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'LHA 3 Stufe 1'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_3_2',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'LHA 3 Stufe 2'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'LHA 3 Stufe 2'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_4_1',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'LHA 4 Stufe 1'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'LHA 4 Stufe 1'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_4_2',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'LHA 4 Stufe 2'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'LHA 4 Stufe 2'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_5_1',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'LHA 5 Stufe 1'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'LHA 5 Stufe 1'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_5_2',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'LHA 5 Stufe 2'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'LHA 5 Stufe 2'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_AT',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'Anforderung nach AT'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'Anforderung nach AT'},
		                    ]
	                    }">
                    </div>
                </div>

                <div class="btnAnforderungH01">
                    <div class="wf-lg wf-signal-types btn bs-btn bs-button-aus" data-bind="click: bedienungH01"></div>
                </div>
                <div class="divAnforderungenH01" data-bind="style: { display: anforderungenH01, z-index: '100' }, draggable: { showCoordinates: false }">
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_VK101_Achse_03',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: LA ZG Achse 03'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: LA ZG Achse 03'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_VK101_Achse_06',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: LA ZG Achse 06'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: LA ZG Achse 06'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_VK101_Achse_09',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: LA ZG Achse 09'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: LA ZG Achse 09'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_VK101_Achse_12',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: LA ZG Achse 12'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: LA ZG Achse 12'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_VK101_Annexbau',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: LA Annexbau'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: LA Annexbau'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_VK101_Eingang_NO',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: LHA Eingang NO'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: LHA Eingang NO'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_VK101_Eingang_SW',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: LHA Eingang SW'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: LHA Eingang SW'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_VK101_Spedition_NW',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: LHA Spedition NW'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: LHA Spedition NW'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_VK101_Spedition_SW',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'H01: LHA Spedition SNW'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'H01: LHA Spedition SW'},
		                    ]
	                    }">
                    </div>
                    <div class="row widgetAnforderung" data-bind="bsZustandsanzeige: {
                         modulName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_AT',
                         projectType: 'SAIA',
	                     hintergrundTransparent: 'false',
	                     zustaende: [
		                    { vergleichswert: '0', farbe: 'color-aus',  text: 'Anforderung nach AT'},
		                    { vergleichswert: '-1', farbe: 'color-ein',  text: 'Anforderung nach AT'},
		                    ]
	                    }">
                    </div>
                </div>

                <!-- /Anforderungen -->
                <!-- Zähler -->
                <div class="aktuelleLeistung" data-bind="bsAusgabefeld:{signalName: 'Station_34_VK101_2_Bau900.Register_H01_ez_Leistung', einheit: 'kW', breite: '60', dezimalstellen: 1}"></div>
                <div class="energiezaehler" data-bind="bsZaehler: {
                     dialogTitle: 'Wärmezähler Neovac',
                     signals: [ 
                        { label: 'Leistung', signalname: 'Station_34_VK101_2_Bau900.Register_H01_ez_Leistung', unit: 'kW' },
                        { label: 'Energie', signalname: 'Station_34_VK101_2_Bau900.Register_H01_ez_Energie', unit: 'kWh' },
                        { label: 'Durchfluss', signalname: 'Station_34_VK101_2_Bau900.Register_H01_ez_Durchfluss', unit: 'm3' },
                        { label: 'VL - Temperatur', signalname: 'Station_34_VK101_2_Bau900.Register_H01_ez_VL_Temp', unit: '°C' },
                        { label: 'RL - Temperatur', signalname: 'Station_34_VK101_2_Bau900.Register_H01_ez_RL_Temp', unit: '°C' }
                     ]
                     }"></div>
                <!-- /Zähler -->
                <!-- Anlageschalter -->
                <div class="anlageschalterH1" data-bind="bsAnlageschalter: {
                     signalName: 'Station_34_VK101_2_Bau900',
                     dialogTitle: 'Anlageschalter H01',
                     anlage: 'as',
                     pfad: 'H01',
                     projectType: 'SAIA'
                     }"></div>
                <div class="anlageschalterH2" data-bind="bsAnlageschalter: {
                     signalName: 'Station_34_VK101_2_Bau900',
                     dialogTitle: 'Anlageschalter H02',
                     anlage: 'as',
                     pfad: 'H02',
                     projectType: 'SAIA'
                     }"></div>
                <div class="anlageschalterH3" data-bind="bsAnlageschalter: {
                     signalName: 'Station_34_VK101_2_Bau900',
                     dialogTitle: 'Anlageschalter H03',
                     anlage: 'as',
                     pfad: 'H03',
                     projectType: 'SAIA'
                     }"></div>
                <!-- /Anlageschalter -->
                <!-- Sollwerte -->
                <div class="swH01" data-bind="bsSollwertFenster: {
                     dialogTitle: 'H01 4-Punkte Heizkurve',
                     projectType: 'SAIA',
                     signals: [ 
                        { label: 'Aussentemperatur 1 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_02' },
                        { label: 'Tag 1 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_03' },
                        { label: 'Nacht 1 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_04' },
                        { label: 'Aussentemperatur 2 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_05' },
                        { label: 'Tag 2 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_06' },
                        { label: 'Nacht 2 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_07' },
                        { label: 'Aussentemperatur 3 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_08' },
                        { label: 'Tag 3 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_09' },
                        { label: 'Nacht 3 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_10' },
                        { label: 'Aussentemperatur 4 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_11' },
                        { label: 'Tag 4 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_12' },
                        { label: 'Nacht 4 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_13' },
                        { label: 'Minimum Begrenzung [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_14' },
                        { label: 'Maximum Begrenzung [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_HK_AT_4_Pkt_15' }
                        ]
                     }"></div>
                <div class="swH02" data-bind="bsSollwertFenster: {
                     dialogTitle: 'H02 4-Punkte Heizkurve',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'Aussentemperatur 1 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_02' },
                        { label: 'Tag 1 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_03' },
                        { label: 'Nacht 1 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_04' },
                        { label: 'Aussentemperatur 2 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_05' },
                        { label: 'Tag 2 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_06' },
                        { label: 'Nacht 2 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_07' },
                        { label: 'Aussentemperatur 3 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_08' },
                        { label: 'Tag 3 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_09' },
                        { label: 'Nacht 3 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_10' },
                        { label: 'Aussentemperatur 4 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_11' },
                        { label: 'Tag 4 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_12' },
                        { label: 'Nacht 4 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_13' },
                        { label: 'Minimum Begrenzung [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_14' },
                        { label: 'Maximum Begrenzung [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_HK_AT_4_Pkt_15' }
                        ]
                     }"></div>
                <div class="swH03" data-bind="bsSollwertFenster: {
                     dialogTitle: 'H03 4-Punkte Heizkurve',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'Aussentemperatur 1 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_02' },
                        { label: 'Tag 1 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_03' },
                        { label: 'Nacht 1 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_04' },
                        { label: 'Aussentemperatur 2 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_05' },
                        { label: 'Tag 2 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_06' },
                        { label: 'Nacht 2 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_07' },
                        { label: 'Aussentemperatur 3 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_08' },
                        { label: 'Tag 3 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_09' },
                        { label: 'Nacht 3 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_10' },
                        { label: 'Aussentemperatur 4 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_11' },
                        { label: 'Tag 4 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_12' },
                        { label: 'Nacht 4 [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_13' },
                        { label: 'Minimum Begrenzung [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_14' },
                        { label: 'Maximum Begrenzung [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H03_sw_HK_AT_4_Pkt_15' }
                        ]
                     }"></div>
                <div class="swHeizbetrieb" data-bind="bsSollwertFenster: {
                     dialogTitle: 'Sollwerte',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'H01 AT Anforderung Ein [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_ein_AT' },
                        { label: 'H01 AT Anforderung Aus [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H01_sw_aus_AT' },
                        { label: 'H02 Heizgrenze Normalbetrieb [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_Heizgrenze_normal' },
                        { label: 'H02 Heizgrenze Reduzierter Betrieb [°C]', signalname: 'Station_34_VK101_2_Bau900.Register_H02_sw_Heizgrenze_reduziert' }
                        ]
                     }"></div>
                <!-- /Sollwerte -->
                <!-- Schaltuhren -->
                <div class="suH02" data-bind="bsSchaltuhrEinfach: {
                     signalName: 'Station_34_VK101_2_Bau900',
                     pfad: 'H02',
                     anlage: 'HG',
                     dialogTitle: 'Schaltuhr H02'
                     }"></div>
                <!-- /Schaltuhren -->
                <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
                <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
            </div>
        </div>
    </div>
</div>
