﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Bau 900, Lüftungsanlage Anexbau</h1>
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive lista-lue-anexbau hidden-xs">
            <div>
                <!-- Beschriftungen -->
                <div style="position:absolute; left:1720px; top:25px; color:#000">Anex 1 NO</div>
                <div style="position:absolute; left:1720px; top:113px; color:#000">Anex 2 NO</div>
                <div style="position:absolute; left:1720px; top:201px; color:#000">Anex SW</div>
                <div style="position:absolute; left:1720px; top:383px; color:#000">Anex 1 NO</div>
                <div style="position:absolute; left:1720px; top:473px; color:#000">Anex 2 NO</div>
                <div style="position:absolute; left:1720px; top:561px; color:#000">Anex SW</div>
                <div style="position:absolute; left:1124px; top:473px; color:#000">Ersatzluftklappe 1 EG</div>
                <div style="position:absolute; left:1124px; top:561px; color:#000">Ersatzluftklappe 2 EG</div>
                <div style="position:absolute; left:686px; top:358px; color:#000">+</div>
                <!-- /Beschriftungen -->
            </div>
            <!-- Ventilator -->
            <div style="position:absolute; left:335px; top:379px;" title="M2052" data-bind="bsMotorFU:{
                     signalName: 'Station_37_VK109_1_Bau900',
                     fu: 'nein',
                     stufen: '2',
                     pfad: 'M2052',
                     gruppe: 'L01',
                     dialogTitle: 'Ventilator M2052',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'rechts',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
            <div style="position:absolute; left:740px; top:197px;" title="M2062" data-bind="bsMotorFU:{
                     signalName: 'Station_37_VK109_1_Bau900',
                     fu: 'nein',
                     stufen: '2',
                     pfad: 'M2062',
                     gruppe: 'L01',
                     dialogTitle: 'Ventilator M2062',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'links',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
            <!-- /Ventilator -->
            <!-- WRG -->
            <div title="Y2452" style="position:absolute; left:560px; top:284px;" data-bind="bsVentil:{
                     symbol:'bs bs-motor',
                     dialogtitle: 'Motor U2262',
                     handLinks: '20',
                     handOben: '15',
                     einheit: '%',
                     anzeigefeldLinks: '40',
                     anzeigefeldOben: '10',
                     winkel: '0',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'Station_37_VK109_1_Bau900',
                     projectType: 'SAIA',
                     pfad: 'L01',
                     bmk: 'U2262'
                }"></div>
            <!-- /WRG -->
            <!-- Pumpe -->
            <div title="M2082" style="position:absolute; left:700px; top:450px;" data-bind="bsMotorStufen:{
                     signalName: 'Station_37_VK109_1_Bau900',
                     pfad: 'M2082',
                     gruppe: 'L01',
                     dialogTitle: 'Pumpe M2082',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'oben',
                     projectType: 'SAIA',
                     motortyp: 'pumpe'
                     }"></div>
            <!-- /Pumpe -->
            <!-- Ventile -->
            <div title="Y2452" style="position:absolute; left:698px; top:520px;" data-bind="bsVentil:{
                     symbol:'bs bs-ventil',
                     dialogtitle: 'Ventil Y2452',
                     handLinks: '20',
                     handOben: '15',
                     einheit: '%',
                     anzeigefeldLinks: '35',
                     anzeigefeldOben: '10',
                     winkel: '180',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'Station_37_VK109_1_Bau900',
                     projectType: 'SAIA',
                     pfad: 'L01',
                     bmk: 'Y2452'
                }"></div>
            <!-- /Ventile -->
            <!-- Klappen -->
            <div title="Y2305" style="position:absolute; left:200px; top:192px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_Y2305_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <div title="Y2302" style="position:absolute; left:200px; top:374px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_Y2302_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <div title="Y2332" style="position:absolute; left:1086px; top:463px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_Y2332_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <div title="Y2334" style="position:absolute; left:1086px; top:551px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_Y2334_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <!-- /Klappen -->
            <!-- BSK -->
            <div title="Y2362" style="position:absolute; left:1460px; top:14px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_Y2362_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-bsk-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <div title="Y2365" style="position:absolute; left:1460px; top:104px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_Y2365_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-bsk-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <div title="Y2382" style="position:absolute; left:1460px; top:193px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_Y2382_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-bsk-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <div title="Y2372" style="position:absolute; left:1460px; top:372px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_Y2362_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-bsk-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <div title="Y2375" style="position:absolute; left:1460px; top:463px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_Y2365_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-bsk-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <div title="Y2385" style="position:absolute; left:1460px; top:552px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_Y2382_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-bsk-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <!-- /BSK -->
            <!-- Temperaturfühler -->
            <div title="B2605" style="position:absolute; left:930px; top: 162px" data-bind="bsTPHSensor:{
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_B2605_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: 35
                     }"></div>
            <div title="B2604" style="position:absolute; left:930px; top: 344px" data-bind="bsTPHSensor:{
                     signalName: 'Station_37_VK109_1_Bau900.Register_L01_B2604_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: 35
                     }"></div>
            <!-- /Temperaturfühler -->
            <!-- Digitale Überwachungen -->
            <div title="B2402" style="position:absolute; left:830px; top: 344px" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '35',
                     projectType: 'SAIA',
                     winkel: '0',
                     sensortyp: 'F',
                     signalName: 'Station_37_VK109_1_Bau900.Flag_L01_al_B2402'
                     }"></div>
            <div title="B2526" style="position:absolute; left:1102px; top: 144px" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     projectType: 'SAIA',
                     winkel: '0',
                     sensortyp: '∆P',
                     signalName: 'Station_37_VK109_1_Bau900.Flag_L01_al_B2526',
                     }"></div>
            <div title="B2525" style="position:absolute; left:1102px; top: 326px" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     projectType: 'SAIA',
                     winkel: '0',
                     sensortyp: '∆P',
                     signalName: 'Station_37_VK109_1_Bau900.Flag_L01_al_B2525',
                     }"></div>
            <div title="B2438" style="position:absolute; left:745px; top: 144px" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     statisch: 'true',
                     projectType: 'SAIA',
                     winkel: '0',
                     sensortyp: 'n',
                     signalName: 'Station_37_VK109_1_Bau900.Flag_L02_al_B2438',
                     }"></div>
            <div title="B2434" style="position:absolute; left:341px; top: 326px" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     projectType: 'SAIA',
                     winkel: '0',
                     statisch: 'true',
                     sensortyp: 'n',
                     signalName: 'Station_37_VK109_1_Bau900.Flag_L02_al_B2434',
                     }"></div>
            <!-- Digitale Überwachungen -->
            <!-- Anlageschalter -->
            <div class="lue-nw-anlageschalter-l02" data-bind="bsAnlageschalter: {
                     signalName: 'Station_37_VK109_1_Bau900',
                     dialogTitle: 'Anlageschalter',
                     anlage: 'as',
                     pfad: 'L01',
                     projectType: 'SAIA'
                     }"></div>
            <!-- /Anlageschalter -->
            <!-- Sollwerte -->
            <div title="L01 Sollwerte" class="lue-nw-sollwerte-l02" data-bind="bsSollwertFenster: {
                     dialogTitle: 'Anexbau Sollwerte',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'Temperatur Differenz für Stufe 2 Ein [°C]', signalname: 'Station_37_VK109_1_Bau900.Register_L01_Diff_Stufe2_Ein' },
                        { label: 'Temperatur Differenz für Stufe 2 Aus [°C]', signalname: 'Station_37_VK109_1_Bau900.Register_L01_Diff_Stufe2_Aus' },
                        { label: 'Frostanfahrschaltung [°C]', signalname: 'Station_37_VK109_1_Bau900.Register_L01_sw_anfahrschalt' },
                        { label: 'AT Kurve 2. Punkt Frostanfahrschaltung [°C]', signalname: 'Station_37_VK109_1_Bau900.Register_L01_sw_at2_time' },
                        { label: 'Minimum Zeit Anfahrschaltung [s]', signalname: 'Station_37_VK109_1_Bau900.Register_L01_sw_sp1_time' },
                        { label: 'Maximum Zeit Anfahrschaltung [s]', signalname: 'Station_37_VK109_1_Bau900.Register_L01_sw_sp2_time' },
                        { label: 'Minimum Wert LE Ventil Anfahrschaltung [%]', signalname: 'Station_37_VK109_1_Bau900.Register_L01_sw_sp1_stell' },
                        { label: 'Maximum Wert LE Ventil Anfahrschaltung [%]', signalname: 'Station_37_VK109_1_Bau900.Register_L01_sw_sp2_stell' }
                        ]
                     }"></div>
            <!-- /sollwerte -->
            <!-- Schaltuhren -->
            <div title="Schaltuhr Anexbau" class="lue-nw-su-l02" data-bind="bsSchaltuhrEinfach: {
                     signalName: 'Station_37_VK109_1_Bau900',
                     pfad: 'L01',
                     anlage: 'Tag_Nacht',
                     dialogTitle: 'Anexbau'
                     }"></div>
            <!-- /Schaltuhren -->
        </div>
    </div>
</div>
