﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Türluftschleier Eingang EG SW</h1>
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive lista-lue-tls hidden-xs">
            <div>
                <!-- Beschriftungen -->
                <div class="txt-eingang-no txt-ueberschrift-2">Eingang SW</div>
                <div class="txt-le txt-ueberschrift-2">+</div>
                <!-- /Beschriftungen -->
                <!-- Ventilatoren -->
                <div title="M5052" class="lue-tls-m5062" data-bind="bsMotorFU:{
                     signalName: 'Station_33_VK101_1_Bau900',
                     fu: 'nein',
                     stufen: '1',
                     pfad: 'M5052',
                     gruppe: 'L01',
                     dialogTitle: 'Ventilator M5052',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'rechts',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
                <!-- /Ventilatoren -->
                <!-- Temperaturfühler -->
                <div title="B5602" class="bs-sensor-B5604" data-bind="bsTPHSensor:{
                     signalName: 'Station_33_VK101_1_Bau900.Register_L01_B5602_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: 35
                     }"></div>
                <div title="B5603" class="bs-sensor-B5605" data-bind="bsTPHSensor:{
                     signalName: 'Station_33_VK101_1_Bau900.Register_L01_B5603_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: -10
                     }"></div>
                <!-- /Temperaturfühler -->
                <!-- Ventil -->        
                <div title="Y5452" class="le-Y5456" data-bind="bsVentil:{
                     symbol:'bs bs-ventil',
                     dialogtitle: 'Ventil Y5452',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: '%',
                     anzeigefeldLinks: '-62',
                     anzeigefeldOben: '10',
                     winkel: '0',
                     authorisierung: 'Administration',
                     signalName: 'Station_33_VK101_1_Bau900',
                     projectType: 'SAIA',
                     pfad: 'L01',
                     bmk: 'Y5452'
                }"></div>
                <!-- Ventil -->
                <!-- Temperatursollwerte -->
                <div class="bs-tls-no-berSw" data-bind="bsAusgabefeld: {
                     typ: 'berechnetersollwert',
                     signalName: 'Station_33_VK101_1_Bau900.Register_L01_B5602_sw_ber'
                     }"></div>
                <!-- /Temperatursollwerte -->
                <!-- Anlageschalter -->
                <div title="Anlageschalter" class="lue-nw-anlageschalter-l02" data-bind="bsAnlageschalter: {
                     signalName: 'Station_33_VK101_1_Bau900',
                     dialogTitle: 'Anlageschalter L01',
                     anlage: 'as',
                     pfad: 'L01',
                     projectType: 'SAIA'
                     }"></div>
                <!-- Anlageschalter -->
                <!-- Sollwerte -->
                <div title="Allgemeine Sollwerte" class="lue-nw-sollwerte-l02" data-bind="bsSollwertFenster: {
                     dialogTitle: 'Allgemeine Sollwerte',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'TLS Ein nach Witterungstemp [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_L01_sw_Witterung_Ein' },
                        { label: 'TLS Aus nach Witterungstemp [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_L01_sw_Witterung_Aus' },
                        { label: 'Grenzwert Raumtemperatur Nachheizung [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_L01_sw_gw_Raum' }
                        ]
                     }"></div>
                <!-- /sollwerte -->
                <!-- Schaltuhren -->
                <div title="L01 Tag- / Nachtbetrieb" class="lue-nw-su-l02" data-bind="bsSchaltuhrEinfach: {
                     signalName: 'Station_33_VK101_1_Bau900',
                     pfad: 'L01',
                     anlage: 'Tag_Nacht',
                     dialogTitle: 'L01 Tag- / Nachtbetrieb'
                     }"></div>
                <!-- /Schaltuhren -->
            </div>

        </div>
    </div>
</div>