﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Lüftungsanlage OG</h1>
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive lista-lue-lta-og hidden-xs">
            <div>
                <!-- Beschriftungen -->
                <!-- /Beschriftungen -->
            </div>
            <!-- Ventilatoren -->
            <div title="M8052" class="ventilator-m8052" data-bind="bsMotorFU:{
                     signalName: 'Station_36_VK108_1_Bau900',
                     fu: 'nein',
                     stufen: '1',
                     pfad: 'M8052',
                     gruppe: 'L01',
                     dialogTitle: 'Ventilator M8052',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'oben',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
            <div title="M8072" class="ventilator-m8072" data-bind="bsMotorFU:{
                     signalName: 'Station_36_VK108_1_Bau900',
                     fu: 'nein',
                     stufen: '1',
                     pfad: 'M8072',
                     gruppe: 'L01',
                     dialogTitle: 'Ventilator M8072',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'oben',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
            <div title="M8092" class="ventilator-m8092" data-bind="bsMotorFU:{
                     signalName: 'Station_36_VK108_1_Bau900',
                     fu: 'nein',
                     stufen: '1',
                     pfad: 'M8092',
                     gruppe: 'L01',
                     dialogTitle: 'Ventilator M8092',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'oben',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
            <div title="M8112" class="ventilator-m8112" data-bind="bsMotorFU:{
                     signalName: 'Station_36_VK108_1_Bau900',
                     fu: 'nein',
                     stufen: '1',
                     pfad: 'M8112',
                     gruppe: 'L01',
                     dialogTitle: 'Ventilator M8112',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'oben',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
            <div title="M8083" class="ventilator-m8083" data-bind="bsMotorFU:{
                     signalName: 'Station_36_VK108_1_Bau900',
                     fu: 'nein',
                     stufen: '2',
                     pfad: 'M8083',
                     gruppe: 'L01',
                     dialogTitle: 'Ventilator M8083',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'links',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
            <div title="M8103" class="ventilator-m8103" data-bind="bsMotorFU:{
                     signalName: 'Station_36_VK108_1_Bau900',
                     fu: 'nein',
                     stufen: '2',
                     pfad: 'M8103',
                     gruppe: 'L01',
                     dialogTitle: 'Ventilator M8103',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'links',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
            <div title="M8123" class="ventilator-m8123" data-bind="bsMotorFU:{
                     signalName: 'Station_36_VK108_1_Bau900',
                     fu: 'nein',
                     stufen: '2',
                     pfad: 'M8123',
                     gruppe: 'L01',
                     dialogTitle: 'Ventilator M8123',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'links',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
            <!-- /Ventilator -->
            <!-- Klappen -->
            <div title="Y8302" class="klappe-Y8302" data-bind="bsKlappe: {
                     signalName: 'Station_36_VK108_1_Bau900.Register_L01_Y8302_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 90,
                     art: 'mit_status'
                     }"></div>
            <div title="Y8321" class="klappe-Y8321" data-bind="bsKlappe: {
                     signalName: 'Station_36_VK108_1_Bau900.Register_L01_Y8321_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 90,
                     art: 'mit_status'
                     }"></div>
            <div title="Y8322" class="klappe-Y8322" data-bind="bsKlappe: {
                     signalName: 'Station_36_VK108_1_Bau900.Register_L01_Y8322_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 90,
                     art: 'mit_status'
                     }"></div>
            <div title="Y8332" class="klappe-Y8332" data-bind="bsKlappe: {
                     signalName: 'Station_36_VK108_1_Bau900.Register_L01_Y8332_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 90,
                     art: 'mit_status'
                     }"></div>

            <div title="Y8315" class="klappe-Y8315" data-bind="bsKlappe: {
                     signalName: 'Station_36_VK108_1_Bau900.Register_L01_Y8315_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <div title="Y8325" class="klappe-Y8325" data-bind="bsKlappe: {
                     signalName: 'Station_36_VK108_1_Bau900.Register_L01_Y8325_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <div title="Y8335" class="klappe-Y8335" data-bind="bsKlappe: {
                     signalName: 'Station_36_VK108_1_Bau900.Register_L01_Y8335_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 0,
                     art: 'mit_status'
                     }"></div>
            <!-- /Klappen -->
            <!-- Filterwächter -->
            <div title="B8552" class="filter-B8552" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     projectType: 'SAIA',
                     winkel: '0',
                     sensortyp: 'P',
                     signalName: 'Station_36_VK108_1_Bau900.Flag_L01_al_B8552',
                     }"></div>
            <div title="B8553" class="filter-B8553" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     projectType: 'SAIA',
                     winkel: '0',
                     sensortyp: 'P',
                     signalName: 'Station_36_VK108_1_Bau900.Flag_L01_al_B8553',
                     }"></div>
            <div title="B8554" class="filter-B8554" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     projectType: 'SAIA',
                     winkel: '0',
                     sensortyp: 'P',
                     signalName: 'Station_36_VK108_1_Bau900.Flag_L01_al_B8554',
                     }"></div>
            <!-- /Filterwächter -->
            <!-- Temperaturen -->
            <div title="B8601" class="bs-sensor-B8601" data-bind="bsTPHSensor:{
                     signalName: 'Station_36_VK108_1_Bau900.Register_L01_B8601_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: -20
                     }"></div>
            <div title="B8603" class="bs-sensor-B8603" data-bind="bsTPHSensor:{
                     signalName: 'Station_36_VK108_1_Bau900.Register_L01_B8603_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: -20
                     }"></div>
            <div title="B8604" class="bs-sensor-B8604" data-bind="bsTPHSensor:{
                     signalName: 'Station_36_VK108_1_Bau900.Register_L01_B8604_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: -20
                     }"></div>
            <div title="B8606" class="bs-sensor-B8606" data-bind="bsTPHSensor:{
                     signalName: 'Station_36_VK108_1_Bau900.Register_L01_B8606_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: -20
                     }"></div>
            <!-- /Temperaturen -->
            <!-- Anlageschalter -->
            <div title="Anlageschalter" class="lue-og-anlageschalter" data-bind="bsAnlageschalter: {
                     signalName: 'Station_36_VK108_1_Bau900',
                     dialogTitle: 'Anlageschalter',
                     anlage: 'as',
                     pfad: 'L01',
                     projectType: 'SAIA'
                     }"></div>
            <!-- /Anlageschalter -->
            <!-- Sollwerte -->
            <div title="Sollwerte" class="lue-og-sollwerte" data-bind="bsSollwertFenster: {
                     dialogTitle: 'Sollwerte',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'Einschaltverzögerung [s]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_Entf_verz_Ein' },
                        { label: 'Ausschaltverzögerung [s]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_Entf_verz_Aus' },
                        { label: 'Temperaturgrenze Aus [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_ABL_Temp_Aus' },
                        { label: 'Temperaturgrenze Ein [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_ABL_Temp_Ein' },
                        { label: 'Ausschaltverzögerung [s]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_Ofen_verz_Aus' },
                        { label: 'Einschaltverzögerung [s]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_Ofen_verz_Ein' },
                        { label: 'Boost Laufzeit [min]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_Boost_verz_Aus' },
                        { label: 'Temperatur Differenz Lüftung Stufe 2 [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_Ofen_St2_Ein' },
                        { label: 'Temperatur Differenz Lüftung Stufe 3 [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_Ofen_St3_Ein' }
                     ]
                  }"></div>
            <div title="ZUL Temperatur Schiebung nach AT" class="lue-og-schiebung" data-bind="bsSollwertFenster: {
                     dialogTitle: 'ZUL Temperatur Schiebung nach AT',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'Schiebung: AT1 [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_AT1' },
                        { label: 'Schiebung: RT1 [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_RT1' },
                        { label: 'Schiebung: AT2 [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_AT2' },
                        { label: 'Schiebung: RT2 [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_RT2' }
                     ]
                  }"></div>
            <div title="Nachtauskühlung" class="lue-og-nk" data-bind="bsSollwertFenster: {
                     dialogTitle: 'Nachtauskühlung',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'Differenz AT-RT Nachtauskühlung Ein Stufe 1 [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St1_Ein' },
                        { label: 'Freigabe Nachtauskühlung Verzögerung [s]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_Nachtausk_verz_Ein' },
                        { label: 'Differenz AT-RT Nachtauskühlung Aus [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St1_Aus' },
                        { label: 'Raumtemperatur NAK Ein [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_RT_Ein' },
                        { label: 'Raumtemperatur NAK Aus [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_RT_Aus' },
                        { label: 'Differenz AT-RT Nachtauskühlung Ein Stufe 2 [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St2_Ein' },
                        { label: 'Differenz AT-RT Nachtauskühlung Aus Stufe 2 [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St2_Aus' },
                        { label: 'Differenz AT-RT Nachtauskühlung Ein Stufe 3 [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St3_Ein' },
                        { label: 'Differenz AT-RT Nachtauskühlung Aus Stufe 3 [°C]', signalname: 'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St3_Aus' }
                     ]
                  }"></div>
            <!-- /sollwerte -->
            <!-- Schaltuhren -->
            <div title="Deckenventilatoren" class="lue-og-su" data-bind="bsSchaltuhrEinfach: {
                     signalName: 'Station_36_VK108_1_Bau900',
                     pfad: 'Allg',
                     anlage: 'Tag_Nacht',
                     dialogTitle: 'Deckenventilatoren'
                     }"></div>
            <!-- /Schaltuhren -->
        </div>
    </div>
</div>