﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Bau 900, Lüftungsanlage Farblager</h1>
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive lista-lue-farblager hidden-xs">
            <div>
                <!-- Beschriftungen -->
                <div style="position:absolute; left:370px; top:250px; color:#000">Farblager <br />Achse 11 / 12</div>
                <div style="position:absolute; left:1083px; top:250px; color:#000">Farblager <br />Ost</div>
                <div style="position:absolute; left:1105px; top:65px; color:#000">von Bau 900, Achse 3</div>
                <!-- /Beschriftungen -->
                <!-- Ventilator -->
                <div style="position:absolute; left:1380px; top:127px;" title="M3052" data-bind="bsMotorStufen:{
                     signalName: 'Station_37_VK109_1_Bau900',
                     stufen: '1',
                     pfad: 'M3052',
                     gruppe: 'L02',
                     dialogTitle: 'Ventilator M3052',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'oben',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
                <div style="position:absolute; left:548px; top:127px;" title="M3062" data-bind="bsMotorStufen:{
                     signalName: 'Station_37_VK109_1_Bau900',
                     stufen: '1',
                     pfad: 'M3062',
                     gruppe: 'L02',
                     dialogTitle: 'Ventilator M3062',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'oben',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
                <!-- /Ventilator -->
                <!-- Digitale Überwachungen -->
                <div title="B3518" style="position:absolute; left:611px; top: 132px" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     projectType: 'SAIA',
                     winkel: '0',
                     statisch: 'true',
                     sensortyp: '∆P',
                     signalName: 'Station_37_VK109_1_Bau900.Flag_L02_al_B3518',
                     }"></div>
                <div title="B3516" style="position:absolute; left:1443px; top: 132px" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     projectType: 'SAIA',
                     winkel: '0',
                     statisch: 'true',
                     sensortyp: '∆P',
                     signalName: 'Station_37_VK109_1_Bau900.Flag_L02_al_B3516',
                     }"></div>
                <!-- /Digitale Überwachungen -->
                <!-- Klappen -->
                <div title="Y3312" style="position:absolute; left:545px; top:174px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L02_Y3312_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 90,
                     art: 'mit_status'
                     }"></div>
                <div title="Y3302" style="position:absolute; left:1148px; top:174px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L02_Y3302_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 90,
                     art: 'mit_status'
                     }"></div>
                <div title="Y3452" style="position:absolute; left:545px; top:451px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L02_Y3452_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 90,
                     art: 'mit_status'
                     }"></div>
                <div title="Y3305" style="position:absolute; left:1376px; top:282px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L02_Y3305_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend',
                     winkel: 90,
                     art: 'mit_status'
                     }"></div>
                <!-- /Klappen -->
                <!-- BSK -->
                <div title="Y3395" style="position:absolute; left:545px; top:205px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L02_Y3395_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-bsk-fahrend',
                     winkel: 90,
                     art: 'mit_status'
                     }"></div>
                <div title="Y2392" style="position:absolute; left:1148px; top:205px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L02_Y2392_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-bsk-fahrend',
                     winkel: 90,
                     art: 'mit_status'
                     }"></div>
                <div title="Y3392" style="position:absolute; left:545px; top:486px;" data-bind="bsKlappe: {
                     signalName: 'Station_37_VK109_1_Bau900.Register_L02_Y3392_status',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-bsk-fahrend',
                     winkel: 90,
                     art: 'mit_status'
                     }"></div>
                <!-- /BSK -->
                <!-- Temperaturfühler -->
                <div title="B3605" style="position:absolute; left:1266px; top: 400px" data-bind="bsTPHSensor:{
                     signalName: 'Station_37_VK109_1_Bau900.Register_L02_B3605_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: -1
                     }"></div>
                <div title="B3604" style="position:absolute; left:700px; top: 400px" data-bind="bsTPHSensor:{
                     signalName: 'Station_37_VK109_1_Bau900.Register_L02_B3604_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: -1
                     }"></div>
                <!-- /Temperaturfühler -->
                <!-- Anlageschalter -->
                <div class="lue-nw-anlageschalter-l02" data-bind="bsAnlageschalter: {
                     signalName: 'Station_37_VK109_1_Bau900',
                     dialogTitle: 'Anlageschalter',
                     anlage: 'as',
                     pfad: 'L02',
                     projectType: 'SAIA'
                     }"></div>
                <!-- /Anlageschalter -->
                <!-- Schaltuhren -->
                <div title="Schaltuhr Farblager" class="lue-su-farblager" data-bind="bsSchaltuhrEinfach: {
                     signalName: 'Station_37_VK109_1_Bau900',
                     pfad: 'L02',
                     anlage: 'Tag_Nacht',
                     dialogTitle: 'Farblager'
                     }"></div>
                <!-- /Schaltuhren -->
            </div>
        </div>
    </div>
</div>
