﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Lüftung Rampe NW</h1>
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive lista-lue-rampen hidden-xs">
            <div>
                <!-- Beschriftungen -->
                <div class="txt-rampe-nw txt-ueberschrift-2">Rampe</div>
                <div class="txt-le txt-ueberschrift-2">+</div>
                <!-- /Beschriftungen -->
                <!-- Ventilator -->
                <div title="M10063" class="ventilator-m10063" data-bind="bsMotorFU:{
                     signalName: 'Station_35_VK105_1_Bau900',
                     fu: 'nein',
                     stufen: '2',
                     pfad: 'M10063',
                     gruppe: 'L02',
                     dialogTitle: 'Ventilator M10063',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'rechts',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
                <!-- /Ventilator -->
                <!-- Klappen -->
                <div title="Y10492" class="klappe-AUL-Y10492" data-bind="bsKlappe: {
                     signalName: 'Station_35_VK105_1_Bau900.Register_L02_Y10492_stell',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend'
                     }"></div>
                <div title="Y10482" class="klappe-UML-Y10482" data-bind="bsKlappe: {
                     signalName: 'Station_35_VK105_1_Bau900.Register_L02_Y10482_stell',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend'
                     }"></div>
                <div title="Y10486" class="klappe-ZUL-Y10486" data-bind="bsKlappe: {
                     signalName: 'Station_35_VK105_1_Bau900.Register_L02_Y10486_stell',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend'
                     }"></div>
                <!-- Klappen -->
                <!-- Temperaturfühler -->
                <div title="B10604" class="bs-sensor-B10604" data-bind="bsTPHSensor:{
                     signalName: 'Station_35_VK105_1_Bau900.Register_L02_B10604_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: 35
                     }"></div>
                <div title="B10605" class="bs-sensor-B10605" data-bind="bsTPHSensor:{
                     signalName: 'Station_35_VK105_1_Bau900.Register_L02_B10605_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: -20
                     }"></div>
                <!-- Temperaturfühler -->
                <!-- Digitale Überwachungen -->
                <div title="B10406" class="frostschutz-B10604" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '35',
                     projectType: 'SAIA',
                     winkel: '0',
                     sensortyp: 'F',
                     signalName: 'Station_35_VK105_1_Bau900.Flag_L02_al_B10406'
                     }"></div>
                <div title="B10532" class="filter-B10532" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     projectType: 'SAIA',
                     winkel: '0',
                     sensortyp: 'P',
                     signalName: 'Station_35_VK105_1_Bau900.Flag_L02_al_B10532',
                     }"></div>
                <!-- Digitale Überwachungen -->
                <!-- Ventil -->
                <div title="Y10456" class="le-Y10456" data-bind="bsVentil:{
                     symbol:'bs bs-ventil',
                     dialogtitle: 'Ventil Y10456',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: '%',
                     anzeigefeldLinks: '-62',
                     anzeigefeldOben: '10',
                     winkel: '0',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'Station_35_VK105_1_Bau900',
                     projectType: 'SAIA',
                     pfad: 'L02',
                     bmk: 'Y10456'
                }"></div>
                <!-- Ventil -->
                <!-- Anlageschalter -->
                <div class="lue-nw-anlageschalter-l02" data-bind="bsAnlageschalter: {
                     signalName: 'Station_35_VK105_1_Bau900',
                     dialogTitle: 'Anlageschalter L02',
                     anlage: 'as',
                     pfad: 'L02',
                     projectType: 'SAIA'
                     }"></div>
                <div title="Aussenbeleuchtung" class="lue-sw-aussenlicht-l01" data-bind="bsAnlageschalter: {
                     signalName: 'Station_35_VK105_1_Bau900',
                     dialogTitle: 'Aussenbeleuchtung',
                     anlage: 'as',
                     pfad: 'Bel01',
                     projectType: 'SAIA'
                     }"></div>
                <!-- /Anlageschalter -->
                <!-- Sollwerte -->
                <div title="L02 Heizkurve" class="lue-nw-sollwerte-l02" data-bind="bsSollwertFenster: {
                     dialogTitle: 'L02 Heizkurve',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'Aussentemperatur 1 [°C]', signalname: 'Station_35_VK105_1_Bau900.Register_A_HVC_L02_AT_RT_HK_RefTo1' },
                        { label: 'Aussentemperatur 2 [°C]', signalname: 'Station_35_VK105_1_Bau900.Register_A_HVC_L02_AT_RT_HK_RefTo2' },
                        { label: 'Sollwert 1 [°C]', signalname: 'Station_35_VK105_1_Bau900.Register_A_HVC_L02_AT_RT_HK_RefSP1' },
                        { label: 'Sollwert 2 [°C]', signalname: 'Station_35_VK105_1_Bau900.Register_A_HVC_L02_AT_RT_HK_RefSP2' },
                        { label: 'Minimum Begrenzung [°C]', signalname: 'Station_35_VK105_1_Bau900.Register_A_HVC_L02_AT_RT_HK_LimLow' },
                        { label: 'Maximum Begrenzung [°C]', signalname: 'Station_35_VK105_1_Bau900.Register_A_HVC_L02_AT_RT_HK_LimHigh' }
                        ]
                     }"></div>
                <!-- /sollwerte -->
                <!-- Schaltuhren -->
                <div title="L01 / L02 Lüftung Spedition" class="lue-nw-su-l02" data-bind="bsSchaltuhrEinfach: {
                     signalName: 'Station_35_VK105_1_Bau900',
                     pfad: 'Allg',
                     anlage: 'Tag_Nacht',
                     dialogTitle: 'L01 / L02 Lüftung Spedition'
                     }"></div>
                <!-- /Schaltuhren -->
            </div>
        </div>
    </div>
</div>