﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Lüftung Achse 9</h1>
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive lista-lue-achsen hidden-xs">
            <div>
                <!-- Beschriftungen -->
                <div class="txt-achse-3-og txt-ueberschrift-2">OG</div>
                <div class="txt-achse-3-eg txt-ueberschrift-2">EG</div>
                <div class="txt-le-achsen txt-ueberschrift-2">+</div>
                <!-- /Beschriftungen -->
                <!-- Ventilatoren -->
                <div title="M6062" class="venti-achsen" data-bind="bsMotorFU:{
                     signalName: 'Station_33_VK101_1_Bau900',
                     fu: 'nein',
                     stufen: '2',
                     pfad: 'M6062',
                     gruppe: 'L03',
                     dialogTitle: 'Ventilator M6062',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'rechts',
                     projectType: 'SAIA',
                     motortyp: 'ventilator'
                     }"></div>
                <!-- /Ventilatoren -->
                <!-- Pumpe -->
                <div title="M6092" class="pumpe-achsen" data-bind="bsMotorStufen:{
                     signalName: 'Station_33_VK101_1_Bau900',
                     pfad: 'M6092',
                     gruppe: 'L03',
                     dialogTitle: 'Pumpe M6092',
                     authorisierung: 'Administration',
                     motorAusrichtung: 'oben',
                     projectType: 'SAIA',
                     motortyp: 'pumpe'
                     }"></div>
                <!-- /Pumpe -->
                <!-- Ventile -->
                <div title="Y6456" class="ventil-achsen" data-bind="bsVentil:{
                     symbol:'bs bs-ventil',
                     dialogtitle: 'Ventil Y6456',
                     handLinks: '-10',
                     handOben: '10',
                     einheit: '%',
                     anzeigefeldLinks: '-62',
                     anzeigefeldOben: '10',
                     winkel: '0',
                     trendConfig: 'myTrend2',
                     authorisierung: 'Administration',
                     signalName: 'Station_33_VK101_1_Bau900',
                     projectType: 'SAIA',
                     pfad: 'L03',
                     bmk: 'Y6456'
                }"></div>
                <!-- /Ventile -->
                <!-- Temperaturfühler -->
                <div title="B6604" class="bs-achsen-sensor-zul" data-bind="bsTPHSensor:{
                     signalName: 'Station_33_VK101_1_Bau900.Register_L03_B6604_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: 35
                     }"></div>
                <div title="B6605" class="bs-achsen-sensor-rt" data-bind="bsTPHSensor:{
                     signalName: 'Station_33_VK101_1_Bau900.Register_L03_B6605_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: -10
                     }"></div>
                <div title="B5155" class="bs-achsen-Sw-rt" data-bind="bsTPHSensor:{
                     signalName: 'Station_33_VK101_1_Bau900.Register_Allg_B5155_temp',
                     projectType: 'SAIA',
                     einheit: ' °C',
                     winkel: 0,
                     sensortyp: 'T',
                     stiellaenge: -10
                     }"></div>
                <!-- /Temperaturfühler -->
                <!-- Digitale Überwachungen -->
                <div title="B6406" class="frostschutz-achsen" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '35',
                     projectType: 'SAIA',
                     winkel: '0',
                     sensortyp: 'F',
                     signalName: 'Station_33_VK101_1_Bau900.Flag_L03_al_F6406'
                     }"></div>
                <div title="B6532" class="filter-achsen" data-bind="bsDigitaleUeberwachung: {
                     stiellaenge: '0',
                     projectType: 'SAIA',
                     winkel: '0',
                     sensortyp: 'P',
                     signalName: 'Station_33_VK101_1_Bau900.Flag_L03_al_F6532',
                     }"></div>
                <!-- Digitale Überwachungen -->
                <!-- Klappen -->
                <div title="Y6482" class="klappe-UML-OG-achsen" data-bind="bsKlappe: {
                     signalName: 'Station_33_VK101_1_Bau900.Register_L03_Y6482_stell',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend'
                     }"></div>
                <div title="Y6486" class="klappe-UML-EG-achsen" data-bind="bsKlappe: {
                     signalName: 'Station_33_VK101_1_Bau900.Register_L03_Y6486_stell',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend'
                     }"></div>
                <div title="Y6492" class="klappe-AUL-achsen" data-bind="bsKlappe: {
                     signalName: 'Station_33_VK101_1_Bau900.Register_L03_Y6492_stell',
                     projectType: 'SAIA',
                     typ: 'digital',
                     symbol:'bs bs-klappe-fahrend'
                     }"></div>
                <div class="bs-achsen-UML-oben" title="UML oben" data-bind="bsAusgabefeld: {
                     signalName: 'Station_33_VK101_1_Bau900.Register_L03_Y6482_stell',
                     einheit: '%'
                     }"></div>
                <div class="bs-achsen-UML-unten" title="UML unten" data-bind="bsAusgabefeld: {
                     signalName: 'Station_33_VK101_1_Bau900.Register_L03_Y6486_stell',
                     einheit: '%'
                     }"></div>
                <div class="bs-achsen-AUL" title="AUL" data-bind="bsAusgabefeld: {
                     signalName: 'Station_33_VK101_1_Bau900.Register_L03_Y6492_stell',
                     einheit: '%'
                     }"></div>
                <!-- /Klappen -->
                <!-- Temperatursollwerte -->
                <div class="bs-achsen-berSw" data-bind="bsAusgabefeld: {
                     typ: 'berechnetersollwert',
                     dezimalstellen: 1,
                     signalName: 'Station_33_VK101_1_Bau900.Register_L03_sw_B6604_ber'
                     }"></div>
                <div class="bs-achsen-berSw-rt" data-bind="bsAusgabefeld: {
                     typ: 'berechnetersollwert',
                     dezimalstellen: 1,
                     signalName: 'Station_33_VK101_1_Bau900.Register_L03_sw_B6605_ber'
                     }"></div>
                <!-- /Temperatursollwerte -->
                <!-- Anlageschalter -->
                <div title="Anlageschalter" class="lue-nw-anlageschalter-l02" data-bind="bsAnlageschalter: {
                     signalName: 'Station_33_VK101_1_Bau900',
                     dialogTitle: 'Anlageschalter',
                     anlage: 'as',
                     pfad: 'L03',
                     projectType: 'SAIA'
                     }"></div>
                <!-- Anlageschalter -->
                <!-- Sollwerte -->
                <div title="Allgemeine Sollwerte" class="lue-nw-sollwerte-l02" data-bind="bsSollwertFenster: {
                     dialogTitle: 'Allgemeine Sollwerte',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'Temperaturdifferenz Einschaltung Stufe 2 (SW-IW) [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_L03_sw_ein_St2' },
                        { label: 'Temperaturdifferenz Ausschaltung Stufe 2 (SW-IW) [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_L03_sw_aus_St2' },
                        { label: 'RT Minimalgrenze  (Achsen 3 - 12) [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_Allg_sw_Min_RT_LHA' },
                        { label: 'AUL Anteil für Klappen bei wenig Energie  (Achsen 3 - 12) [%]', signalname: 'Station_33_VK101_1_Bau900.Register_Allg_winter_sw_AUL_Anteil_WwE' },
                        { label: 'AUL Anteil für Klappen bei viel Energie  (Achsen 3 - 12) [%]', signalname: 'Station_33_VK101_1_Bau900.Register_Allg_winter_sw_AUL_Anteil_WvE' },
                        { label: 'Aussenluftanteil [%]', signalname: 'Station_33_VK101_1_Bau900.Register_Allg_sw_AUL_Anteil' }
                        ]
                     }"></div>
                <!-- /sollwerte -->
                <!-- Heizkurve -->
                <div title="ZUL Heizkurve" class="lue-achsen-hk-zul" data-bind="bsSollwertFenster: {
                     dialogTitle: 'ZUL Heizkurve',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'Raumtemperatur X1 [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_RT_ZUL_HK_RefTo1' },
                        { label: 'Raumtemperatur X2 [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_RT_ZUL_HK_RefTo2' },
                        { label: 'Zulufttemperatur Y1 [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_RT_ZUL_HK_RefSP1' },
                        { label: 'Zulufttemperatur Y2 [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_RT_ZUL_HK_RefSP2' },
                        { label: 'Minimum Begrenzung [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_RT_ZUL_HK_LimLow' },
                        { label: 'Maximum Begrenzung [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_RT_ZUL_HK_LimHigh' }
                        ]
                     }"></div>
                <div title="Raumtemp. Heizkurve" class="lue-achsen-hk-rt" data-bind="bsSollwertFenster: {
                     dialogTitle: 'Raumtemp. Heizkurve',
                     projectType: 'SAIA',
                     signals: [
                        { label: 'Aussentemperatur X1 [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_AT_RT_HK_RefTo1' },
                        { label: 'Aussentemperatur X2 [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_AT_RT_HK_RefTo2' },
                        { label: 'Raumtemperatur Y1 [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_AT_RT_HK_RefSP1' },
                        { label: 'Raumtemperatur Y2 [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_AT_RT_HK_RefSP2' },
                        { label: 'Minimum Begrenzung [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_AT_RT_HK_LimLow' },
                        { label: 'Maximum Begrenzung [°C]', signalname: 'Station_33_VK101_1_Bau900.Register_A_HVC_L03_AT_RT_HK_LimHigh' }
                        ]
                     }"></div>
                <!-- /Heizkurve -->
            </div>
            
        </div>
    </div>
</div>