﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Schematas</h1>
    </header>
    <div class="col-lg-12">
        <div class="hidden-xs">
            <!-- ko foreach: par -->
            <div id="result" data-bind="text: file"></div>
            <!-- /ko -->
        </div>
    </div>
</div>