﻿<div data-bind="if: hasAuthorization() && isVisible()">
    <button class="relative btn" type="button" data-bind="disable: isDisabled, css: displayClassNames() + ' ' + statusCssClass(), event: { mousedown: writeDownValue, mouseup: writeUpValue }, attr : {title: tooltipText}">
        <div class="wf-button-content" data-part="content"></div>
        <i data-bind="css: iconClass, attr: {style: iconStyle}"></i>
        <span data-bind="text: buttonText, attr: {style: textStyle}">{{connector.translate(buttonText)()}}</span>
    </button>
    <!-- ko if: writeSecure -->
    <wf-write-secure-signal params="show: showWriteSecure,
                               signalName: signalName,
                               signalValue: writeSecureValue,
                               draggable: isModalDialogsDraggable"></wf-write-secure-signal>
    <!-- /ko -->
</div>