﻿<div data-bind="if: hasAuthorization() && isVisible()">
    <div class="alert" data-bind="css: changedFieldAnimationService.cssClass, attr : {title: tooltipText}">
        <span data-part="statusTextContainer">{{connector.translate(statusText())()}}</span>
    </div>
</div>