﻿<div data-bind="if: hasAuthorization() && isVisible()">
    <div style="height: 100%" data-bind="css: orientation, attr : {title: tooltipText}">
        <div class="progressbar-title">
            <span class="progressbar-label">
                <span data-part="iconContainer">
                    <i class="progressbar-title-icon" data-bind="css: iconClass"></i>
                </span>
                <span class="progressbar-text">{{connector.translate(titleText)()}}</span>
            </span>

            <span class="progressbar-display">
                <!-- ko if: minValueVioliation -->
                <span class="progressbar-low-under">
                    <i class="wf wf-alarm"></i>
                </span>
                <!-- /ko -->
                <!-- ko if: maxValueVioliation -->
                <span class="progressbar-high-over">
                    <i class="wf wf-alarm"></i>
                </span>
                <!-- /ko -->
                <!-- ko if: valueLabel -->
                <span class="progressbar-value" data-bind="text: formattedSignalValue"></span>
                <!-- /ko -->
                <!-- ko if: unitLabel -->
                <span class="progressbar-unit inline" data-bind="wfSignalInformation: { signalName: signalName, propertyName: 'Unit' }, visible: unitLabel"></span>
                <!-- /ko -->
            </span>
            <span class="clearfix"></span>
        </div>
        <div class="relative overflow-visible" data-bind="progress: 'progressValue', cssClass: cssClass, orientation: orientation, css: progressBarSize + ' ' + orientation, style: {height: height}">

            <!-- ko if: showTickLabels -->
            <div class="progressbar-vertical-ticks" data-bind="css: progressBarSize + '-ticks' ">
                <span class="progressbar-tick progressbar-min-tick" data-bind="text: minRangeValueFormated"></span>
                <span class="progressbar-tick progressbar-mid-tick" data-bind="text: midRangeValueFormated"></span>
                <span class="progressbar-tick progressbar-max-tick" data-bind="text: maxRangeValueFormated"></span>
            </div>
            <!-- /ko -->
        </div>

        <!-- ko if: showTickLabels -->
        <div class="progressbar-ticks" data-bind="css: progressBarSize + '-ticks' ">
            <span class="progressbar-tick progressbar-min-tick" data-bind="text: minRangeValueFormated"></span>
            <span class="progressbar-tick progressbar-mid-tick" data-bind="text: midRangeValueFormated"></span>
            <span class="progressbar-tick progressbar-max-tick" data-bind="text: maxRangeValueFormated"></span>
        </div>
        <!-- /ko -->
    </div>
</div>