﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: close">&times;</button>
                <h4 class="modal-title">Details - Section <span data-bind="text: param2"></span>
                    - Unit <span data-bind="text: param1"></span>
                </h4>
            </div>
            <div class="modal-body">
                <h3 class="modal-content-title">This is a modal dialog</h3>
                <br />
                <div class="row">
                    <div class="col-xs-12">                       
                        <div data-bind="wfValueDisplay: { signalName: statusSignal, signalNameLabel: true }"></div>
                        <div class="motor block" data-bind="wfStateIndicator: { stateSignalName1: statusSignal, maskSignal1: 1, stateSignalName2: statusSignal, maskSignal2: 0 }"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="click: close">Schlie&szlig;en</button>
            </div>
        </div>
    </div>
</div>