﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" data-bind="click: close">
                    &times;
                </button>-->
                <div class="m-r-md pull-right">
                    <a class="btn btn-info" target="_blank" href="http://google.de">
                        <span class="wf wf-info"></span>
                    </a>
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button>
                </div>
                <h4 class="modal-title">
                    <span data-bind="text: Titel"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfValueDisplay: { signalName: leistung, label:'Leistung', unitLabel: true  }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfValueDisplay: { signalName: energie, label:'Energie', unitLabel: true  }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfValueDisplay: { signalName: durchfluss, label:'Durchfluss', unitLabel: true  }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfValueDisplay: { signalName: vorlaufTemp, label:'VL Temperatur', unitLabel: true  }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfValueDisplay: { signalName: ruecklaufTemp, label:'RL Temperatur', unitLabel: true  }"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>