﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog">
        <div class="modal-dialog modal-top">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" data-bind="click: close">
                &times;
            </button>-->
                <div class="m-r-md pull-right">
                    <!--
                <a class="btn btn-info" target="_blank" href="http://google.de">
                    <span class="wf wf-info"></span>
                </a>
                -->
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button>
                </div>
                <h4 class="modal-title">
                    <span data-bind="text: Titel"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt02, label:'Aussentemperatur 1', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt03, label:'Sollwert Tag 1', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt04, label:'Sollwert Nacht 1', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt05, label:'Aussentemperatur 2', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt06, label:'Sollwert Tag 2', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt07, label:'Sollwert Nacht 2', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt08, label:'Aussentemperatur 3', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt09, label:'Tag 3', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt10, label:'Nacht 3', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt11, label:'Aussentemperatur 4', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt12, label:'Tag 4', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt13, label:'Nacht 4', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt14, label:'Minimum Begrenzung', unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: pt15, label:'Maximum Begrenzung', unitLabel: true }"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>