﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" data-bind="click: close">
                    &times;
                </button>-->
                <div class="m-r-md pull-right">
                    <!--
                    <a class="btn btn-info" target="_blank" href="http://google.de">
                        <span class="wf wf-info"></span>
                    </a>
                    -->
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button>
                </div>
                <h4 class="modal-title">
                    <span data-bind="text: Titel"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-3 m-t-sm">
                        Betriebswahl
                    </div>
                    <div class="col-md-9">
                        <div class="pull-right" data-bind="wfWriteValueCombobox:{
                            symbolicTexts: ['Automatik', 'Ein', 'Aus'],
                            signalNames: [Betriebswahl, Betriebswahl, Betriebswahl],
                            signalValues: [1, 2, 0],
                            symbolicTextNormalState: 'schalten',
                            iconClass: [ 'wf wf-cogs', 'wf wf-hand-o', 'wf wf-hand-o' ],
                            cssClass: 'btn btn-default' }"></div>
                    </div>
                </div>
                <hr />
                <div class="row" style="margin:10px;">
                    <div data-bind="wfValueDisplay: { signalName: einschaltungen1, label:'Einschaltungen Stufe 1', unitLabel: true  }"></div>
                    <hr />
                    <div data-bind="wfValueDisplay: { signalName: betriebsstunden1, label:'Betriebsstunden Stufe 1', unitLabel: true  }"></div>
                    <div data-bind="wfWriteValueButton:{signalName: reset, writeValue: 1, buttonText: 'Reset', cssClass: 'btn-primary' }"></div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


