﻿<div>
    <div class="row m-a-md">
        <div class="col-xs-12">
            <h3 class="wf-title">Lichtsteuerung</h3>
        </div>
    </div>

    <div class="row m-l-sm m-r-sm">
        <div class="col-xs-12">
            <wf-switch params="signalName: signalName + objectId,
                  onValue: 1,
                  offValue: 0,
                  onLabelText: 'LICHT AN',
                  offLabelText: 'LICHT AUS'"></wf-switch>
        </div>
    </div>
</div>