﻿<div class="modal" style="width: 100%">
    <div class="modal-admin" style="width:500px; margin-left:auto; margin-right:auto; margin-top:auto; margin-bottom:auto">
    <div class="modal-dialog modal-top">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" data-bind="click: close">
                    &times;
                </button>-->
                <div class="m-r-md pull-right">
                    <!--
                    <a class="btn btn-info" target="_blank" href="http://google.de">
                        <span class="wf wf-info"></span>
                    </a>
                    -->
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button>
                </div>
                <h4 class="modal-title">
                    <span data-bind="text: Titel"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin:10px;">
                    <div class="col-sm-4">Montag</div>
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: mo_ein_1, label:'Ein', unitLabel: false, format: '0.00' }"></div>
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: mo_aus_1, label:'Aus', unitLabel: false, format: '0.00' }"></div>
                </div>                                                                                                             
                <div class="row" style="margin:10px;">                                                                             
                    <div class="col-sm-4">Dienstag</div>                                                                           
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: di_ein_1, label:'Ein', unitLabel: false, format: '0.00' }"></div>
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: di_aus_1, label:'Aus', unitLabel: false, format: '0.00' }"></div>
                </div>                                                                                                             
                <div class="row" style="margin:10px;">                                                                             
                    <div class="col-sm-4">Mittwoch</div>                                                                           
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: mi_ein_1, label:'Ein', unitLabel: false, format: '0.00' }"></div>
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: mi_aus_1, label:'Aus', unitLabel: false, format: '0.00' }"></div>
                </div>                                                                                                             
                <div class="row" style="margin:10px;">                                                                             
                    <div class="col-sm-4">Donnerstag</div>                                                                         
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: do_ein_1, label:'Ein', unitLabel: false, format: '0.00' }"></div>
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: do_aus_1, label:'Aus', unitLabel: false, format: '0.00' }"></div>
                </div>                                                                                                             
                <div class="row" style="margin:10px;">                                                                             
                    <div class="col-sm-4">Freitag</div>                                                                            
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: fr_ein_1, label:'Ein', unitLabel: false, format: '0.00' }"></div>
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: fr_aus_1, label:'Aus', unitLabel: false, format: '0.00' }"></div>
                </div>                                                                                                             
                <div class="row" style="margin:10px;">                                                                             
                    <div class="col-sm-4">Samstag</div>                                                                            
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: sa_ein_1, label:'Ein', unitLabel: false, format: '0.00' }"></div>
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: sa_aus_1, label:'Aus', unitLabel: false, format: '0.00' }"></div>
                </div>                                                                                                             
                <div class="row" style="margin:10px;">                                                                             
                    <div class="col-sm-4">Sonntag</div>                                                                            
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: so_ein_1, label:'Ein', unitLabel: false, format: '0.00' }"></div>
                    <div class="col-sm-4" data-bind="wfInputValue: { signalName: so_aus_1, label:'Aus', unitLabel: false, format: '0.00' }"></div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>