﻿<div class="modal" style="width: 100%">
    <div class="modal-admin" style="width:96%; margin-left:auto; margin-right:auto; margin-top:auto; margin-bottom:auto">
    <div class="modal-dialog modal-top">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" data-bind="click: close">
                    &times;
                </button>-->
                <div class="m-r-md pull-right">
                    <!--
                    <a class="btn btn-info" target="_blank" href="http://google.de">
                        <span class="wf wf-info"></span>
                    </a>
                    -->
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button>
                </div>
                <h4 class="modal-title">
                    <span data-bind="text: Titel"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin:10px;">
                    <div class="col-sm-2">Montag</div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mo_ein_1, label:'Ein 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mo_aus_1, label:'Aus 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mo_ein_2, label:'Ein 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mo_aus_2, label:'Aus 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mo_ein_3, label:'Ein 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mo_aus_3, label:'Aus 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mo_ein_4, label:'Ein 4', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mo_aus_4, label:'Aus 4', unitLabel: false  }"></div>
                </div>
                <div class="row" style="margin:10px;">
                    <div class="col-sm-2">Dienstag</div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: di_ein_1, label:'Ein 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: di_aus_1, label:'Aus 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: di_ein_2, label:'Ein 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: di_aus_2, label:'Aus 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: di_ein_3, label:'Ein 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: di_aus_3, label:'Aus 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: di_ein_4, label:'Ein 4', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: di_aus_4, label:'Aus 4', unitLabel: false  }"></div>
                </div>
                <div class="row" style="margin:10px;">
                    <div class="col-sm-2">Mittwoch</div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mi_ein_1, label:'Ein 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mi_aus_1, label:'Aus 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mi_ein_2, label:'Ein 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mi_aus_2, label:'Aus 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mi_ein_3, label:'Ein 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mi_aus_3, label:'Aus 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mi_ein_4, label:'Ein 4', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: mi_aus_4, label:'Aus 4', unitLabel: false  }"></div>
                </div>
                <div class="row" style="margin:10px;">
                    <div class="col-sm-2">Donnerstag</div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: do_ein_1, label:'Ein 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: do_aus_1, label:'Aus 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: do_ein_2, label:'Ein 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: do_aus_2, label:'Aus 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: do_ein_3, label:'Ein 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: do_aus_3, label:'Aus 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: do_ein_4, label:'Ein 4', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: do_aus_4, label:'Aus 4', unitLabel: false  }"></div>
                </div>
                <div class="row" style="margin:10px;">
                    <div class="col-sm-2">Freitag</div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: fr_ein_1, label:'Ein 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: fr_aus_1, label:'Aus 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: fr_ein_2, label:'Ein 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: fr_aus_2, label:'Aus 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: fr_ein_3, label:'Ein 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: fr_aus_3, label:'Aus 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: fr_ein_4, label:'Ein 4', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: fr_aus_4, label:'Aus 4', unitLabel: false  }"></div>
                </div>
                <div class="row" style="margin:10px;">
                    <div class="col-sm-2">Samstag</div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: sa_ein_1, label:'Ein 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: sa_aus_1, label:'Aus 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: sa_ein_2, label:'Ein 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: sa_aus_2, label:'Aus 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: sa_ein_3, label:'Ein 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: sa_aus_3, label:'Aus 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: sa_ein_4, label:'Ein 4', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: sa_aus_4, label:'Aus 4', unitLabel: false  }"></div>
                </div>
                <div class="row" style="margin:10px;">
                    <div class="col-sm-2">Sonntag</div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: so_ein_1, label:'Ein 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: so_aus_1, label:'Aus 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: so_ein_2, label:'Ein 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: so_aus_2, label:'Aus 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: so_ein_3, label:'Ein 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: so_aus_3, label:'Aus 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: so_ein_4, label:'Ein 4', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: so_aus_4, label:'Aus 4', unitLabel: false  }"></div>
                </div>
                <div class="row" style="margin:10px;">
                    <div class="col-sm-2">Feiertag</div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: f_ein_1, label:'Ein 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: f_aus_1, label:'Aus 1', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: f_ein_2, label:'Ein 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: f_aus_2, label:'Aus 2', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: f_ein_3, label:'Ein 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: f_aus_3, label:'Aus 3', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: f_ein_4, label:'Ein 4', unitLabel: false  }"></div>
                    <div class="col-sm-1" data-bind="wfInputValue: { signalName: f_aus_4, label:'Aus 4', unitLabel: false  }"></div>
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>