﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" data-bind="click: close">
                    &times;
                </button>-->
                <div class="m-r-md pull-right">
                    <!--
                    <a class="btn btn-info" target="_blank" href="http://google.de">
                        <span class="wf wf-info"></span>
                    </a>
                    -->
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button>
                </div>
                <h4 class="modal-title">
                    <span data-bind="text: Titel"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 m-t-sm" id="test">
                        <div data-bind="wfInputValue: { signalName: sig1, label: lbl1, unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: sig2, label: lbl2, unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: sig3, label: lbl3, unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: sig4, label: lbl4, unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: sig5, label: lbl5, unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: sig6, label: lbl6, unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: sig7, label: lbl7, unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: sig8, label: lbl8, unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: sig9, label: lbl9, unitLabel: true }"></div>
                    </div>
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfInputValue: { signalName: sig10, label: lbl10, unitLabel: true }"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
