﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">
                <div class="m-r-md pull-right">
                    <!--
                    <a class="btn btn-info" target="_blank" href="http://google.de">
                        <span class="wf wf-info"></span>
                    </a>
                    -->
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button>
                </div>
                <h4 class="modal-title">
                    Temperaturfühler
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div data-bind="wfValueDisplay: { signalName: AktuellerWert, label:'Temperatur Istwert', unitLabel: true  }"></div>

                        <div class="row m-b-md">
                            <div class="col-xs-6">
                                <div data-bind="wfInputValue: { signalName: Obergrenze , label:'Obergrenze', unitLabel: true }"></div>
                            </div>
                            <div class="col-md-6">
                                <div data-bind="wfInputValue: { signalName: Untergrenze, label:'Untergrenze', unitLabel: true  }"></div>
                            </div>
                        </div>

                        <div data-bind="wfLogTagTrend: { signalName: AktuellerWert, logTagName: 'LogControl',  trendColor: '#008800', subChartVisible:false, chartType: 'area-step', footerVisibility:false, chartHeight:200, statisticsVisibility:false}"></div>
                        <div class="row m-b-md">
                            <div class="col-xs-3 m-t-sm">
                                Betriebswahl
                            </div>
                            <div class="col-md-9">
                                <div class="pull-right" data-bind="wfWriteValueCombobox:{
                            symbolicTexts: ['Automatik', 'Hand'],
                            signalNames: [Betriebswahl, Betriebswahl],
                            signalValues: [32, 64],
                            symbolicTextNormalState: 'schalten',
                            iconClass: [ 'wf wf-cogs', 'wf wf-hand-o'],
                            cssClass: 'btn btn-default' }"></div>
                            </div>
                        </div>
                        <div data-bind="wfInputValue: { signalName: Handwert, label:'Temperaturfestwert', unitLabel: true  }"></div>
                        <div data-bind="wfSwitchValue:{
                             signalName: 'Setpoint 1' ,
                             onValue: 1,
                             offValue: 0,
                             onLabelText: 'Alarm Unterdrücken',
                             offLabelText: 'Alarm Triggern',
                             onIconClass:' ',
                             offIconClass:' '}"></div>

                    </div>


                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>