﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" data-bind="click: close">
                    &times;
                </button>-->
                <div class="m-r-md pull-right">
                    <!--
                    <a class="btn btn-info" target="_blank" href="http://google.de">
                        <span class="wf wf-info"></span>
                    </a>
                    -->
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button>
                </div>
                <h4 class="modal-title">
                    <span data-bind="text: Titel"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 m-t-sm">
                        <div data-bind="wfValueDisplay: { signalName: aktuellerWert, label:'Ventil Istwert', unitLabel: true  }"></div>
                        <div data-bind="wfInputValue: { signalName: handwert, label:'Ventil Handwert:', unitLabel: true  }"></div>
                    </div>
                    <div class="col-xs-3 m-t-sm">
                        Betriebswahl
                    </div>
                    <div class="col-md-9">
                        <div class="pull-right" data-bind="wfWriteValueCombobox:{
                            symbolicTexts: ['Automatik', 'Hand'],
                            signalNames: [betriebswahl, betriebswahl],
                            signalValues: [0, 1],
                            symbolicTextNormalState: 'schalten',
                            iconClass: [ 'wf wf-cogs', 'wf wf-hand-o' ],
                            cssClass: 'btn btn-default' }"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
