﻿<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>
                <a class="btn btn-primary" href="#tutorialsOverview"><i class="fa fa-arrow-left"></i></a>&nbsp;Section: <span data-bind="text: idParameter"></span>
            </h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <button type="button" class="btn btn-default btn-block" data-bind="click: function () { openDialog(1); }">
                <strong>Unit 1</strong>
                <div class="motor block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 1, stateSignalName2: 'Setpoint 1', maskSignal2: 0 }"></div>
            </button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-default btn-block" data-bind="click: function () { openDialog(2); }">
                <strong>Unit 2</strong>
                <div class="motor block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 2', maskSignal1: 1, stateSignalName2: 'Setpoint 2', maskSignal2: 0 }"></div>
            </button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-default btn-block" data-bind="click: function () { openDialog(3); }">
                <strong>Unit 3</strong>
                <div class="motor block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 3', maskSignal1: 1, stateSignalName2: 'Setpoint 3', maskSignal2: 0 }"></div>
            </button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-default btn-block" data-bind="click: function () { openDialog(4); }">
                <strong>Unit 4</strong>
                <div class="motor block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 1, stateSignalName2: 'Setpoint 1', maskSignal2: 0 }"></div>
            </button>
        </div>
    </div>
</div>
