﻿<div class="container">
    <header>
        <h1 class="page-header">WEBfactory HTML/JS Workshop - Ausgabe und Schreiben von Prozesswerten</h1>
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-success">
                Current value of the signal <strong>"Setpoint 1"</strong>:
                <h1 data-bind="text: onlineValue"></h1>
            </div>
        </div>
        <div class="col-sm-4">
            <p>
                <button class="btn btn-default" type="button" data-bind="click: writeSignalValueON">Write value "1" in Setpoint 1</button>
            </p>
            <p>
                <button class="btn btn-danger" type="button" data-bind="click: writeSignalValueOFF">Write value "0" in Setpoint 1</button>
            </p>
        </div>
        <!--<div class="col-sm-4">
            <div class="alert alert-info">
                Current value of the signal <strong>"Setpoint 1" converted into Fahrenheit</strong>:
                <h1 data-bind="text: onlineValueFahrenheit()"></h1>
            </div>
        </div>-->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Status Indicator with modified Style</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-4">
                        <h3 class="text-center">Motor 1</h3>
                        <div class="motor" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 1, stateSignalName2: 'Setpoint 1', maskSignal2: 0 }"></div>
                        <div data-bind="wfSwitchValue: { signalName: 'Setpoint 1', onValue: 1, onLabelText: 'Motor AN', offValue: 0, offLabelText: 'Motor AUS', onIconClass: 'wf wf-motor-electric', offIconClass: 'wf wf-motor-electric', defaultCssClass: 'btn-lg btn-default', activeCssClass: 'btn-primary' }"></div>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="text-center">Motor 2</h3>
                        <div class="motor" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 2', maskSignal1: 1, stateSignalName2: 'Setpoint 2', maskSignal2: 0 }"></div>
                        <div data-bind="wfSwitchValue: { signalName: 'Setpoint 2', onValue: 1, onLabelText: 'Motor AN', offValue: 0, offLabelText: 'Motor AUS', onIconClass: 'wf wf-motor-electric', offIconClass: 'wf wf-motor-electric', defaultCssClass: 'btn-lg btn-default', activeCssClass: 'btn-primary' }"></div>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="text-center">Motor 3</h3>
                        <div class="motor" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 3', maskSignal1: 1, stateSignalName2: 'Setpoint 3', maskSignal2: 0 }"></div>
                        <div data-bind="wfSwitchValue: { signalName: 'Setpoint 3', onValue: 1, onLabelText: 'Motor AN', offValue: 0, offLabelText: 'Motor AUS', onIconClass: 'wf wf-motor-electric', offIconClass: 'wf wf-motor-electric', defaultCssClass: 'btn-lg btn-default', activeCssClass: 'btn-primary' }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--                        <br />
                        <div data-bind="indicatorControl: { stateSignalName1: 'Setpoint 3', maskSignal1: 1, stateSignalName2: 'Setpoint 3', maskSignal2: 0 }">
                            <div data-part="labelContainer" class="indicator-label">
                                <div data-bind="signalValue: { signalName: 'Setpoint 3' }"></div>
                            </div>
                        </div>
                        <br /><br />-->
