<div class="container">
    <header>
        <h1 class="page-header">WEBfactory HTML/JS Workshop - ChangedFieldAnimationService</h1>
    </header>

    <div class="row">
        <div class="col-sm-12">
            <span class="label" data-bind="css:cssClass">css class: {{cssClass}}</span>
        </div>


    </div>
</div>