﻿<div data-bind="css: status, click: openDialog, attr: { 'class': symbol }, style: { transform: 'rotate(' + winkel + 'deg)' } " style="cursor: pointer"></div>
<div id="handanzeige" class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: handLinks + 'px', top: handOben + 'px', position: 'absolute', visibility: hand }"></div>
<div data-bind="bsAusgabefeld:{signalName: signalname, typ: 'istwert', einheit: unit, dezimalstellen: '0' }, style: { left: anzeigefeldLinks + 'px', top: anzeigefeldOben + 'px', position: 'absolute' } ">???</div>