﻿<div class="container">
    <header>
        <h1 class="page-header">Heizgruppen Fabrikation, Raumheizung und Lüftung Bau 900</h1>
    </header>
    <div class="row">
        <div class="col-sm-12">
            <div class="bs-heizung-handling hidden-xs">
                <div class="bs-air-valves stretch">
                    <!-- Ventile -->
                    <div title="Y11462" class="bsValve11462">
                        <div class="bs-symbol-30 clickable" data-bind="click: function () { openDialog('ventil', 'Station_34_VK101_2_Bau900', 'Y11462', 'Ventil Y11462', 'H03'); }, bsValve: { signalName: 'Station_34_VK101_2_Bau900.Register_H03_Y11462_stell', staticUnitText: '%', cssClassNormalState: 'wf-pid wf-2-way-valve-2', cssClassState1: 'wf-pid wf-2-way-valve-2 running', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H03_Y11462_stell% > 0'}"></div>
                        <div class="bsHandVentil bs-zoom-2x fa-rotate-90" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_34_VK101_2_Bau900.Flag_A_HVC_H03_Y11462_ManMode% != 0' }"></div>
                    </div>
                    <div title="Y11456" class="bsValve11456">
                        <div class="bs-symbol-30 clickable" data-bind="click: function () { openDialog('ventil', 'Station_34_VK101_2_Bau900', 'Y11456', 'Ventil Y11456', 'H02'); }, bsValve: { signalName: 'Station_34_VK101_2_Bau900.Register_H02_Y11456_stell', staticUnitText: '%', cssClassNormalState: 'wf-pid wf-2-way-valve-2', cssClassState1: 'wf-pid wf-2-way-valve-2 running', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H02_Y11456_stell% > 0'}"></div>
                        <div class="bsHandVentil bs-zoom-2x fa-rotate-90" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_34_VK101_2_Bau900.Flag_A_HVC_H02_Y11456_ManMode% != 0' }"></div>
                    </div>
                    <div title="Y11452" class="bsValve11452">
                        <div class="bs-symbol-30 clickable" data-bind="click: function () { openDialog('ventil', 'Station_34_VK101_2_Bau900', 'Y11452', 'Ventil Y11452', 'H01'); }, bsValve: { signalName: 'Station_34_VK101_2_Bau900.Register_H01_Y11452_stell', staticUnitText: '%', cssClassNormalState: 'wf-pid wf-2-way-valve-2', cssClassState1: 'wf-pid wf-2-way-valve-2 running', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H01_Y11452_stell% > 0'} "></div>
                        <div class="bsHandVentil bs-zoom-2x fa-rotate-90" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_34_VK101_2_Bau900.Flag_A_HVC_H01_Y11452_ManMode% != 0' }"></div>
                    </div>
                    <div title="Y11492" class="bs-valve11492">
                        <div class="bs-symbol-30 clickable" data-bind="click: function () { openDialog('ventil', 'Station_34_VK101_2_Bau900', 'Y11492', 'Ventil Y11492', 'H01'); }, bsValve: { signalName: 'Station_34_VK101_2_Bau900.Register_H01_Y11492_stell', staticUnitText: '%', cssClassNormalState: 'wf-pid wf-2-way-valve-2', cssClassState1: 'wf-pid wf-2-way-valve-2 running', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H01_Y11492_stell% > 0'} "></div>
                        <div class="bsHandVentil bs-zoom-2x fa-rotate-90" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_34_VK101_2_Bau900.Flag_A_HVC_H01_Y11492_ManMode% != 0' }"></div>
                    </div>
                    <div title="Y11482" class="bs-valve11482">
                        <div class="bs-symbol-30 clickable" data-bind="click: function () { openDialog('ventil', 'Station_34_VK101_2_Bau900', 'Y11482', 'Ventil Y11482', 'H01'); }, bsValve: { signalName: 'Station_34_VK101_2_Bau900.Register_H01_Y11482_stell', staticUnitText: '%', cssClassNormalState: 'wf-pid wf-2-way-valve-2', cssClassState1: 'wf-pid wf-2-way-valve-2 running', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H01_Y11482_stell% > 0'} "></div>
                        <div class="bsHandVentil bs-zoom-2x fa-rotate-90" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_34_VK101_2_Bau900.Flag_A_HVC_H01_Y11482_ManMode% != 0' }"></div>
                    </div>
                    <!-- /Ventile -->
                    <!-- Fühler -->
                    <div title="B11604" class="bs-sensor11604" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '90', sensorText: 'T', signalName: 'Station_34_VK101_2_Bau900.Register_H02_B11604_ist', staticUnitText: '°C' }, draggable"></div>
                    <div title="B11603" class="bs-sensor11603" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '90', sensorText: 'T', signalName: 'Station_34_VK101_2_Bau900.Register_H01_B11603_ist', staticUnitText: '°C' }"></div>
                    <div title="B11612" class="bs-sensor11612" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '90', sensorText: 'T', signalName: 'Station_34_VK101_2_Bau900.Register_H01_B11612_ist', staticUnitText: '°C' }"></div>
                    <div title="B11622" class="bs-sensor11622" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '90', sensorText: 'T', signalName: 'Station_34_VK101_2_Bau900.Register_H01_B11622_ist', staticUnitText: '°C' }"></div>
                    <div title="B11605" class="bs-sensor11605" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '90', sensorText: 'T', signalName: 'Station_34_VK101_2_Bau900.Register_H03_B11605_ist', staticUnitText: '°C' }"></div>

                    <div title="RL" class="bs-sensorRL" data-bind="wfSensorValue: { pointerLength: '40', pointerRotation: '0', sensorText: 'T', signalName: 'Station_34_VK101_2_Bau900.Register_H01_ez_RL_Temp', staticUnitText: '°C' }"></div>
                    <div title="VL" class="bs-sensorVL" data-bind="draggable, wfSensorValue: { pointerLength: '40', pointerRotation: '180', sensorText: 'T', signalName: 'Station_34_VK101_2_Bau900.Register_H01_ez_VL_Temp', staticUnitText: '°C' }"></div>

                    <!-- /Fühler -->
                    <!-- Pumpen -->
                    <div title="M11072" class="bs-pump11072">
                        <div class="wf-symbol-1x bsrotate270
                         clickable" data-bind="click: function () {openDialog('motor', 'Station_34_VK101_2_Bau900', 'M11072', 'Pumpe M11072', 'H03'); },
                         wfStateCssClass: {
                         cssClassNormalState: 'wf-pid wf-pump',
                         cssClassState1: 'wf-pid wf-pump bsHandbedienung',
                         conditionRule1: '%Station_34_VK101_2_Bau900.Register_H03_status_M11072% == 1', cssClassState2: 'wf-pid wf-pump bsStufe1',
                         conditionRule2: '%Station_34_VK101_2_Bau900.Register_H03_status_M11072% == 2', cssClassState3: 'wf-pid wf-pump bsStufe2',
                         conditionRule3: '%Station_34_VK101_2_Bau900.Register_H03_status_M11072% == 3', cssClassState4: 'wf-pid wf-pump bsStoerung',
                         conditionRule4: '%Station_34_VK101_2_Bau900.Register_H03_status_M11072% == 4', cssClassState5: 'wf-pid wf-pump bsRevision',
                         conditionRule5: '%Station_34_VK101_2_Bau900.Register_H03_status_M11072% == 5' }">
                        </div>
                        <div class="bsHandPumpen bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H03_bw_M11072% != 1' }"></div>
                    </div>
                    <div title="M11062" class="bs-pump11062">
                        <div class="wf-symbol-1x bsrotate270
                         clickable" data-bind="click: function () {openDialog('motor', 'Station_34_VK101_2_Bau900', 'M11062', 'Pumpe M11062', 'H02'); },
                         wfStateCssClass: {
                         cssClassNormalState: 'wf-pid wf-pump',
                         cssClassState1: 'wf-pid wf-pump bsHandbedienung', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H02_status_M11062% == 1',
                         cssClassState2: 'wf-pid wf-pump bsStufe1', conditionRule2: '%Station_34_VK101_2_Bau900.Register_H02_status_M11062% == 2',
                         cssClassState3: 'wf-pid wf-pump bsStufe2', conditionRule3: '%Station_34_VK101_2_Bau900.Register_H02_status_M11062% == 3',
                         cssClassState4: 'wf-pid wf-pump bsStoerung', conditionRule4: '%Station_34_VK101_2_Bau900.Register_H02_status_M11062% == 4',
                         cssClassState5: 'wf-pid wf-pump bsRevision', conditionRule5: '%Station_34_VK101_2_Bau900.Register_H02_status_M11062% == 5' }">
                        </div>
                        <div class="bsHandPumpen bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H02_bw_M11062% != 1' }"></div>
                    </div>
                    <div title="11052" class="bs-pump11052">
                        <div class="wf-symbol-1x bsrotate270
                         clickable" data-bind="click: function () {openDialog('motor', 'Station_34_VK101_2_Bau900', 'M11052', 'Pumpe M11052', 'H01'); },
                         wfStateCssClass: {
                         cssClassNormalState: 'wf-pid wf-pump',
                         cssClassState1: 'wf-pid wf-pump bsHandbedienung',
                         conditionRule1: '%Station_34_VK101_2_Bau900.Register_H01_status_M11052% == 1', cssClassState2: 'wf-pid wf-pump bsStufe1',
                         conditionRule2: '%Station_34_VK101_2_Bau900.Register_H01_status_M11052% == 2', cssClassState3: 'wf-pid wf-pump bsStufe2',
                         conditionRule3: '%Station_34_VK101_2_Bau900.Register_H01_status_M11052% == 3', cssClassState4: 'wf-pid wf-pump bsStoerung',
                         conditionRule4: '%Station_34_VK101_2_Bau900.Register_H01_status_M11052% == 4', cssClassState5: 'wf-pid wf-pump bsRevision',
                         conditionRule5: '%Station_34_VK101_2_Bau900.Register_H01_status_M11052% == 5' }">
                        </div>
                        <div class="bsHandPumpen bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H01_bw_M11052% != 1' }"></div>
                    </div>
                    <!-- /Pumpen -->
                    <!-- Buttons -->
                    <div class="bsAnlageschalterH01">
                        <div data-bind="click: function () { openDialog('anlageschalter1Stufig', 'Station_34_VK101_2_Bau900', 'as', 'Anlageschalter H01', 'H01'); },
                         wfStateCssClass: {
                         cssClassNormalState: 'btn wf-lg wf-power-on bsButtonOff',
                         cssClassState1: 'btn wf-lg wf-power-on bsButtonBetrWahlAuto', conditionRule1: '%Station_34_VK101_2_Bau900.H01*Register_H01_status_as% == 1',
                         cssClassState2: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule2: '%Station_34_VK101_2_Bau900.Register_H01_status_as% == 2',
                         cssClassState3: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule3: '%Station_34_VK101_2_Bau900.Register_H01_status_as% == 3',
                         }"></div>
                        <div class="bs-HandAnlage bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H01_bw_as% != 1' }"></div>
                    </div>
                    <div class="bsAnlageschalterH02">
                        <div data-bind="click: function () { openDialog('anlageschalter1Stufig', 'Station_34_VK101_2_Bau900', 'as', 'Anlageschalter H02', 'H02'); },
                         wfStateCssClass: {
                         cssClassNormalState: 'btn wf-lg wf-power-on bsButtonOff',
                         cssClassState1: 'btn wf-lg wf-power-on bsButtonBetrWahlAuto', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H02_status_as% == 1',
                         cssClassState2: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule2: '%Station_34_VK101_2_Bau900.Register_H02_status_as% == 2',
                         cssClassState3: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule3: '%Station_34_VK101_2_Bau900.Register_H02_status_as% == 3',
                         }"></div>
                        <div class="bs-HandAnlage bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H02_bw_as% != 1' }"></div>
                    </div>
                    <div class="bsAnlageschalterH03">
                        <div data-bind="click: function () { openDialog('anlageschalter1Stufig', 'Station_34_VK101_2_Bau900', 'as', 'Anlageschalter H03', 'H03'); },
                         wfStateCssClass: {
                         cssClassNormalState: 'btn wf-lg wf-power-on bsButtonOff',
                         cssClassState1: 'btn wf-lg wf-power-on bsButtonBetrWahlAuto', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H03_status_as% == 1',
                         cssClassState2: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule2: '%Station_34_VK101_2_Bau900.Register_H03_status_as% == 2',
                         cssClassState3: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule3: '%Station_34_VK101_2_Bau900.Register_H03_status_as% == 3',
                         }"></div>
                        <div class="bs-HandAnlage bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_34_VK101_2_Bau900.Register_H03_bw_as% != 1' }"></div>
                    </div>
                    <div class="bsEnergiezaehler btn wf wf-data-reload wf-2x" data-bind="click: function () { openDialog('energieZaehler', 'Station_34_VK101_2_Bau900', 'ez', 'Wärmezähler Neovac', 'H01'); }"></div>
                    <div class="bsSchaltuhrH02">
                        <div class="btn btn-primary wf-lg wf-clock bsSchaltuhr" data-bind="click: function () { openDialog('schaltuhr1x7', 'Station_34_VK101_2_Bau900', 'HG', 'H02 Gruppe Heizung Bau 900', 'H02'); }"></div>
                    </div>
                    <div class="bs-HK01">
                        <div class="btn btn-primary wf-lg wf-chart-line" data-bind="click: function () { openDialog('heizkurve4PtDialog', 'Station_34_VK101_2_Bau900', 'xx', 'H01 4 Pt. Heizkurve', 'H01'); }"></div>
                    </div>
                    <div class="bs-HK02">
                        <div class="btn btn-primary wf-lg wf-chart-line" data-bind="click: function () { openDialog('heizkurve4PtDialog', 'Station_34_VK101_2_Bau900', 'xx', 'H02 4 Pt. Heizkurve', 'H02'); }"></div>
                    </div>
                    <div class="bs-HK03">
                        <div class="btn btn-primary wf-lg wf-chart-line" data-bind="click: function () { openDialog('heizkurve4PtDialog', 'Station_34_VK101_2_Bau900', 'xx', 'H03 4 Pt. Heizkurve', 'H03'); }"></div>
                    </div>
                    <div class="bsSollwerte">
                        <div class="btn btn-primary wf-lg wf-chart-line" data-bind="click: function () {
                             openSollwert_4(
                             'Station_34_VK101_2_Bau900.Register_H01_sw_ein_AT',
                             'Station_34_VK101_2_Bau900.Register_H01_sw_aus_AT',
                             'Station_34_VK101_2_Bau900.Register_H02_sw_Heizgrenze_normal',
                             'Station_34_VK101_2_Bau900.Register_H02_sw_Heizgrenze_reduziert',

                             'H01 AT Anforderung Ein',
                             'H01 AT Anforderung Aus',
                             'H02 Heizgrenze Normalbetrieb',
                             'H02 Heizgrenze Reduzierter Betrieb',

                             'Sollwerte'
                             ); }">

                        </div>
                    </div>
                    <!-- /Buttons -->
                    <!-- Beschriftungen -->
                    <div class="txtH03">H03 Gruppe Bau 610 +<br />Bau 634 EG</div>
                    <div class="txtH02">H02 Gruppe Heizung<br />Bau 900</div>
                    <div class="txtH01">H01 Gruppe Lüftung<br />Bau 900</div>

                    <div class="txtVk101">H01: Anforderung von VK101</div>
                    <div class="txtVk105">H01: Anforderung von VK105</div>
                    <div class="txtVk109">H01: Anforderung von VK109</div>

                    <div class="txtTitelAnforderungenG3">H03: Anforderung von Bau 610</div>
                    <div class="txtLE11">LHA 1 Stufe 1</div>
                    <div class="txtLE12">LHA 1 Stufe 2</div>
                    <div class="txtLE21">LHA 2 Stufe 1</div>
                    <div class="txtLE22">LHA 2 Stufe 2</div>
                    <div class="txtLE31">LHA 3 Stufe 1</div>
                    <div class="txtLE32">LHA 3 Stufe 2</div>
                    <div class="txtLE41">LHA 4 Stufe 1</div>
                    <div class="txtLE42">LHA 4 Stufe 2</div>
                    <div class="txtLE51">LHA 5 Stufe 1</div>
                    <div class="txtLE52">LHA 5 Stufe 2</div>
                    <div class="txtAnfH01">Anforderung nach AT</div>
                    <div class="txtDrLuft">Austritt Druckluftkompressor</div>
                    <!-- /Beschriftungen -->
                    <!-- Werte Labels -->
                    <div class="bsEnergiezaehlerLabel col-lg-1" data-bind="wfValue: { signalName: 'Station_34_VK101_2_Bau900.Register_H01_ez_Leistung', unitLabel: true }"></div>

                    <div class="bsRbSwH01 col-lg-1" data-bind="wfValue: { signalName: 'Station_34_VK101_2_Bau900.Register_H01_Y11452_sw', unitLabel: true }"></div>
                    <div class="bsRbSwH02 col-lg-1" data-bind="wfValue: { signalName: 'Station_34_VK101_2_Bau900.Register_H02_Y11456_sw', unitLabel: true }"></div>
                    <div class="bsRbSwH03 col-lg-1" data-bind="wfValue: { signalName: 'Station_34_VK101_2_Bau900.Register_H03_Y11462_sw', unitLabel: true }"></div>
                    <!-- /Werte Labels -->
                    <!-- Anforderungen -->
                    <div class="bsAnfVk101_1" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_Allg_Anf_VK101_1' }"></div>
                    <div class="bsAnfVk105_1" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_Allg_Anf_VK105_1' }"></div>
                    <div class="bsAnfVk109_1" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_Allg_Anf_VK109_1' }"></div>
                    <div class="bsAnfLE1_1" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_1_1' }"></div>
                    <div class="bsAnfLE1_2" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_1_2' }"></div>
                    <div class="bsAnfLE2_1" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_2_1' }"></div>
                    <div class="bsAnfLE2_2" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_2_2' }"></div>
                    <div class="bsAnfLE3_1" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_3_1' }"></div>
                    <div class="bsAnfLE3_2" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_3_2' }"></div>
                    <div class="bsAnfLE4_1" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_4_1' }"></div>
                    <div class="bsAnfLE4_2" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_4_2' }"></div>
                    <div class="bsAnfLE5_1" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_5_1' }"></div>
                    <div class="bsAnfLE5_2" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_H03_LE_5_2' }"></div>
                    <div class="bsAnfH01" data-bind="bsIndicator: { signalName: 'Station_34_VK101_2_Bau900.Flag_H01_Anf_AT' }"></div>
                    <!-- /Anforderungen -->
                </div>
            </div>
        </div>
    </div>
</div>
