﻿<div class="container">
    <header>
        <h1 class="page-header">Lüftungsanlage OG</h1>
    </header>
    <div class="row">
        <div class="col-sm-12">
            <div class="bs-lta-handling hidden-xs">
                <div class="bs-air-valves stretch">
                    <!-- #region Hands -->
                    <div class="bs-HandVenti8052 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_bw_M8052% != 1' }"></div>
                    <div class="bs-HandVenti8072 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_bw_M8072% != 1' }"></div>
                    <div class="bs-HandVenti8092 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_bw_M8092% != 1' }"></div>
                    <div class="bs-HandVenti8112 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_bw_M8112% != 1' }"></div>
                    <div class="bs-HandVenti8083 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_bw_M8083% != 1' }"></div>
                    <div class="bs-HandVenti8103 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_bw_M8103% != 1' }"></div>
                    <div class="bs-HandVenti8123 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_bw_M8123% != 1' }"></div>
                    <!-- #endregion -->
                    <!-- #region Motors -->
                    <div title="M8052" class="bs-ventiM8052 wf-symbol-2x bsrotate90 clickable" data-bind="click: function () {openDialog('motor', 'Station_36_VK108_1_Bau900', 'M8052', 'Ventilator M8052', 'L01'); }, wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump-general', cssClassState1: 'wf-pid wf-pump-general bsHandbedienung', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_status_M8052% == 1', cssClassState2: 'wf-pid wf-pump-general bsStufe1', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_status_M8052% == 2', cssClassState3: 'wf-pid wf-pump-general bsStufe2', conditionRule3: '%Station_36_VK108_1_Bau900.Register_L01_status_M8052% == 3', cssClassState4: 'wf-pid wf-pump-general bsStoerung', conditionRule4: '%Station_36_VK108_1_Bau900.Register_L01_status_M8052% == 4', cssClassState5: 'wf-pid wf-pump-general bsRevision', conditionRule5: '%Station_36_VK108_1_Bau900.Register_L01_status_M8052% = 5' }"></div>
                    <div title="M8072" class="bs-ventiM8072 wf-symbol-2x bsrotate90 clickable" data-bind="click: function () {openDialog('motor', 'Station_36_VK108_1_Bau900', 'M8072', 'Ventilator M8072', 'L01'); }, wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump-general', cssClassState1: 'wf-pid wf-pump-general bsHandbedienung', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_status_M8072% == 1', cssClassState2: 'wf-pid wf-pump-general bsStufe1', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_status_M8072% == 2', cssClassState3: 'wf-pid wf-pump-general bsStufe2', conditionRule3: '%Station_36_VK108_1_Bau900.Register_L01_status_M8072% == 3', cssClassState4: 'wf-pid wf-pump-general bsStoerung', conditionRule4: '%Station_36_VK108_1_Bau900.Register_L01_status_M8072% == 4', cssClassState5: 'wf-pid wf-pump-general bsRevision', conditionRule5: '%Station_36_VK108_1_Bau900.Register_L01_status_M8072% = 5' }"></div>
                    <div title="M8092" class="bs-ventiM8092 wf-symbol-2x bsrotate90 clickable" data-bind="click: function () {openDialog('motor', 'Station_36_VK108_1_Bau900', 'M8092', 'Ventilator M8092', 'L01'); }, wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump-general', cssClassState1: 'wf-pid wf-pump-general bsHandbedienung', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_status_M8092% == 1', cssClassState2: 'wf-pid wf-pump-general bsStufe1', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_status_M8092% == 2', cssClassState3: 'wf-pid wf-pump-general bsStufe2', conditionRule3: '%Station_36_VK108_1_Bau900.Register_L01_status_M8092% == 3', cssClassState4: 'wf-pid wf-pump-general bsStoerung', conditionRule4: '%Station_36_VK108_1_Bau900.Register_L01_status_M8092% == 4', cssClassState5: 'wf-pid wf-pump-general bsRevision', conditionRule5: '%Station_36_VK108_1_Bau900.Register_L01_status_M8092% = 5' }"></div>
                    <div title="M8112" class="bs-ventiM8112 wf-symbol-2x bsrotate90 clickable" data-bind="click: function () {openDialog('motor', 'Station_36_VK108_1_Bau900', 'M8112', 'Ventilator M8112', 'L01'); }, wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump-general', cssClassState1: 'wf-pid wf-pump-general bsHandbedienung', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_status_M8112% == 1', cssClassState2: 'wf-pid wf-pump-general bsStufe1', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_status_M8112% == 2', cssClassState3: 'wf-pid wf-pump-general bsStufe2', conditionRule3: '%Station_36_VK108_1_Bau900.Register_L01_status_M8112% == 3', cssClassState4: 'wf-pid wf-pump-general bsStoerung', conditionRule4: '%Station_36_VK108_1_Bau900.Register_L01_status_M8112% == 4', cssClassState5: 'wf-pid wf-pump-general bsRevision', conditionRule5: '%Station_36_VK108_1_Bau900.Register_L01_status_M8112% = 5' }"></div>
                    <div title="M8083" class="bs-ventiM8083 wf-symbol-2x clickable" data-bind="click: function () {openDialog('ventilator2Stufig', 'Station_36_VK108_1_Bau900', 'M8083', 'Ventilator M8083', 'L01'); }, wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump-general', cssClassState1: 'wf-pid wf-pump-general bsHandbedienung', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_status_M8083% == 1', cssClassState2: 'wf-pid wf-pump-general bsStufe1', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_status_M8083% == 2', cssClassState3: 'wf-pid wf-pump-general bsStufe2', conditionRule3: '%Station_36_VK108_1_Bau900.Register_L01_status_M8083% == 3', cssClassState4: 'wf-pid wf-pump-general bsStoerung', conditionRule4: '%Station_36_VK108_1_Bau900.Register_L01_status_M8083%  == 4', cssClassState5: 'wf-pid wf-pump-general bsRevision', conditionRule5: '%Station_36_VK108_1_Bau900.Regisr_L01_status_M8083% == 5' }"></div>
                    <div title="M8103" class="bs-ventiM8103 wf-symbol-2x clickable" data-bind="click: function () {openDialog('ventilator2Stufig', 'Station_36_VK108_1_Bau900', 'M8103', 'Ventilator M8103', 'L01'); }, wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump-general', cssClassState1: 'wf-pid wf-pump-general bsHandbedienung', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_status_M8103% == 1', cssClassState2: 'wf-pid wf-pump-general bsStufe1', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_status_M8103% == 2', cssClassState3: 'wf-pid wf-pump-general bsStufe2', conditionRule3: '%Station_36_VK108_1_Bau900.Register_L01_status_M8103% == 3', cssClassState4: 'wf-pid wf-pump-general bsStoerung', conditionRule4: '%Station_36_VK108_1_Bau900.Register_L01_status_M8103%  == 4', cssClassState5: 'wf-pid wf-pump-general bsRevision', conditionRule5: '%Station_36_VK108_1_Bau900.Regisr_L01_status_M8103% == 5' }"></div>
                    <div title="M8123" class="bs-ventiM8123 wf-symbol-2x clickable" data-bind="click: function () {openDialog('ventilator2Stufig', 'Station_36_VK108_1_Bau900', 'M8123', 'Ventilator M8123', 'L01'); }, wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump-general', cssClassState1: 'wf-pid wf-pump-general bsHandbedienung', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_status_M8123% == 1', cssClassState2: 'wf-pid wf-pump-general bsStufe1', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_status_M8123% == 2', cssClassState3: 'wf-pid wf-pump-general bsStufe2', conditionRule3: '%Station_36_VK108_1_Bau900.Register_L01_status_M8123% == 3', cssClassState4: 'wf-pid wf-pump-general bsStoerung', conditionRule4: '%Station_36_VK108_1_Bau900.Register_L01_status_M8123%  == 4', cssClassState5: 'wf-pid wf-pump-general bsRevision', conditionRule5: '%Station_36_VK108_1_Bau900.Regisr_L01_status_M8123% == 5' }"></div>
                    <!-- #endregion -->
                    <!-- #region Statusdisplay -->
                    <!--<div class="bs-StufenVenti8083" data-bind="wfValue: { signalName: 'Station_36_VK108_1_Bau900.Register_L01_status_M8083' }"></div>-->
                    <!--<div class="bs-StufenVenti8083" data-bind="wfValue: { signalName: value8083, text: status8083 }"></div>-->
                    <div class="bs-StufenVenti8083" data-bind="text: status8083"></div>
                    <div class="bs-StufenVenti8103" data-bind="text: status8103"></div>
                    <div class="bs-StufenVenti8123" data-bind="text: status8123"></div>
                    <!-- #endregion -->
                    <!-- #region filters -->
                    <div class="bs-filter52 wf-symbol-2x wf-pid wf-filter-2 bsrotate180"></div>
                    <div class="bs-filter53 wf-symbol-2x wf-pid wf-filter-2 bsrotate180"></div>
                    <div class="bs-filter54 wf-symbol-2x wf-pid wf-filter-2 bsrotate180"></div>
                    <!-- #endregion -->
                    <!-- #region flaps -->
                    <div class="bs-flap8302 wf-symbol-bordered bsrotate90" title="Y8302">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8302_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8302_status% == 3' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8302_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8302_status% == 3' }"></div>
                    </div>
                    <div class="bs-flap8321 wf-symbol-bordered bsrotate90" title="Y8321">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8321_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8321_status% == 3' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8321_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8321_status% == 3' }"></div>
                    </div>
                    <div class="bs-flap8322 wf-symbol-bordered bsrotate90" title="Y8322">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8322_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8322_status% == 3' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8322_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8322_status% == 3' }"></div>
                    </div>
                    <div class="bs-flap8332 wf-symbol-bordered bsrotate90" title="Y8332">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8332_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8332_status% == 3' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8332_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8332_status% == 3' }"></div>
                    </div>

                    <div class="bs-flap8315 wf-symbol-bordered" title="Y8315">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8315_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8315_status% == 3' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8315_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8315_status% == 3' }"></div>
                    </div>
                    <div class="bs-flap8325 wf-symbol-bordered" title="Y8325">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8325_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8325_status% == 3' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8325_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8325_status% == 3' }"></div>
                    </div>
                    <div class="bs-flap8335 wf-symbol-bordered" title="Y8335"> 
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8335_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8335_status% == 3' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s bsGelb', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_Y8335_status% == 1', cssClassState2: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_Y8335_status% == 3' }"></div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region arrows -->
                    <div class="bs-arrowABL1 wf-symbol-1x fa-rotate-270" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow yellow fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowABL2 wf-symbol-1x fa-rotate-270" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow yellow fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowABL3 wf-symbol-1x fa-rotate-270" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow yellow fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowABL4 wf-symbol-1x fa-rotate-270" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow yellow fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowABL5 wf-symbol-1x fa-rotate-270" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow yellow fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowABL6 wf-symbol-1x fa-rotate-270" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow yellow fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowABL7 wf-symbol-1x fa-rotate-270" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow yellow fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowABL8 wf-symbol-1x fa-rotate-270" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow yellow fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>

                    <div class="bs-arrowZUL1 wf-symbol-1x fa-rotate-180" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow red fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowZUL2 wf-symbol-1x fa-rotate-180" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow red fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowZUL3 wf-symbol-1x fa-rotate-180" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow red fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowZUL4 wf-symbol-1x fa-rotate-180" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow red fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowZUL5 wf-symbol-1x fa-rotate-180" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow red fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrowZUL6 wf-symbol-1x fa-rotate-180" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow red fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <!-- #endregion -->
                    <!-- #region sensors -->
                    <div title="8601" class="bs-sensor8601" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '0', sensorText: 'T', signalName: 'Station_36_VK108_1_Bau900.Register_L01_B8601_temp', staticUnitText: '°C' }"></div>
                    <div title="8603" class="bs-sensor8603" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '0', sensorText: 'T', signalName: 'Station_36_VK108_1_Bau900.Register_L01_B8603_temp', staticUnitText: '°C' }"></div>
                    <div title="8604" class="bs-sensor8604" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '0', sensorText: 'T', signalName: 'Station_36_VK108_1_Bau900.Register_L01_B8604_temp', staticUnitText: '°C' }"></div>
                    <div title="8606" class="bs-sensor8606" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '0', sensorText: 'T', signalName: 'Station_36_VK108_1_Bau900.Register_L01_B8606_temp', staticUnitText: '°C' }"></div>

                    <div title="8552" class="bs-sensor52" data-bind="wfStateCssClass: { cssClassNormalState: 'bs-sensor-label', cssClassState1: 'bs-sensor-label-rot', conditionRule1: '%Station_36_VK108_1_Bau900.Flag_L01_al_B8552% == 0' }"></div>
                    <div class="bs-sensor52-text">P</div>
                    <div title="8553" class="bs-sensor53" data-bind="wfStateCssClass: { cssClassNormalState: 'bs-sensor-label', cssClassState1: 'bs-sensor-label-rot', conditionRule1: '%Station_36_VK108_1_Bau900.Flag_L01_al_B8553% == 0' }"></div>
                    <div class="bs-sensor53-text">P</div>
                    <div title="8554" class="bs-sensor54" data-bind="wfStateCssClass: { cssClassNormalState: 'bs-sensor-label', cssClassState1: 'bs-sensor-label-rot', conditionRule1: '%Station_36_VK108_1_Bau900.Flag_L01_al_B8554% == 0' }"></div>
                    <div class="bs-sensor54-text">P</div>

                    <!-- #endregion -->
                    <!-- #region Buttons-->
                    <div class="bsSchaltuhrLueftungOg">
                        <div class="btn btn-primary wf-lg wf-clock" data-bind="click: function () { openDialog('Schaltuhr1x7', 'Station_36_VK108_1_Bau900', 'Tag_Nacht', 'Deckenventilatoren', 'Allg'); }"></div>
                    </div>
                    <div class="bsAnlageschalterLtaOG">
                        <div data-bind="click: function () { openDialog('anlageschalter2Stufig', 'Station_36_VK108_1_Bau900', 'as', 'Anlageschalter', 'L01'); },
                         wfStateCssClass: {
                         cssClassNormalState: 'btn wf-lg wf-power-on bsButtonOff',
                         cssClassState1: 'btn wf-lg wf-power-on bsButtonBetrWahlAuto', conditionRule1: '%Station_36_VK108_1_Bau900.Register_L01_status_as% == 1',
                         cssClassState2: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule2: '%Station_36_VK108_1_Bau900.Register_L01_status_as% == 2',
                         cssClassState3: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule3: '%Station_36_VK108_1_Bau900.Register_L01_status_as% == 3',
                         }"></div>
                        <div class="bs-HandAnlage bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_bw_as% != 1' }"></div>
                    </div>
                    <div class="bsSollwerte">
                        <div class="btn btn-primary wf-lg wf-chart-line" data-bind="click: function () {
                             openSollwert(
                             'Station_36_VK108_1_Bau900.Register_L01_sw_Entf_verz_Ein',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_Entf_verz_Aus',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_ABL_Temp_Aus',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_ABL_Temp_Ein',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_Ofen_verz_Aus',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_Ofen_verz_Ein',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_Boost_verz_Aus',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_Ofen_St2_Ein',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_Ofen_St3_Ein',
                             '',
                             'Einschaltverzögerung',
                             'Ausschaltverzögerung',
                             'Temperaturgrenze Aus',
                             'Temperaturgrenze Ein',
                             'Ausschaltverzögerung',
                             'Einschaltverzögerung',
                             'Boost Laufzeit',
                             'Temperatur Differenz Lüftung Stufe 2',
                             'Temperatur Differenz Lüftung Stufe 3',
                             '',
                             'Sollwerte'
                             ); }">

                        </div>
                    </div>
                    <div class="bsATSchiebung">
                        <div class="btn btn-primary wf-lg wf-chart-line" data-bind="click: function () {
                             openSollwert_4(
                             'Station_36_VK108_1_Bau900.Register_L01_sw_AT1',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_RT1',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_AT2',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_RT2',

                             'Schiebung: AT1',
                             'Schiebung: RT1',
                             'Schiebung: AT2',
                             'Schiebung: RT2',

                             'ZUL Temperatur Schiebung nach AT'
                             ); }">

                        </div>
                    </div>
                    <div class="bsNAK">
                        <div class="btn btn-primary wf-lg wf-chart-line" data-bind="click: function () {
                             openSollwert(
                             'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St1_Ein',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_Nachtausk_verz_Ein',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St1_Aus',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_RT_Ein',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_RT_Aus',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St2_Ein',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St2_Aus',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St3_Ein',
                             'Station_36_VK108_1_Bau900.Register_L01_sw_NAK_AT_RT_St3_Aus',
                             '',
                             'Differenz AT-RT Nachtauskühlung Ein Stufe 1',
                             'Freigabe Nachtauskühlung Verzögerung',
                             'Differenz AT-RT Nachtauskühlung Aus',
                             'Raumtemperatur NAK Ein',
                             'Raumtemperatur NAK Aus',
                             'Differenz AT-RT Nachtauskühlung Ein Stufe 2',
                             'Differenz AT-RT Nachtauskühlung Aus Stufe 2',
                             'Differenz AT-RT Nachtauskühlung Ein Stufe 3',
                             'Differenz AT-RT Nachtauskühlung Aus Stufe 3',
                             '',
                             'Nachtauskühlung'
                             ); }">

                        </div>
                    </div>
                    <!-- #endregion Buttons-->
                </div>
            </div>
        </div>
    </div>
</div>