﻿<div class="container">
    <header>
        <h1 class="page-header">Lüftungsanlage Spedition NW</h1>
    </header>
    <div class="row">
        <div class="col-sm-12">
            <div class="bs-air-handling hidden-xs">
                <div class="bs-air-valves stretch">
                    <!-- #region Hands -->
                    <div class="bs-HandVenti10053 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_bw_M10063% != 1' }"></div>
                    <!--<div class="bs-HandVenti10082 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_bw_M10092% != 1' }"></div>-->
                    <div class="bs-HandVentil10452 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_35_VK105_1_Bau900.Register_A_HVC_L02_Y10456_ManValue% = 1' }"></div>
                    <!-- #endregion -->
                    <!-- #region Motors -->
                    <div title="M10063" class="bs-venti wf-symbol-2x bsrotate180 clickable" data-bind="click: function () {openDialog('ventilator2Stufig', 'Station_35_VK105_1_Bau900', 'M10063', 'Ventilator M10063', 'L02'); }, wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump-general', cssClassState1: 'wf-pid wf-pump-general bsHandbedienung', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_status_M10063% == 1', cssClassState2: 'wf-pid wf-pump-general bsStufe1', conditionRule2: '%Station_35_VK105_1_Bau900.Register_L02_status_M10063% == 2', cssClassState3: 'wf-pid wf-pump-general bsStufe2', conditionRule3: '%Station_35_VK105_1_Bau900.Register_L02_status_M10063% == 3', cssClassState4: 'wf-pid wf-pump-general bsStoerung', conditionRule4: '%Station_35_VK105_1_Bau900.Register_L02_status_M10063% == 4', cssClassState5: 'wf-pid wf-pump-general bsRevision', conditionRule5: '%Station_35_VK105_1_Bau900.Register_L02_status_M10063% == 5' }"></div>
                    <!--<div class="bs-pump1 wf-symbol-1x bsrotate270 clickable" data-bind="click: function () {openDialog('motor', 'Station_35_VK105_1_Bau900', 'M10082', 'Pumpe M10092', 'L02'); }, wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump', cssClassState1: 'wf-pid wf-pump bsHandbedienung', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_status_M10092% == 1', cssClassState2: 'wf-pid wf-pump bsStufe1', conditionRule2: '%Station_35_VK105_1_Bau900.Register_L02_status_M10092% == 2', cssClassState3: 'wf-pid wf-pump bsStufe2', conditionRule3: '%Station_35_VK105_1_Bau900.Register_L02_status_M10092% == 3', cssClassState4: 'wf-pid wf-pump bsStoerung', conditionRule4: '%Station_35_VK105_1_Bau900.Register_L02_status_M10092% == 4', cssClassState5: 'wf-pid wf-pump bsRevision', conditionRule5: '%Station_35_VK105_1_Bau900.Register_L02_status_M10092% == 5' }"></div>-->
                    <!-- #endregion -->
                    <!-- #region Statusdisplay -->
                    <div class="bs-StufenVenti10063" data-bind="text: statusVenti10063"></div>
                    <!-- #endregion -->
                    <!-- #region filters -->
                    <div class="bs-filterG4 wf-symbol-2x wf-pid wf-filter-2"></div>
                    <!-- #endregion -->
                    <!-- #region flaps -->
                    <div title="Y10492" class="bs-flapAUL wf-symbol-bordered">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_Y10492_stell% > 0' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_Y10492_stell% > 0' }"></div>
                    </div>
                    <div title="Y10482" class="bs-flapUML wf-symbol-bordered">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_Y10482_stell% > 0' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_Y10482_stell% > 0' }"></div>
                    </div>
                    <div title="Y10486" class="bs-flapZUL wf-symbol-bordered">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_Y10486_stell% > 0' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_Y10486_stell% > 0' }"></div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region arrows -->
                    <div class="bs-arrow1 wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow green fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_status_as% != 0' }"></div>
                    <div class="bs-arrow2 wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow yellow fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_status_as% != 0' }"></div>
                    <div class="bs-arrow3 wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow red fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_status_as% != 0' }"></div>
                    <!-- #endregion -->
                    <!-- #region sensors -->
                    <div title="B604" class="bs-sensor10601" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '0', sensorText: 'T', signalName: 'Station_35_VK105_1_Bau900.Register_L02_B10604_temp', staticUnitText: '°C' }"></div>
                    <div title="B605" class="bs-sensor10603" data-bind="wfSensorValue: { pointerLength: '0', pointerRotation: '0', sensorText: 'T', signalName: 'Station_35_VK105_1_Bau900.Register_L02_B10605_temp', staticUnitText: '°C' }"></div>
                    <div title="B10532" class="bs-sensor2" data-bind="wfStateCssClass: { cssClassNormalState: 'bs-sensor-label', cssClassState1: 'bs-sensor-label-rot', conditionRule1: '%Station_35_VK105_1_Bau900.Flag_L02_al_B10532% != 0' }">P</div>
                    <div title="B10406" class="bs-sensor3" data-bind="wfStateCssClass: { cssClassNormalState: 'bs-sensor-label-square bs-sensor-pointer label', cssClassState1: 'bs-sensor-label-square-error bs-sensor-pointer label', conditionRule1: '%Station_35_VK105_1_Bau900.Flag_L02_al_B10406% != 0' }"></div>
                    <div class="bs-sensor2-text">P</div>
                    <div class="bs-sensor3-text">F</div>
                    <!-- #endregion -->
                    <!-- #region symbols -->
                    <div class="bs-airheater1 wf-hvac wf-air-heater-water wf-symbol-2x"></div>
                    <!-- #endregion -->
                    <!-- #region valve -->
                    <div title="Y10456" class="bsValve1 bs-symbol-30 clickable" data-bind="click: function () { openDialog('ventil', 'Station_35_VK105_1_Bau900', 'Y10456', 'Ventil Y10456', 'L02'); }, bsValve: { signalName: 'Station_35_VK105_1_Bau900.Register_L02_Y10456_stell', staticUnitText: '%', cssClassNormalState: 'wf-pid wf-2-way-valve-2', cssClassState1: 'wf-pid wf-2-way-valve-2 running', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_Y10456_stell% > 0'}"></div>
                    <!-- #endregion -->
                    <!-- #region Buttons-->
                    <div  class="bsAnlageschalter">
                        <div data-bind="click: function () { openDialog('anlageschalter2Stufig', 'Station_35_VK105_1_Bau900', 'as', 'Anlageschalter', 'L02'); },
                         wfStateCssClass: {
                         cssClassNormalState: 'btn wf-lg wf-power-on bsButtonOff',
                         cssClassState1: 'btn wf-lg wf-power-on bsButtonBetrWahlAuto', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_status_as% == 1',
                         cssClassState2: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule2: '%Station_35_VK105_1_Bau900.Register_L02_status_as% == 2',
                         cssClassState3: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule3: '%Station_35_VK105_1_Bau900.Register_L02_status_as% == 3',
                         }"></div>
                        <div class="bs-HandAnlage bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L02_bw_as% != 1' }"></div>
                    </div>
                    <div class="bsHeizkurveL02">
                        <div class="btn btn-primary wf-lg wf-chart-line" data-bind="click: function () { openDialog('heizkurveDialog', 'Station_35_VK105_1_Bau900', 'xx', 'L02 Heizkurve', 'L02'); }"></div>
                    </div>
                    <div class="bsSchaltuhrLueftung">
                        <div class="btn btn-primary wf-lg wf-clock" data-bind="click: function () { openDialog('Schaltuhr1x7', 'Station_35_VK105_1_Bau900', 'Tag_Nacht', 'L01 / L02 Lüftung Spedition', 'Allg'); }"></div>
                    </div>
                    <!-- #endregion Buttons-->
                </div>
            </div>
        </div>
    </div>
</div>