﻿<div class="container">
    <header>
        <h1 class="page-header">Bau 900: Lüftungsanlage Spedition SW</h1>
    </header>
    <div class="row">
        <div class="col-sm-12">
            <div class="bs-air-handling hidden-xs">
                <div class="bs-air-valves stretch">
                    <!-- Hands -->
                    <div class="bs-HandVenti10053 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_bw_M10053% != 1' }"></div>
                    <!--<div class="bs-HandVenti10082 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_bw_M10082% != 1' }"></div>-->
                    <div class="bs-HandVentil10452 bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_35_VK105_1_Bau900.Register_A_HVC_L01_Y10452_ManValue% = 1' }"></div>
                    <!-- /Hands -->
                    <!-- #region Motors -->
                    <div title="M10053" class="bs-venti wf-symbol-2x bsrotate180 clickable" data-bind="click: function () {openDialog('ventilator2Stufig', 'Station_35_VK105_1_Bau900', 'M10053', 'Ventilator M10053', 'L01'); }, wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump-general', cssClassState1: 'wf-pid wf-pump-general bsHandbedienung', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_M10053% == 1', cssClassState2: 'wf-pid wf-pump-general bsStufe1', conditionRule2: '%Station_35_VK105_1_Bau900.Register_L01_status_M10053% == 2', cssClassState3: 'wf-pid wf-pump-general bsStufe2', conditionRule3: '%Station_35_VK105_1_Bau900.Register_L01_status_M10053% == 3', cssClassState4: 'wf-pid wf-pump-general bsStoerung', conditionRule4: '%Station_35_VK105_1_Bau900.Register_L01_status_M10053% == 4', cssClassState5: 'wf-pid wf-pump-general bsRevision', conditionRule5: '%Station_35_VK105_1_Bau900.Register_L01_status_M10053% == 5' }"></div>
                    <!-- <div class="bs-pump1 wf-symbol-1x bsrotate270 clickable" data-bind="click: function () {openDialog('motor', 'Station_35_VK105_1_Bau900', 'M10082', 'Pumpe M10082', 'L01'); }, wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump', cssClassState1: 'wf-pid wf-pump bsHandbedienung', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_M10082% == 1', cssClassState2: 'wf-pid wf-pump bsStufe1', conditionRule2: '%Station_35_VK105_1_Bau900.Register_L01_status_M10082% == 2', cssClassState3: 'wf-pid wf-pump bsStufe2', conditionRule3: '%Station_35_VK105_1_Bau900.Register_L01_status_M10082% == 3', cssClassState4: 'wf-pid wf-pump bsStoerung', conditionRule4: '%Station_35_VK105_1_Bau900.Register_L01_status_M10082% == 4', cssClassState5: 'wf-pid wf-pump bsRevision', conditionRule5: '%Station_35_VK105_1_Bau900.Register_L01_status_M10082% == 5' }"></div>-->
                    <!-- #endregion -->
                    <!-- #region Statusdisplay -->
                    <div class="bs-StufenVenti10053" data-bind="text: statusVenti10053 "></div>
                    <!-- #endregion -->
                    <!-- #region filters -->
                    <div class="bs-filterG4 wf-symbol-2x wf-pid wf-filter-2"></div>
                    <!-- #endregion -->
                    <!-- #region flaps -->
                    <div title="Y10472" class="bs-flapAUL wf-symbol-bordered">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_Y10472_stell% > 0' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_Y10472_stell% > 0' }"></div>
                    </div>
                    <div title="Y10462" class="bs-flapUML wf-symbol-bordered">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_Y10462_stell% > 0' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_Y10462_stell% > 0' }"></div>
                    </div>
                    <div title="Y10466" class="bs-flapZUL wf-symbol-bordered">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_Y10466_stell% > 0' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4', cssClassState1: 'wf-pid wf-flap-4 wf-s running-foreground', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_Y10466_stell% > 0' }"></div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region arrows -->
                    <div class="bs-arrow1 wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow green fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrow2 wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow yellow fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <div class="bs-arrow3 wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow red fadeInTranslateFadeOut', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% != 0' }"></div>
                    <!-- #endregion -->
                    <!-- #region sensors -->
                    <div title="B10601" class="bs-sensor10601" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '0', sensorText: 'T', signalName: 'Station_35_VK105_1_Bau900.Register_L01_B10601_temp', staticUnitText: '°C' }"></div>
                    <div title="B10603" class="bs-sensor10603" data-bind="wfSensorValue: { pointerLength: '0', pointerRotation: '0', sensorText: 'T', signalName: 'Station_35_VK105_1_Bau900.Register_L01_B10603_temp', staticUnitText: '°C' }"></div>
                    <div title="B10531" class="bs-sensor2" data-bind="wfStateCssClass: { cssClassNormalState: 'bs-sensor-label', cssClassState1: 'bs-sensor-label-rot', conditionRule1: '%Station_35_VK105_1_Bau900.Flag_L01_al_B10531% != 0' }">P</div>
                    <div title="B10402" class="bs-sensor3" data-bind="wfStateCssClass: { cssClassNormalState: 'bs-sensor-label-square bs-sensor-pointer label', cssClassState1: 'bs-sensor-label-square-error bs-sensor-pointer label', conditionRule1: '%Station_35_VK105_1_Bau900.Flag_L01_al_B10402% != 0' }"></div>
                    <div class="bs-sensor2-text">P</div>
                    <div class="bs-sensor3-text">F</div>
                    <!-- #endregion -->
                    <!-- #region symbols -->
                    <div class="bs-airheater1 wf-hvac wf-air-heater-water wf-symbol-2x"></div>
                    <!-- #endregion -->
                    <!-- #region valve -->
                    <div title="Y10452" class="bsValve1 bs-symbol-30 clickable" data-bind="click: function () { openDialog('ventil', 'Station_35_VK105_1_Bau900', 'Y10452', 'Ventil Y10452', 'L01'); }, bsValve: { signalName: 'Station_35_VK105_1_Bau900.Register_L01_Y10452_stell', staticUnitText: '%', cssClassNormalState: 'wf-pid wf-2-way-valve-2', cssClassState1: 'wf-pid wf-2-way-valve-2 running', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_Y10452_stell% > 0'}"></div>
                    <!-- #endregion -->
                    <!-- #region Buttons-->
                    <div class="bsAnlageschalter">
                        <div data-bind="click: function () { openDialog('anlageschalter2Stufig', 'Station_35_VK105_1_Bau900', 'as', 'Anlageschalter', 'L01'); },
                         wfStateCssClass: {
                         cssClassNormalState: 'btn wf-lg wf-power-on bsButtonOff',
                         cssClassState1: 'btn wf-lg wf-power-on bsButtonBetrWahlAuto', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_status_as% == 1',
                         cssClassState2: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule2: '%Station_35_VK105_1_Bau900.Register_L01_status_as% == 2',
                         cssClassState3: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule3: '%Station_35_VK105_1_Bau900.Register_L01_status_as% == 3',
                         }">
                        </div>
                        <div class="bs-HandAnlage bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_35_VK105_1_Bau900.Register_L01_bw_as% != 1' }"></div>
                    </div>
                    <div class="bsHeizkurveL01">
                        <div class="btn btn-primary wf-lg wf-chart-line" data-bind="click: function () { openDialog('heizkurveDialog', 'Station_35_VK105_1_Bau900', 'xx', 'L01 Heizkurve', 'L01'); }"></div>
                    </div>
                    <div class="bsSchaltuhrLueftung">
                        <div class="btn btn-primary wf-lg wf-clock" data-bind="click: function () { openDialog('Schaltuhr1x7', 'Station_35_VK105_1_Bau900', 'Tag_Nacht', 'L01 / L02 Lüftung Spedition', 'Allg'); }"></div>
                    </div>
                    <div class="bsAussenlichtL01">
                        <div data-bind="click: function () { openDialog('anlageschalter1Stufig', 'Station_35_VK105_1_Bau900', 'as', 'Aussenbeleuchtung', 'Bel01'); },
                         wfStateCssClass: {
                         cssClassNormalState: 'btn wf-lg wf-power-on bsButtonOff',
                         cssClassState1: 'btn wf-lg wf-power-on bsButtonBetrWahlAuto', conditionRule1: '%Station_35_VK105_1_Bau900.Register_Bel01_status_as% == 1',
                         cssClassState2: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule2: '%Station_35_VK105_1_Bau900.Register_Bel01_status_as% == 2',
                         cssClassState3: 'btn wf-lg wf-power-on bsButtonBetrWahlHand', conditionRule3: '%Station_35_VK105_1_Bau900.Register_Bel01_status_as% == 3',
                         }">
                        </div>
                        <div class="bs-HandAnlage bs-zoom-2x" data-bind="wfStateCssClass: { cssClassNormalState: '', cssClassState1: 'wf-lg wf-hand bsHand', conditionRule1: '%Station_35_VK105_1_Bau900.Register_Bel01_bw_as% != 1' }"></div>
                    </div>
                    <!-- #endregion Buttons-->
                    <!-- Beschriftung -->
                    <div class="txtAussenbeleuchtung">Aussenbeleuchtung</div>
                    <!-- /Beschriftung -->
                </div>
            </div>
        </div>
    </div>
</div>
