﻿<div data-bind="if: hasAuthorization() && isVisible()">
    <div class="wf-watchdog" data-bind="css: statusCssClass, attr : {title: tooltipText}">
        <div data-part="content"></div>
    </div>
</div>