﻿<div class="wf-indicator-wrapper" data-bind="if: hasAuthorization() && isVisible()">
    <div class="indicator" data-bind="css: states.currentState, attr : {title: tooltipText}">
        <div class="indicator-background"></div>
        <div class="wf-indicator-content" data-part="content"></div>
        <div data-part="iconContainer" class="indicator-icon">
            <!-- ko if: iconClass -->
            <i class="iconSymbol" data-bind="css: iconClass"></i>
            <!-- /ko -->
        </div>
        <span data-part="labelContainer" class="indicator-label" data-bind="visible: label">
            {{connector.translate(label)()}}
        </span>
    </div>
</div>