﻿<div class="jalousie-control-popover-view">
    <h5>Jalousiesteuerung</h5>
    <div class="blinds-popover-content">
        <div class="row">
            <div class="col-xs-4">
                <div data-bind="wfWriteValueButton: { signalName: signalName, writeValue: jalousieUpValue, writeUpValue: 0, isTipModeEnabled: true, writeUpDelay: 1000, cssClass: 'btn-default btn-large btn-block green', iconClass: 'fa fa-chevron-up' }"></div>
            </div>
            <div class="col-xs-4">
                <div data-bind="wfWriteValueButton: { signalName: signalName, writeValue: jalousieStopValue, writeUpValue: 0, isTipModeEnabled: true, writeUpDelay: 200, cssClass: 'btn-default btn-large btn-block green', iconClass: 'fa fa-stop' }"></div>
            </div>
            <div class="col-xs-4">
                <div data-bind="wfWriteValueButton: { signalName: signalName, writeValue: jalousieDownValue, writeUpValue: 0, isTipModeEnabled: true, writeUpDelay: 1000, cssClass: 'btn-default btn-large btn-block green', iconClass: 'fa fa-chevron-down' }"></div>
            </div>
        </div>
    </div>
</div>