﻿<div class="machine-popover-content">
    <div class="row">
        <div class="col-xs-12">
            <h5>ID: <span data-bind="text: productionId"></span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="barGraph" data-bind="wfValueBarGraph: { signalName: 'Local Second', unitLabel: true, signalUnit: 'Stk', titleText: 'Stückzahl IST', minRange: 0, maxRange: 200, cssClass: 'progress-bar-danger', progressBarSize: 'progress-sm' }"></div>
            <div class="barGraph" data-bind="wfValueBarGraph: { signalName: 'Local Hour', unitLabel: true, signalUnit: 'Sek', titleText: 'Taktzeit', minRange: 0, maxRange: 20, cssClass: 'progress-bar-warning', progressBarSize: 'progress-sm' }"></div>
        </div>
    </div>
    <div class="row last">
        <div class="col-xs-12">
            <h5>ENERGIEBEDARF PRO TEIL</h5>
            <div class="barGraph" data-bind="wfValueBarGraph: { signalName: 'Servo 1', unitLabel: true, signalUnit: 'Wh', titleText: 'Elektrisch', minRange: 0, maxRange: 70, cssClass: 'progress-bar-info', progressBarSize: 'progress-sm' }"></div>
            <div class="barGraph" data-bind="wfValueBarGraph: { signalName: 'Sensor 2', unitLabel: true, signalUnit: 'L', titleText: 'Druckluft', minRange: 0, maxRange: 60, cssClass: 'progress-bar-info', progressBarSize: 'progress-sm' }"></div>
        </div>
    </div>
</div>