﻿ <div class="legend-popover-content">
    <p><i class="fa fa-th-large green"></i>&nbsp;AUTOMATIK</p>
    <p><i class="fa fa-th-large red"></i>&nbsp;STÖRUNG</p>
    <p><i class="fa fa-th-large orange"></i>&nbsp;HANDSTEUERUNG</p>
    <p><i class="fa fa-th-large blue"></i>&nbsp;WARTUNG</p>
</div>