﻿<div class="temp-popover-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="barGraph" data-bind="wfValueBarGraph: { signalName: signalNameBarGraph1, signalUnit: '°C', titleText: 'IST', minRange: 15, maxRange: 60, cssClass: 'progress-bar-danger', progressBarSize: 'progress-sm' }"></div>
            <div class="barGraph" data-bind="wfValueBarGraph: { signalName: signalNameBarGraph2, signalUnit: '°C', titleText: 'SOLL', minRange: 15, maxRange: 40, cssClass: 'progress-bar-danger', progressBarSize: 'progress-sm' }"></div>
            <br />
        </div>
        <div class="col-xs-12">
            <button class="btn btn-warning btn-large btn-block" type="button" data-toggle="collapse" data-target="#setpoint-temp2">
                <i class="fa fa-cog"></i><span>&nbsp;Wunschtemperatur</span>
            </button>
        </div>
        <div id="setpoint-temp2" class="collapse col-xs-12">
            <br />
            <div data-bind="wfInputValue: { signalName: signalNameBarGraph2, iconClass: 'wf wf-thermometer' }"></div>
        </div>
    </div>
</div>