﻿<div class="container-fluid">
    <header>
        <h1 class="page-header">WEBfactory 2010 - HTML5 - Online Values</h1>
    </header>

    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h3 class="panel-title">Status Indicator</h3>
                </div>
                <div class="panel-body">
                    <div class="inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 1,  operator1: '<=' }"></div>
                    <div class="inline-block" data-bind="wfStateIndicator: { stateSignalName2: 'Setpoint 1', maskSignal2: 1,  operator1: '<=' }"></div>
                    <div class="inline-block" data-bind="wfStateIndicator: { stateSignalName3: 'Setpoint 1', maskSignal3: 1,  operator1: '<=' }"></div>
                    <div class="inline-block" data-bind="wfStateIndicator: { stateSignalName4: 'Setpoint 1', maskSignal4: 1,  operator1: '<=' }"></div>
                    <div class="inline-block" data-bind="wfStateIndicator: { stateSignalName5: 'Setpoint 1', maskSignal5: 1,  operator1: '<=' }"></div>
                    <div class="inline-block" data-bind="wfStateIndicator: { stateSignalName6: 'Setpoint 1', maskSignal6: 1,  operator1: '<=' }"></div>
                    <div class="inline-block" data-bind="wfStateIndicator: { stateSignalName7: 'Setpoint 1', maskSignal7: 1,  operator1: '<=' }"></div>
                    <div class="inline-block" data-bind="wfStateIndicator: { stateSignalName8: 'Setpoint 1', maskSignal8: 1,  operator1: '<=' }"></div>
                    <div class="inline-block" data-bind="wfStateIndicator: { stateSignalName5: 'Setpoint 1', maskSignal5: 0, stateSignalName6: 'Setpoint 1', maskSignal6: 1, stateSignalName7: 'Setpoint 1', maskSignal7: 2, stateSignalName8: 'Setpoint 1', maskSignal8: 3 }">
                        <div data-part="content" class="wf-indicator-content">
                            <span class="lead text-bold" data-bind="wfValue: { signalName: 'Local Second' }"></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Class State Widget</h3>
                </div>
                <div class="panel-body">
                    <span class="wf-4x inline-block" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-electric wf-transformer-2-coil', conditionRule1: '%Setpoint 1% != 0', cssClassState1: 'wf-electric wf-transformer-2-coil running' }"></span>
                    <span class="wf-4x inline-block" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-hvac wf-blower', conditionRule1: '%Setpoint 2% == 1', cssClassState1: 'wf-hvac wf-blower running', conditionRule2: '%Setpoint 2% > 1', cssClassState2: 'wf-hvac wf-blower error' }"></span>
                    <span class="wf-4x inline-block" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-heating-oil-o', conditionRule1: '%Setpoint 3% == 1', cssClassState1: 'wf-lg wf-heating-oil-o', conditionRule2: '%Setpoint 3% > 1', cssClassState2: 'wf-lg wf-heating-oil-o critical' }"></span>
                    <span class="wf-4x inline-block" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pid-3-way-valve-off',
                                                                        conditionRule1: '%Setpoint 1% == 1', cssClassState1: 'wf-pid wf-3-way-valve-a-c warning',
                                                                        conditionRule2: '%Setpoint 1% == 2', cssClassState2: 'wf-pid wf-3-way-valve-a-b running',
                                                                        conditionRule3: '%Setpoint 1% >= 3', cssClassState3: 'wf-pid wf-3-way-valve-c-b running'}"></span>

                    <span class="wf-4x inline-block" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-compressed-air1', cssClassState1: 'wf-lg wf-compressed-air1 critical', conditionRule1: '%Local Second% < 30', cssClassState2: 'wf-lg wf-compressed-air1 maintenance', conditionRule2: '%Local Second% >= 30' }"></span>
                    <span class="wf-4x inline-block" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-filter-2', cssClassState1: 'wf-pid wf-filter-2 running', conditionRule1: '%Local Second% > 10' }"></span>

                </div>
            </div>
        </div>


        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Status Display & Statustext Widget</h3>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-xs-6" data-bind="wfStateDisplay: { stateSignalName1: 'MachineOP', maskSignal1: 0, symbolicTextState1: 'Automatik', stateSignalName2: 'MachineOP', maskSignal2: 1, symbolicTextState2: 'Maschinenstillstand', stateSignalName3: 'MachineOP', maskSignal3: 2, symbolicTextState3: 'Wartung', stateSignalName4: 'MachineOP', maskSignal4: 3, symbolicTextState4: 'Handbetrieb', maskSignal5: 4, symbolicTextState5: 'Störung', symbolicTextNormalState: 'Standby' }"></div>
                        <div cclass="col-xs-6">
                            <p>
                                <strong>Ventilation 1 Status:</strong><br />
                                <span data-bind="wfStateText: { stateSignalName1: 'MachineOP', maskSignal1: 0, symbolicTextState1: 'AUS', stateSignalName2: 'MachineOP', maskSignal2: 1, symbolicTextState2: 'Einschaltbereit', stateSignalName3: 'MachineOP', maskSignal3: 2, symbolicTextState3: 'Normalbetrieb', stateSignalName4: 'MachineOP', maskSignal4: 3, symbolicTextState4: 'Umluftbetrieb', maskSignal5: 4, symbolicTextState5: 'Handbetrieb', symbolicTextNormalState: 'AUS' }"></span>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-lg-3 col-sm-5 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Indicator - additional sizes</h3>
                </div>
                <div class="panel-body">
                    <div class="indicator-lg inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: '-lg' }"></div>
                    <div class="indicator-md inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: 'md' }"></div>
                    <div class="indicator-sm inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: 'sm' }"></div>
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: 'xs' }"></div>
                </div>
            </div>
        </div>


        <div class="col-lg-5 col-sm-7 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Indicator - with icon setting</h3>
                </div>
                <div class="panel-body">

                    <div class="indicator-lg inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', iconClass: 'wf wf-fan' }"></div>
                    <div class="indicator-md inline-block" data-bind="wfStateIndicator: { stateSignalName2: 'Setpoint 1', maskSignal2: 3, operator2: '<=', iconClass: 'wf wf-server' }"></div>
                    <div class="indicator-sm inline-block" data-bind="wfStateIndicator: { stateSignalName3: 'Setpoint 1', maskSignal3: 3, operator3: '<=', iconClass: 'wf wf-tank-horizontal' }"></div>
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName4: 'Setpoint 1', maskSignal4: 3, operator4: '<=', iconClass: 'wf wf-drop' }"></div>
                                             
                    <div class="indicator-lg inline-block" data-bind="wfStateIndicator: { stateSignalName5: 'Setpoint 1', maskSignal5: 3, operator5: '<=', iconClass: 'wf wf-flash' }"></div>
                    <div class="indicator-md inline-block" data-bind="wfStateIndicator: { stateSignalName6: 'Setpoint 1', maskSignal6: 3, operator6: '<=', iconClass: 'wf wf-blower' }"></div>
                    <div class="indicator-sm inline-block" data-bind="wfStateIndicator: { stateSignalName7: 'Setpoint 1', maskSignal7: 3, operator7: '<=', iconClass: 'wf wf-light-bulb-eco' }"></div>
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName8: 'Setpoint 1', maskSignal8: 3, operator8: '<=', iconClass: 'wf wf-fan-symbol' }"></div>


                </div>
            </div>
        </div>



        <div class="col-lg-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Status display</h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Signal "Temperature 2" properties</h4>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            Description: <span data-bind="wfSignalInformation: { signalName: 'Temperature 2', propertyName: 'Description' }"></span>
                        </div>
                        <div class="col-sm-6 col-xs-4">
                            Unit: <span data-bind="wfSignalInformation: { signalName: 'Temperature 2', propertyName: 'Unit' }"></span>
                        </div>
                        <div class="col-sm-6 col-xs-4">
                            Minimum: <span data-bind="wfSignalInformation: { signalName: 'Temperature 2', propertyName: 'Maximum' }"></span>
                        </div>
                        <div class="col-sm-6 col-xs-4">
                            Maximum: <span data-bind="wfSignalInformation: { signalName: 'Temperature 2', propertyName: 'Minimum' }"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Gauge Widgets</h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-8">
                            <h3 class="text-center text-bold">Title Text</h3>
                            <br />
                            <div data-bind="wfValueGauge: { signalName: 'Local Second', width: 275, lowRangeStart: 0.01, lowRangeEnd: 20, majorTicks: 11, iconClass: 'wf-lg wf-heating-motor fa-3x' }"></div>
                        </div>
                        <div class="col-sm-4">
                            <div data-bind="wfValueGauge: { width: 125, signalName: 'Temperature 1', minRange: 0, maxRange: 50, highRangeStart: 20, majorTicks: 6, minorTicks: 5, innerRadius: 0.8, iconClass: 'wf wf-brightness fa-2x', iconBackgroundColor: '#F0AD4E', backgroundFillColor: '#5BC0DE', lowRangeFillColor: 'transparent' }"></div>
                            <hr class="divider" />
                            <div data-bind="wfValueGauge: { width: 125, signalName: 'Temperature 1', minRange: 0, maxRange: 50, highRangeStart: 20, majorTicks: 6, minorTicks: 5, innerRadius: 0.8, iconClass: 'wf-lg wf-heating-oil-o fa-2x', iconBackgroundColor: '#F0AD4E', backgroundFillColor: '#5BC0DE', lowRangeFillColor: 'transparent' }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Arc Widgets</h3>
                </div>
                <div class="panel-body">
                    <div class="pull-left" data-bind="wfValueArc: { signalName: 'Local Second' }"></div>
                    <div class="pull-left" data-bind="wfValueArc: { signalName: 'Local Minute', startAngle: 0.0, endAngle: 360, maxRange: 60, width: 180, height: 180, innerRadius: 0.8, marginBottom: 5, backgroundColor: '#E6E6E6', foregroundColor: '#005FCC', iconClass: 'wf wf-drop fa-2x' }"></div>
                    <div class="pull-left" data-bind="wfValueArc: { signalName: 'Local Second', startAngle: -180.0, endAngle: 90, maxRange: 90, width: 180, height: 170, innerRadius: 0.8, marginBottom: 5, backgroundColor: '#E6E6E6', foregroundColor: '#EB9316', iconClass: 'wf wf-flash fa-2x', showTickLabels: true, majorTicks: 9 }"></div>
                    <div class="pull-left" style="width: 180px; height: 180px;">
                        <div class="absolute" data-bind="wfValueArc: { signalName: 'Local Hour', showValueLabel: false, showSignalUnit: false, startAngle: 0.0, endAngle: 360, maxRange: 60, width: 180, height: 180, innerRadius: 0.8, marginBottom: 5, backgroundColor: '#E6E6E6', foregroundColor: '#005FCC', iconClass: 'none' }"></div>
                        <div class="absolute" style="margin: 15px" data-bind="wfValueArc: { signalName: 'Local Minute', showValueLabel: false, showSignalUnit: false, startAngle: 0.0, endAngle: 360, maxRange: 60, width: 150, height: 150, innerRadius: 0.8, marginBottom: 5, backgroundColor: '#EAEAEA', foregroundColor: '#EB9316', iconClass: 'none' }"></div>
                        <div class="absolute" style="margin: 28px" data-bind="wfValueArc: { signalName: 'Local Second', showValueLabel: false, showSignalUnit: false, startAngle: 0.0, endAngle: 360, maxRange: 60, width: 124, height: 124, innerRadius: 0.8, marginBottom: 5, majorTicks: 40, backgroundColor: '#EFEFEF', foregroundColor: '#880000', iconClass: 'none' }">
                            <div class="wf-arc-content text-center" data-part="content">
                                <i class="wf-electric wf-transformer-3-coil wf-3x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-left" data-bind="wfValueArc: { signalName: 'Temperature 1', maxRange: 25, width: 75, height: 75, backgroundColor: '#EFEFEF', foregroundColor: '#880000', showValueLabel: false, showSignalUnit: false, startAngle: 0.0, endAngle: 360,  innerRadius: 0.5, strokeWidth: 0, marginBottom: 5,  iconClass: 'none', majorTicks: 4 }"></div>
                            <div class="pull-left" data-bind="wfValueArc: { signalName: 'Servo 1', maxRange: 15, width: 75, height: 75, backgroundColor: '#EFEFEF', foregroundColor: '#880000', showValueLabel: false, showSignalUnit: false, startAngle: 0.0, endAngle: 360,  innerRadius: 0.5, strokeWidth: 0, marginBottom: 5,  iconClass: 'none', majorTicks: 6 }"></div>
                            <div class="pull-left" data-bind="wfValueArc: { signalName: 'Servo 2', maxRange: 25, width: 75, height: 75, backgroundColor: '#EFEFEF', foregroundColor: '#880000', showValueLabel: false, showSignalUnit: false, startAngle: 0.0, endAngle: 360,  innerRadius: 0.5, strokeWidth: 0, marginBottom: 5,  iconClass: 'none', majorTicks: 6 }"></div>
                            <div class="pull-left" data-bind="wfValueArc: { signalName: 'Temperature 1', maxRange: 60, width: 75, height: 75, backgroundColor: '#EFEFEF', foregroundColor: '#880000', showValueLabel: false, showSignalUnit: false, startAngle: 0.0, endAngle: 360,  innerRadius: 0.5, strokeWidth: 0, marginBottom: 5,  iconClass: 'none', majorTicks: 4 }"></div>
                            <div class="pull-left" data-bind="wfValueArc: { signalName: 'Temperature 2', maxRange: 100, width: 75, height: 75, backgroundColor: '#EFEFEF', foregroundColor: '#880000', showValueLabel: false, showSignalUnit: false, startAngle: 0.0, endAngle: 360,  innerRadius: 0.5, strokeWidth: 0, marginBottom: 5,  iconClass: 'none', majorTicks: 20 }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bargraph Widgets</h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-6">
                            <div data-bind="wfValueBarGraph: { signalName: 'Temperature 1', titleText: 'Temperature 1', cssClass: 'progress-bar-danger', orientation: 'horizontal right' }"></div>
                            <div data-bind="wfValueBarGraph: { signalName: 'Servo 1', progressBarSize: 'progress-sm', titleText: 'Vibrarionssensor 1', cssClass: 'progress-bar-warning', orientation: 'horizontal right' }"></div>
                            <div data-bind="wfValueBarGraph: { signalName: 'Local Second', progressBarSize: 'progress-sm', titleText: 'Generator', cssClass: 'progress-bar-success', orientation: 'horizontal right', showTickLabels: true, iconClass: 'wf wf-motor-electric'  }"></div>
                        </div>
                        <div class="col-xs-6">
                            <div data-bind="wfValueBarGraph: { signalName: 'Temperature 2', titleText: 'Temperatur 2'}"></div>
                            <div data-bind="wfValueBarGraph: { signalName: 'Servo 2', progressBarSize: 'progress-sm', titleText: 'Vibrarionssensor 2'}"></div>
                            <div data-bind="wfValueBarGraph: { signalName: 'Local Second', progressBarSize: 'progress-sm', titleText: 'RPM', showTickLabels: true, iconClass: 'wf wf-speed-gauge' }"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Online Signal Display</h3>
                </div>
                <div class="panel-body">


                    <div class="signalDisplay" data-bind="wfValueDisplay: { signalName: 'Level 2', unitLabel: true }"></div>
                    <div class="signalDisplay" data-bind="wfValueDisplay: { signalName: 'Vibration 4', label: 'LABEL TEXT', unitLabel: true }"></div>
                    <div class="signalDisplay" data-bind="wfValueDisplay: { signalName: 'Temperature 2', label: 'LABEL TEXT', iconClass: 'wf wf-fan', unitLabel: true }"></div>

                    <div class="signalDisplay" data-bind="wfValueDisplay: { signalName: 'Setpoint 1', signalNameLabel: true, unitLabel: true }"></div>
                    <div class="signalDisplay" data-bind="wfValueDisplay: { signalName: 'Setpoint 1', label: 'Label', unitLabel: true, signalNameLabel: true, iconClass: 'fa fa-lightbulb-o', displayClass: 'label-default' }"></div>

                </div>
            </div>
        </div>




        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Online Signal Values</h3>
                </div>
                <div class="panel-body">

                    <h3 class="panel-title">Basic signal vlaue</h3>
                    <p data-bind="wfValue: { signalName: 'Local Second' }"></p>
                    <p data-bind="wfValue: { signalName: 'Local Second', format: '0,0.00' }"></p>


                    <h3 class="panel-title">Sensor Widgets with pointer</h3>
                    <br />
                    <div data-bind="wfSensorValue: {pointerLength: '18', pointerRotation: '0', sensorText: 'T', signalName: 'Local Hour', staticUnitText: '°C' }"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Modified Status Indicator widget</h3>
                </div>
                <div class="panel-body">
                    <h3 class="text-center">Motor 1</h3>
                    <div class="motor" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 1, stateSignalName2: 'Setpoint 1', maskSignal2: 0 }"></div>
                    <div data-bind="demoSignalWriteButtonGroup2: { signalName1: 'Setpoint 1', writeValue1: 1, buttonText1: 'AN', cssClass1: 'btn-success', iconClass1: 'fa fa-power-off', signalName2: 'Setpoint 1', writeValue2: 0, buttonText2: 'AUS', cssClass2: 'btn-default', iconClass2: 'fa fa-power-off' }"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Modified Status Indicator widget</h3>
                </div>
                <div class="panel-body">

                    <h3 class="text-center">Maschine 1</h3>
                    <div class="machine_indicator block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 2', maskSignal1: 1, stateSignalName2: 'Setpoint 2', maskSignal2: 0 }"></div>
                    <div data-bind="demoSignalWriteButtonGroup2: { signalName1: 'Setpoint 2', writeValue1: 1, buttonText1: 'AN', cssClass1: 'btn-success', iconClass1: 'fa fa-power-off', signalName2: 'Setpoint 2', writeValue2: 0, buttonText2: 'AUS', cssClass2: 'btn-default', iconClass2: 'fa fa-power-off' }"></div>
                </div>
            </div>
        </div>
    </div>
</div>