﻿<div class="container-fluid">
    <header>
        <h1 class="page-header">i4SCADA App - Misc Graphical Components</h1>
    </header>

    <div class="row">
        <div class="col-sm-8">
            <h3>Button Sizes</h3>
            <!-- Standard button -->
            <button type="button" class="btn btn-default">btn-default</button>
            <button type="button" class="btn btn-primary ">btn-primary</button>
            <button type="button" class="btn btn-success inline">btn-success</button>
            <button type="button" class="btn btn-info">btn-info</button>
            <button type="button" class="btn btn-warning">btn-warning</button>
            <button type="button" class="btn btn-danger">btn-danger</button>
            <button type="button" class="btn btn-link">btn-link</button>
            <button class="btn btn-variant-dark">btn-variant-dark</button>
        </div>

        <div class="col-sm-4">
            <h3 class="v-margin">Button Sizes</h3>
            <button type="button" class="btn btn-lg btn-default">btn-lg</button>
            <button type="button" class="btn btn-primary">Default size</button>
            <button type="button" class="btn btn-sm btn-default">btn-sm</button>
            <button type="button" class="btn btn-xs btn-default">btn-xs</button>
        </div>
    </div>


    <h3>Status Colors</h3>

    <div class="row">
        <div class="col-sm-2">
            <h5>normal</h5>
            <i class="normal wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-sm-2">
            <h5>running</h5>
            <i class="running wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-sm-2">
            <h5>warning</h5>
            <i class="warning wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-sm-2">
            <h5>error</h5>
            <i class="error wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-sm-2">
            <h5>maintenance | hand</h5>
            <i class="maintenance wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-sm-2">
            <h5>critical</h5>
            <i class="critical wf-electric wf-motor wf-4x"></i>
        </div>

        <br /><br />
    </div>

    <div class="row">
        <div class="col-xs-12 v-margin">
            <h3>Basic Modifier Class Names</h3>
        </div>
        <div class="col-xs-12">
            <h4>Rotation</h4>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>Default Icon</h5>
            <i class=" wf-4x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-se</h5>
            <i class="wf-se wf-4x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-s</h5>
            <i class="wf-s wf-4x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-sw</h5>
            <i class="wf-sw wf-4x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-w</h5>
            <i class="wf-w wf-4x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-nw</h5>
            <i class="wf-nw wf-4x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-n</h5>
            <i class="wf-n wf-4x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-ne</h5>
            <i class="wf-ne wf-4x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-e</h5>
            <i class="wf-e wf-4x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-xs-12">
            <h4>Sizing</h4>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>wf-6x</h5>
            <i class="wf-6x wf-lg wf-full-screen"></i>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>wf-5x</h5>
            <i class="wf-5x wf-lg wf-full-screen"></i>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>wf-4x</h5>
            <i class="wf-4x wf-lg wf-full-screen"></i>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>wf-3x</h5>
            <i class="wf-3x wf-lg wf-full-screen"></i>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>wf-2x</h5>
            <i class="wf-2x wf-lg wf-full-screen"></i>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>wf-1x</h5>
            <i class="wf-1x wf-lg wf-full-screen"></i>
        </div>
    </div>


    <h3>Markers Elements</h3>

    <div class="row">
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="v-margin">marker marker-primary</h5>
            <div class="marker marker-primary center-block" data-bind="click: clicked">
                <div class="pulse pulse-blue"></div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="v-margin">marker marker-danger</h5>
            <div class="marker marker-danger center-block" data-bind="click: clicked">
                <div class="pulse pulse-danger"></div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="v-margin">marker marker-success</h5>
            <div class="marker marker-success center-block" data-bind="click: clicked">
                <div class="pulse pulse-success"></div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="v-margin">marker marker-warning</h5>
            <div class="marker marker-warning center-block" data-bind="click: clicked">
                <div class="pulse pulse-warning"></div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="v-margin">marker marker-info</h5>
            <div class="marker marker-info center-block" data-bind="click: clicked">
                <div class="pulse pulse-info"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Callout elements</h3>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-info">
                <h4 class="wf-callout-box-title">Info Callout</h4>
                <p>wf-callout-box wf-callout-box-info</p>
            </div>
        </div>


        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-success">
                <h4 class="wf-callout-box-title">Success Callout</h4>
                <p>wf-callout-box wf-callout-box-success</p>
            </div>
        </div>


        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-danger">
                <h4 class="wf-callout-box-title">Danger Callout</h4>
                <p>wf-callout-box wf-callout-box-danger</p>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-warning">
                <h4 class="wf-callout-box-title">Warning Callout</h4>
                <p>wf-callout-box wf-callout-box-warning</p>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-primary">
                <h4 class="wf-callout-box-title">Primary Callout</h4>
                <p>wf-callout-box wf-callout-box-primary</p>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-default">
                <i class="wf-callout-box-icon wf-lg wf-server"></i>
                <h4 class="wf-callout-box-title">Default Callout</h4>
                <p>Default callout with any icon</p>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-default">
                <i class="wf-callout-box-icon wf-lg wf-bell animated swing infinite text-danger"></i>
                <h4 class="wf-callout-box-title">Example Callout</h4>
                <p>Callout with an icon</p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h3>Positioning with Flexbox</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-center</h5>
            <div class="flexbox flexbox-v-center bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-center flexbox-h-center</h5>
            <div class="flexbox flexbox-v-center flexbox-h-center bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>


        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-center</h5>
            <div class="flexbox flexbox-v-center flexbox-h-end bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>


        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-center flexbox-h-justified</h5>
            <div class="flexbox flexbox-v-center flexbox-h-justified bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
                <i class="wf-lg wf-target wf-4x"></i>
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-center</h5>
            <div class="flexbox flexbox-v-start bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-center</h5>
            <div class="flexbox flexbox-v-end bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 v-margin">
            <h3>Banner / Ribbon Elements</h3>
            <br /><br />
        </div>

        <div class="col-xs-6 col-sm-2 v-margin">
            <div class="wf-ribbon wf-ribbon-l-t has-shadow">
                <span class="wf-ribbon-title">Ribbon 1 <small>wf-ribbon-l-t</small></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2 v-margin">
            <div class="wf-ribbon wf-ribbon-l-b has-shadow">
                <span class="wf-ribbon-title">Ribbon 2 <small>wf-ribbon-l-b</small></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2 v-margin">
            <div class="wf-ribbon wf-ribbon-r-b has-shadow">
                <span class="wf-ribbon-title">Ribbon 3 <small>wf-ribbon-r-b</small></span>

            </div>
        </div>

        <div class="col-xs-6 col-sm-2 v-margin">
            <div class="wf-ribbon wf-ribbon-r-t has-shadow">
                <span class="wf-ribbon-title">Ribbon 4 <small>wf-ribbon-r-t</small></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2 v-margin">
            <div class="wf-ribbon wf-ribbon-l-b wf-ribbon-r-t has-shadow">
                <span class="wf-ribbon-title">Ribbon 2 <small>wf-ribbon-l-b</small></span>
            </div>
        </div>
    </div>

    <br /><br /><br /><br /><br />

</div>
