﻿<div class="container">
    <header>
        <h1 class="page-header">Gebäudesteuerung</h1>
        <!--BUILDING CONTROL-->
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">LICHTSTEUERUNG</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-large btn-primary btn-block" data-bind="click: centralOff"><i class="fa fa-power-off"></i>&nbsp;ZENTRAL AUS</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ANWESENHEIT</h3>
                </div>
                <div class="panel-body">

                    <div class="indicator-center" data-bind="wfStateIndicator: { stateSignalName3: 'OperationMode3', maskSignal3: 1 }"></div>
                    <br />
                    <div data-bind="wfWriteValueButton: { signalName: 'OperationMode3', writeValue: 1, cssClass: 'btn-warning btn-large  btn-block', iconClass: 'fa fa-male' }"></div>
                    <div data-bind="wfWriteValueButton: { signalName: 'OperationMode3', writeValue: 0, cssClass: 'btn-default btn-large  btn-block', iconClass: 'fa fa-sign-out' }"></div>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="building_floor">
                <div id="room1_1" class="floor-element" data-bind="wfStateIndicator: { stateSignalName1: 'OperationMode1', maskSignal1: 1 }"></div>
                <div id="room1_2" class="floor-element" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 2', maskSignal1: 1 }"></div>
                <div id="room1_3" class="floor-element" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 3', maskSignal1: 1 }"></div>
                <div id="room1_4" class="floor-element" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 1 }"></div>
                <div id="room1_5" class="floor-element" data-bind="wfStateIndicator: { stateSignalName1: 'OperationMode3', maskSignal1: 1 }"></div>
                <div id="room1_8" class="floor-element" data-bind="wfStateIndicator: { stateSignalName1: 'OperationMode2', maskSignal1: 1 }"></div>
                <div id="room1_9" class="floor-element" data-bind="wfStateIndicator: { stateSignalName1: 'OperationMode3', maskSignal1: 1 }"></div>

                <div id="floor-ground">

                    <wf-modal-dialog class="room1" params="viewName: 'raumDialog', viewModel: {signalName:'Setpoint ', objectId: 1}, title: 'RAUM 01', draggable: false">
                        <div class="marker marker-blue">
                            <div class="pulse pulse-blue"></div>
                            <div class="touchpoint" style=""></div>
                            <i class="marker-icon" data-bind="css: 'fa fa-lightbulb-o'"></i>
                        </div>
                    </wf-modal-dialog>

                    <wf-modal-dialog class="room2" params="viewName: 'raumDialog', viewModel: {signalName:'Setpoint ', objectId: 2}, title: 'RAUM 02', draggable: false">
                        <div class="marker marker-blue">
                            <div class="pulse pulse-blue"></div>
                            <div class="touchpoint" style=""></div>
                            <i class="marker-icon" data-bind="css: 'fa fa-lightbulb-o'"></i>
                        </div>
                    </wf-modal-dialog>

                    <wf-modal-dialog class="room3" params="viewName: 'raumDialog', viewModel: {signalName:'Setpoint ', objectId: 3}, title: 'RAUM 03', draggable: false">
                        <div class="marker marker-blue">
                            <div class="pulse pulse-blue"></div>
                            <div class="touchpoint" style=""></div>
                            <i class="marker-icon" data-bind="css: 'fa fa-lightbulb-o'"></i>
                        </div>
                    </wf-modal-dialog>

                    <wf-modal-dialog class="room4" params="title: 'RAUM 04', viewName: 'raumDialog', viewModel: {signalName:'OperationMode ', objectId: 1}">
                        <div class="marker marker-blue">
                            <div class="pulse pulse-blue"></div>
                            <div class="touchpoint" style=""></div>
                            <i class="marker-icon" data-bind="css: 'fa fa-lightbulb-o'"></i>
                        </div>
                    </wf-modal-dialog>

                    <wf-modal-dialog class="room5" params="title: 'RAUM 05', viewName: 'raumDialog', viewModel: {signalName:'OperationMode ', objectId: 2}">
                        <div class="marker marker-blue">
                            <div class="pulse pulse-blue"></div>
                            <div class="touchpoint" style=""></div>
                            <i class="marker-icon" data-bind="css: 'fa fa-lightbulb-o'"></i>
                        </div>
                    </wf-modal-dialog>

                    <wf-modal-dialog class="room6" params="title: 'RAUM 06',viewName: 'raumDialog', viewModel: { signalName:'OperationMode ', objectId: 3}">
                        <div class="marker marker-blue">
                            <div class="pulse pulse-blue"></div>
                            <div class="touchpoint" style=""></div>
                            <i class="marker-icon" data-bind="css: 'fa fa-lightbulb-o'"></i>
                        </div>
                    </wf-modal-dialog>
                    
                    <wf-popover class="block absolute wf-3x room1_blinds" params="title: 'Wohnzimmer', viewName: 'jalousie-control', viewModel: { signalName: 'Setpoint 3', jalousieUpValue: 1, jalousieStopValue: 0, jalousieDownValue: 2 }">
                        <div class="marker marker-green absolute flexbox flexbox-v-center flexbox-h-center">
                            <div class="pulse pulse-green"></div>
                            <div class="touchpoint"></div>
                            <i class="marker-icon fa fa-bars"></i>
                        </div>
                    </wf-popover>

                    <wf-popover  class="block absolute wf-3x room1_temp" params="title: 'Raumtemperatur', position: 'bottom', viewName: 'room-temperature', viewModel: { signalNameBarGraph1: 'Local Minute', signalNameBarGraph2: 'Setpoint 2'}">
                        <div class="marker marker-red absolute flexbox flexbox-v-center flexbox-h-center">
                            <div class="pulse pulse-red"></div>
                            <div class="touchpoint"></div>
                            <i class="marker-icon wf wf-temperature"></i>
                        </div>
                    </wf-popover>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <!--<div class="panel-heading">
                    <h3 class="panel-title">Raumtemperatur</h3>
                </div>-->

                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="barGraph" data-bind="wfValueBarGraph: { signalName: 'Local Hour', unitLabel: true, titleText: 'Temperatur IST', minRange: 0, maxRange: 40, progressBarSize: 'progress-xs', cssClass: 'progress-bar-danger', iconClass: 'fa fa-thermometer typcn typcn-thermometer' }"></div>
                            <div class="barGraph" data-bind="wfValueBarGraph: { signalName: 'Setpoint 2', unitLabel: true, titleText: 'Temperatur SOLL', minRange: 0, maxRange: 40, progressBarSize: 'progress-xs', cssClass: 'progress-bar-danger', iconClass: 'fa fa-thermometer typcn typcn-thermometer' }"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="tooltip: { title: 'Temperaturverlauf', placement: 'left' }">
                <div data-bind="wfLogTagTrend: { lines: [{ signalName: 'Level 1', logTagName: 'LogTagLevel1', color: '#880000' }],
                                            chartHeight: 175, chartPaddingLeft: 20, chartPaddingRight: 20, x1TickCount: 3, legendVisible: false, settingsVisibility: false, headerVisibility: false, footerVisibility: false, subChartVisible: false, y1AxisVisible: false }">
                    <div data-part="trendHeader"></div>
                </div>
            </div>
        </div>
    </div>
</div>