﻿<!--
* Motor FU
    -->
<style>
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 850px;
    overflow-y: auto;
}
</style>
<div>
    <div data-bind="css: motor, click: openDialog, attr: { 'class': status }" style="cursor: pointer"></div>
    <div id="handanzeige" class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: handLinks + 'px', top: handOben + 'px', position: 'absolute', visibility: motorHand }"></div>
    <div id="frequenzumformer" class="bs_fu" data-bind="style: { visibility: fuanzeigen, left: fuLinks + 'px', top: fuOben + 'px', position: 'absolute' }">
        <div id="fu-typ" class="bs_fu_typ" data-bind="css: zustandFu, text: fuTyp"></div> 
        <div id="fu-anzeige" class="bs_fu_aktuellerwert" data-bind="text: aktuellerwert"></div>
        <div id="fu-handanzeige" class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: handLinksFu + 'px', top: handObenFu + 'px', position: 'absolute', visibility: handFuAnzeigen }"></div>
    </div>
    <div id="stufenanzeige" class="bs_Stufe" data-bind="style: { visibility: stufen }, text: betriebsstufe">?</div>
</div>
