﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WEBfactory i4SCADA App</title>
    <meta name="description" content="WEBfactory i4SCADA App"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>

    <link rel="apple-touch-startup-image" href="Content/images/ios-startup-image-landscape.png" media="(orientation:landscape)"/>
    <link rel="apple-touch-startup-image" href="Content/images/ios-startup-image-portrait.png" media="(orientation:portrait)"/>
    <link rel="apple-touch-icon" href="Content/images/icon.png"/>

    <link rel="shortcut icon" type="image/x-icon" href="Content/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="Content/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="Content/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Content/images/favicon-16x16.png">

    <meta name="apple-mobile-web-app-title" content="WEBfactory i4SCADA App - {{appVersion}}">

    <link rel="stylesheet" type="text/css" href="Content/styles.bundle.css?v={{appVersion}}"/>
    <link rel="stylesheet" type="text/css" href="Content/custom/custom.bundle.css?v={{appVersion}}"/>
	<link rel="stylesheet" type="text/css" href="ContentDemos/demos.bundle.css?v={{appVersion}}"/>

    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>

    


</head>
<body>
    <div id="applicationHost">
        {% autoescape false %}{{ splashContents }}{% endautoescape %}
    </div>

    <script type="text/javascript" src="Scripts/vendor1.bundle.js?v={{appVersion}}"></script>
    <script type="text/javascript" src="Scripts/vendor2.bundle.js?v={{appVersion}}"></script>
    <script type="text/javascript" src="Scripts/vendor3.bundle.js?v={{appVersion}}"></script>
    
	<script type="text/javascript">
        window.disableSignalBrowser =  false;
        var urlPath = window.document.location.href;
        var remoteIISServer = window.document.location.hostname;
		//var remoteIISServer = "localhost"; 

        var lowerUrlPath = urlPath.toLowerCase();
		if (_.str.endsWith(lowerUrlPath, ".html")) {
            urlPath = urlPath.split("/").slice(0,-1).join("/");            
        }

        if(!_.str.endsWith(urlPath, "/")) {
            urlPath += "/";
        }
        
        
        window.rootUrl = urlPath;
        window.rootUrlPrefix = window.document.location.origin.replace(window.document.location.hostname, remoteIISServer);
        window.appVersion = "{{appVersion}}".replace("-", ".");  

        window.defaultTimeZone = "W. Europe Standard Time";

        function resolveUrl(rootedUrl) {
            
            if (!rootedUrl) {
                return rootedUrl;
            }

            //  ~/_Services/WebServices/WCF/AlarmsService.svc
            if (rootedUrl.substring(0, 2) === "~/") {
                return rootedUrl.replace("~/", window.rootUrlPrefix + "/");
            }

            //  /_Services/WebServices/WCF/AlarmsService.svc
            if (rootedUrl.substring(0, 1) === "/") {
                return window.rootUrlPrefix + rootedUrl;
            }

            //  http://localhost/_Services/WebServices/WCF/AlarmsService.svc
            return rootedUrl.replace(window.document.location.hostName, remoteIISServer);
        }
    </script>

    <script type="text/javascript" src="Scripts/core.bundle.js?v={{appVersion}}"></script>

    {% if isDebug %}
    <script type="text/javascript" src="Scripts/require.js" data-main="App/src/main-app"></script>
    {% else %}
    <script type="text/javascript" src="App/dist/{{configurationName}}.js"></script>
    {% endif %}

</body>
</html>
